[2017-10-11 01:59] hassox commented on #405
Hey @mitkins For the TTL question, you can specify the TTL of different token types in your config or as options to `use Guardian`.

* `token_ttl` a map of `token_type` to `ttl`. Set specific ttls for specific types of tokens

The option for this would be:

[code]

Or you can set a default with the `ttl` option and just overwrite it.

[code]

For the remember me cookie... Pretty sure that's a bug.

[2017-10-13 00:20] mitkins commented on #405
After doing some digging, I found out the following additional information:

* With the default configuration `Guardian.Plug.VerifyCookie` expects to find the refresh token in a cookie called "guardian_default_token". So it doesn't end up finding it in the cookie it was put in ("default")
* In the case that the refresh token is no longer valid, the error handler is executed and `halt()` is called.

[2017-10-13 08:44] ghatighorias opened #410 "r"

[2017-10-13 08:45] #410 closed

[2017-10-18 11:14] mitkins commented on #405
The other thing that I just noticed, is that the cookie does not have a lifespan and is not persistent over browser sessions

[2017-10-21 15:58] Euklidian-Space opened #411 "(Protocol.UndefinedError) When using MyApp.Guardian.Plug.sign_in on ~> 1.0-beta"
I am attempting to use Plug.sign_in passing in a user struct returned from an ecto query and I am getting the following error output

[error] #PID<0.562.0> running VoterWeb.Endpoint terminated
Server: localhost:4000 (http)
Request: POST /api/sessions
** (exit) an exception was raised:
    ** (Protocol.UndefinedError) protocol Enumerable not implemented for :access. This protocol is implemented for

[2017-10-22 09:44] vjorjo opened #412 "sign_out clears all messages added by put_flash"
I have this code:

[code]
the problem is that sign_out drops the entire session and consequently it deletes flash messages.
However a previous version I had used in another project didn't have this side effect.

Is there any solution for this?

[2017-10-25 17:39] doomspork commented on #411
@Euklidian-Space which version of Guardian are you currently using?

[2017-10-25 17:43] doomspork commented on #411
@Euklidian-Space if you're using Guardian 1.0 you'll need to change up the params to sign_in.  Try something like this:

[code]

[2017-10-25 17:46] doomspork commented on #412
Sounds like a bug in 1.0, thanks for the report!

[2017-10-26 15:08] #412 closed

[2017-10-26 16:44] scrogson commented on #411
Based on the example code above (`Voter.Guardian.Plug.sign_in`), it looks like @Euklidian-Space is using `1.0`

[2017-10-26 17:56] #411 closed

[2017-10-31 10:05] zhulinpinyu opened #414 "use 1.0-beta Got undefined function find_me_a_resource"
[code]

{:guardian, "~> 1.0-beta"}

[2017-10-31 10:06] yordis commented on #414
@zhulinpinyu could you put the stack trace? With that people outside of guardian team could take a look faster because we do not know the code base but reading the stack trace we can figure out faster.

[2017-10-31 10:09] yordis opened #415 "Fix Guardian compilation when Plug is not being use"
https://github.com/ueberauth/guardian/blob/708f924806995c749c6c27c3c93dab76fc212bde/lib/guardian/permissions/bitwise.ex#L371  for some reason that line is not actually doing what we expect and the compilation of Guardian fails if there is no `Plug` module

`V1` related

[2017-10-31 15:21] zhulinpinyu commented on #414
[code]

[2017-10-31 15:27] yordis commented on #414
@zhulinpinyu ahhhhhh I see what is the problem

`find_me_a_resource` is not a function from Guardian, the point is that you replaced `find_me_a_resource` with some function from your logic, which could take what comes from `claims["sub"]` and return the resource back. You could do the business logic in that function as well but I wouldn't.

[code]

[2017-10-31 20:08] doomspork commented on #414
@yordis is correct, you're referencing a function that does not exist.  Thanks for helping out @yordis ❤️

[2017-10-31 20:08] #414 closed

[2017-11-01 10:07] Hanspagh commented on #415
So its seems like` Code.ensure_loaded` only work on module level. I propose to move the permission plug to Guardian.Plug.Permission, this however is a breaking change. What do you think about this?

[2017-11-02 14:59] zhulinpinyu commented on #386
@TylerPachal  I think this blog is very well. https://medium.com/@tylerpachal/session-authentication-example-for-phoenix-1-3-using-guardian-1-0-beta-a228c78478e6

[2017-11-02 16:21] zhulinpinyu commented on #414
@yordis  thanks you much.

[code]

[2017-11-02 16:31] julien-leclercq opened #416 "is Guardian.Plug.current_resource the best place to put it ?"
a small design question

In my mind plug should be functions that take a `Plug.Conn` and return a `Plug.Conn` so I wondered why did you decide to put `current_resource/1` in `Guardian.Plug`.

Disclaimer : I don't expect a change since it would be breaking for most users but assuming you're more experimented developpers than I am, I wanted to ask this question :)

Best Regards

Julien

[2017-11-02 16:45] yordis commented on #416
@julien-leclercq that is interesting but I would say that if you think from domain of the application.

`Plug` is a module that deals with `Plug.Conn`. Don't forget that this is functional programming, modules are just for encapsulation of the functions togethers.

By design, I would say that is all about grouping functionalities rather than OOP where you group by objects.

But that is my opinion.

[2017-11-07 09:31] Hanspagh commented on #415
Fixed by #404

[2017-11-07 09:32] hassox commented on #416
There are many examples of functions in the `Plug.Conn` module that do not take and return a conn. `read_body`, `get_session`, `get_req_header`, `send_chunked`.

`assign` and `put_private` do return a conn struct but to access the data on them you access via `assigns` or `private` attributes. Guardian stores it's data in the connection in the `private` attribute, namespaced so as not to collide (a

[2017-11-07 09:33] #415 closed

[2017-11-07 09:35] hassox commented on #405
I'm wondering if we should pull this for now. This seems to be a little buggy atm and I don't really want to hold up 1.0 anymore.

@mitkins @doomspork @scrogson thoughts?

[2017-11-07 10:17] mitkins commented on #405
I sat pull it out, release 1.0, then give it the treatment it deserves. I'm happy to workaround for now.

[2017-11-07 12:05] Hanspagh commented on #405
Hi, I started working on this, any suggesting to the lifespan of the cookie?

[2017-11-07 12:09] mitkins commented on #405
I've been giving it the same lifespan as the ttl for the refresh token

[2017-11-07 17:09] doomspork commented on #416
@julien-leclercq it sounds like the module name might be confusing?  The `Guardian.Plug` module isn't a plug, it's a collection of helpers for working with a connection.

[2017-11-07 17:54] julien-leclercq commented on #416
yep I got it now thanks for your answers mates !

[2017-11-07 18:26] #416 closed

[2017-11-08 13:47] beno opened #420 "(RuntimeError) `module` not set in Guardian pipeline"
I just moved from 0.14 to 1.0 beta, followed the guides and docs as best I could but I keep running into the above error. I haven't found any mention of a `module` config or where I am supposed to put it, probably some missing router setup ( I am using a fairly basic Phoenix MVC app)? Please advise and if necessary update the docs.

[2017-11-08 15:49] Hanspagh commented on #420
Sounds like your are missing setting a module for your pipeline, take a look at this https://github.com/ueberauth/guardian#create-a-custom-pipeline, if you have already done this, could you provide a code sample or a more detailed error message?

[2017-11-08 18:23] beno commented on #420
It turns out I needed to add

    plug Guardian.Plug.Pipeline, module: App.Guardian, error_handler: App.Web.SessionController

to my 0.14 pipelines.

[2017-11-08 18:24] beno commented on #420
It turns out I needed to add

    plug Guardian.Plug.Pipeline, module: App.Guardian, error_handler: App.Web.SessionController

to my 0.14 pipelines.

[2017-11-08 18:24] #420 closed

[2017-11-09 10:23] Hanspagh commented on #386
@praveenperera Currently the `remember_me` and `verify_cookie`, does not look for/store the token under the same key. So even though the above is correct it wont work. Its getting fix in #419
And you right about the docs, I will put that into the PR.

[2017-11-20 20:44] sjoconnor opened #426 "Trouble with JWT Config (No secret key configured for JWT)"
I'm trying to setup Guardian to work with Phoenix and Ldap. I seem to be stuck with some configuration. My Guardian config looks roughly like this:

[code]

I have a `SessionController` where I'm hitting Ldap and then doing something like this:

[code]
The Ldap portion is working fine, but I keep getting this error from Guardian:

[code]

I can't tell if this is a config issue on my side or a bug.

[2017-11-20 20:49] sjoconnor commented on #426
Sorry for the report. This was a config issue on my end. I had my `otp_app` set to something different that what was in my config file.

[2017-11-20 20:49] #426 closed

[2017-11-24 11:40] alec-c4 commented on #414
Lads, could you add it to documentation?

[2017-11-24 11:44] yordis commented on #414
@doomspork I would use this snippet

[code]

At least they can relate `MyApp` and the breaking down of `{:ok, resource}`

[2017-11-24 16:37] doomspork commented on #414
@yordis if you'd like to open a PR to update the docs with that snippet go for it 👍

[2017-11-24 19:33] yordis commented on #414
@doomspork done

[2017-11-25 04:06] rafbgarcia opened #428 "function nil.peek/2 is undefined or private"
Just started using Guardian and am facing this issue when attempting to revoke a token.

It says the issue is [in this line](https://github.com/ueberauth/guardian/blob/master/lib/guardian.ex#L664).

(image is clearer, but code is below fwiw)

<img width="1360" alt="2__iex_-s_mix_phx_server" src="https://user-images.githubusercontent.com/1904314/33227195-cd2f7daa-d184-11e7-8e62-aab30e20e0ce.png">

[2017-11-26 20:59] steveops commented on #386
Hi all, could someone clarify to me this part of the documentation, the part where it says the plug does nothing if session is not loaded. I thought this should not depend on the session?
<img width="1017" alt="screen shot 2017-11-26 at 23 55 04" src="https://user-images.githubusercontent.com/12711215/33244278-65f86160-d305-11e7-86ef-169d6213f0e5.png">

[2017-11-27 18:21] mattdevelops opened #429 "No secret key configured for JWT."
I have a suspicion that it has to do something with my config, however I believe I set it up the way it was mentioned.

_config.exs_

[code]

_crypto_tracker_guardian.ex_

[code]

And whenever I run my test i get `** (RuntimeError) No secret key configured for JWT`

[2017-11-27 18:23] yordis commented on #429
@mattdevelops post the error trace so I can try to help you out. It makes it easier to easy path of the execution

[2017-11-27 18:26] mattdevelops commented on #429
Found the issue, typo @ `use Guardian, opt_app: :crypto_tracker`. It was supposted to be `use Guardian, otp_app: :crypto_tracker`

[2017-11-27 18:26] #429 closed

[2017-11-27 18:46] yordis commented on #428
https://github.com/ueberauth/guardian/blob/master/lib/guardian.ex#L393
For some reason `config(:token_module)` is giving `nil` back

[2017-11-27 18:50] yordis commented on #428
@rafbgarcia could you please check your config and see what you have on ` token_module` key

[2017-11-27 18:51] rafbgarcia commented on #428
@yordis nothing..

[code]

[2017-11-27 18:56] yordis commented on #428
I found the issue. We are not falling back to the default

`token_mod = apply(mod, :config, [:token_module, @default_token_module])` This is normally how we should read the `token_mod`

[2017-11-27 18:59] yordis commented on #428
@rafbgarcia do me a favor please, change this function

[code]

to

[code]

That is the actual fix

[2017-11-27 19:31] rafbgarcia commented on #428
@yordis I saw your PR, do you still want me to do that?

[2017-11-27 19:40] yordis commented on #428
@rafbgarcia I am doing more than just changing that line. I will handle it, I just wanna you to confirmed because you had the environment for it

[2017-11-27 19:43] rafbgarcia commented on #428
Just tested it, I can confirm it works @yordis, thanks

[2017-11-27 20:35] #428 closed

[2017-11-28 15:49] kelostrada opened #431 "any_permissions? broken"
`any_permissions?/2` is broken. Already found a solution, making PR right now.

This test should pass but it fails:

    refute Impl.any_permissions?(%{user: [:write]}, %{user: [:read]})

[2017-11-28 16:47] #431 closed

[2017-12-11 23:10] iacobson commented on #386
I see that the `remember_me` function was removed.
[code]

Is there another way to use the `Guardian.Plug.VerifyCookie` ?

Thank you

[2017-12-12 12:59] Hanspagh commented on #386
@iacobson the remember_me functionality was removed temporarily, but we in the process of adding it back. See #419

[2017-12-12 13:20] iacobson commented on #386
Perfect. Thanks. I will keep an eye on that. Hope will be merged soon

[2017-12-14 22:58] Yamilquery opened #434 ""message": "no_resource_found""
In my router.ex

[code]

When I make a request I get:

`{
	"message": "no_resource_found"
}`

[2017-12-19 14:00] SofaKing18 opened #435 "Guardian.revoke(token) method raises error"
In calling method Guardian.revoke(token) getting error below:

![image](https://user-images.githubusercontent.com/15660128/34160130-be3d9104-e4dc-11e7-9640-502f01d8839e.png)

Seems like `mod.peek(token) ` should be replaced to `token_mod.peek(token)`

But when i did this, got another error:
![image](https://user-images.githubusercontent.com/15660128/34160360-b0919496-e4dd-11e7-81c3-d2dfda565d4e.pn

[2017-12-19 21:33] yordis commented on #435
Fixed by https://github.com/ueberauth/guardian/pull/430

@ueberauth/core could somebody release it if it nos released yet.

[2017-12-23 04:34] atomkirk opened #437 "Migration guide"
Can you provide a quick migration guide from <1 to 1?

Maybe in the wiki?

[2017-12-26 09:44] joshuataylor commented on #437
https://github.com/ueberauth/guardian/blob/master/upgrade_guides/0.14.to.1.0.md

And the CHANGELOG as well, though it's missing removed functions.

[2017-12-26 09:46] yordis commented on #437
@joshuataylor thank you for pointing it out.

@atomkirk if you have any feedback from the migration let us know.

[2017-12-26 09:46] #437 closed

[2017-12-26 09:50] joshuataylor commented on #437
I'm in the middle of a migration from 0.14 to 1.0, and the guide seems great so far :+1:

[2017-12-27 22:18] johnnyji opened #438 "Programmatically invalidate all existing tokens?"
Hi there!

I was wondering if there was a way to invalidate all existing tokens? The example use case would be deploying some new code to production that would require all users to log out?

Please let me know if this is currently possible with Guardian. I didn't seem to see it anywhere in the documentation.

Thanks for the amazing library 👍

[2017-12-28 00:54] yordis commented on #438
Guardian do not show any example right now because how you do it is really up to your needs and your application. Specially that Guardian allow you to create your own tokens and stuff like that so I will explain a little bit about JWT tokens (if you change your token then your strategy will change wit it)

For invalidate JWT tokens you will need to change your encryption keys or wait until the exp

[2017-12-28 00:58] yordis commented on #435
@hassox Do you think is possible to have some patch release so people dont keep getting into this error?

[2017-12-28 01:02] yordis commented on #434
@Yamilquery `LoadResource` plug is the one that is failing, make sure that your `resource_from_claims/1` function from your Guardian module is actually returning `{:ok, resource}`

But I need more context of your application for be able to help you out.

[2017-12-28 03:08] johnnyji commented on #438
@yordis Thank you for the amazingly detailed explanation! I can't believe I didn't think of just resetting the secret key haha

[2017-12-28 04:38] #438 closed

[2017-12-31 23:20] doomspork commented on #435
@yordis and @SofaKing18 v1.0.1 has been released 👍

[2017-12-31 23:20] #435 closed

[2018-01-01 15:30] jstoeffler opened #439 "Issues refreshing jwt"
Hello. I'm new with elixir, so sorry if this is a noob question.
I managed to register users and get a jwt. However I have some problems trying to refresh it.

Here's my code:

	  def refresh(conn, _params) do
	    user = Cryptohexa.Guardian.Plug.current_resource(conn)
	    jwt = Cryptohexa.Guardian.Plug.current_token(conn)
	    Logger.info "Previous jwt:"
	    Logger.info jwt

	    case Cryptohex

[2018-01-01 16:16] hassox commented on #439
Hi. Not sure if the code you pasted is the code you're running. You're logging test_jwt but it should be new_jwt. Is that accurate?

[2018-01-01 16:43] jstoeffler commented on #439
Yes, sorry for the confusion I updated the code.

[2018-01-01 18:22] hassox commented on #439
Refresh has a slightly different signature than encode and sign. It returns

{:ok, {old_token, old_claims}, {new_token, new_claims}}

So your pattern match in your case would need to be

{:ok, _, {new_jwt, _}}

[2018-01-01 18:58] jstoeffler commented on #439
Thanks, I'm not very confident with signatures in elixirs and pattern matching.

However I still get the same token after it has been refreshed, is that expected?

[2018-01-01 18:59] jstoeffler commented on #439
Oh my bad, it's just the beginning of the token which is the same. It's different.

Thanks for your help!

[2018-01-01 19:00] #439 closed

[2018-01-02 18:59] pedromvieira opened #440 "Plug Sign_In and EnsureAuthenticated"
I'm using Elixir 1.5.1 with Guardian 1.0.1 (and Guardian DB 1.1...).
After successfully authenticate with Guardian Plug, I cannot use other plugs like VerifySession, LoadResource or EnsureAuthenticated, although I can "replicate" those functions manually.
I had all working functions with previous builds (< 1.0).

CONFIG
[code]

PIPELINE
[code]

SIGN_IN
`...
    conn
    |> Phishx.Guardian.Plug.sig

[2018-01-02 19:06] hassox commented on #440
Hey @pedrovieira. At first glance it looks like you have the "key" option set to your secret key for your pipeline. This should not be your secret key. Unless you're doing something like impersonation you should leave that key unset. That key refers to the namespace that will be used on the connection to store the tokens and stuff. Can you remove that key and let us know how that goes?

I'm assumi

[2018-01-02 19:12] pedrovieira commented on #440
hey @hassox, thanks for the mention, but I think you were trying to say @pedromvieira 😛

[2018-01-02 19:31] pedromvieira commented on #440
@hassox thanks.
I removed key from Auth Pipeline and it's working. :)
I will try now the new bitwise permissions.

PIPELINE
`defmodule Phishx.Guardian.AuthPipeline do
  @moduledoc """
  Guardian Auth Pipeline Settings.
  """

  use Guardian.Plug.Pipeline,
      otp_app: :phishx,
      module: Phishx.Guardian,
      error_handler: Phishx.Guardian.ErrorHandler

  plug Guardian.Plug.VerifySession
  p

[2018-01-03 12:40] #440 closed

[2018-01-03 14:56] pedromvieira opened #442 "Bitwise Plug one_of and ensure with when clause"
I'm trying to use Bitwise plug without success.
My token works and I can use any_permissions? and all_permissions? manually.
Any_permissions could check both conditions on a map?
Our user has a "profile" and "permissions", like "account_user" = account (default) + read (user_actions).

TOKEN_MODEL
[code]

CLAIM EXAMPLE
[code]

PERMISSIONS DECODE
[code]

MANUAL VALIDATION
[code]

ONE_OF PLUG
[code]

[2018-01-03 16:49] pedromvieira commented on #442
With a simpler permission model, same thing occurs, manually works but plug dont.
Do we need to write our plug?

TOKEN_MODULE
[code]

CLAIM
[code]

DECODE
[code]

[2018-01-03 17:35] pedromvieira commented on #442
Just to make it clear, with this simple custom plug works.
Is there a way to do it with vanilla guardian?

PLUG EXAMPLE
[code]

CONTROLLER CALL
[code]

[2018-01-04 14:12] willsoto commented on #434
I am having the same issue.

As best as I can tell, `resource_from_claims/1` is not being called despite it being defined in `MyApp.Auth.Guardian` module.

here is my pipeline:

[code]

The `MyApp.Auth.Guardian` module is exactly what is on the README (with slight tweaks to actually get my resource). FWIW, I know `subject_for_token/2` is being correctly called and returning the appropriate tuple.

[2018-01-04 16:52] hassox commented on #434
Can you paste your guardian module please?

[2018-01-04 17:54] willsoto commented on #434
[code]

This is basically taken verbatim from the README with the extra functions removed (the compiler was saying that they would never be hit)

[2018-01-04 18:04] hassox commented on #434
In `Bark.Web.Context` are you able to get the token with `MyApp.Auth.Guardian.Plug.current_token(conn)`? or the resource with `MyApp.Guardian.Plug.current_resource(conn)`?

[2018-01-04 21:31] doomspork commented on #442
@pedromvieira this sounds like you may have discovered a bug (or a needed feature).  Have you had a chance to peek at the Guardian plug?  I'll try to set aside some time this week to look into this more for you.

[2018-01-08 20:36] pedromvieira commented on #442
Yes. No luck with Guardian.Plug.

[2018-01-16 16:59] kelostrada opened #447 "Guardian.Plug.sign_out doesn't call revoke"
Is it intentional that `sign_out` doesn't call revoke on tokens?

[2018-01-19 13:54] bjunc opened #448 "claims["sub"] recommendation"
It seems that prior to v1, the convention for sub naming was `%{"sub" => "User:" <> id}`.  As of v1, it now just seems that it's `%{"sub" => id}` (no `User:` prefix).  I was curious what the rationale was for this change.  I realize that any string can be used as the `sub`, but there must have been a reason to change the examples in the docs?  Thanks!

[2018-01-19 17:54] marinho10 commented on #227
@proProbe can you share your error ? I'm having the same issue.

[2018-01-19 18:29] yordis commented on #448
@bjunc to be honest it doesn't really matter.

That details is something that belongs to your application design. If you will have the same Guardian module for multiple resources, for example: `User` and `Admin` you would probably do something like that so in your `resource_from_claims/1` you could pattern matching for use the correct Ecto schema or whatever you are using for knowing which model y

[2018-01-19 18:41] bjunc commented on #448
Yeah, I realize this isn't a technical limitation, or security issue, etc..  Rather, since the documentation changed, maybe there was a "best practice" I wasn't aware of – especially because I would have though `User:1` _would be_ the best practice.  Anyway, thanks for the response.  I had ultimately come to the same conclusion, and stuck with the `User:1` convention:

[code]

[2018-01-19 19:13] #448 closed

[2018-01-19 22:07] doomspork commented on #434
@willsoto / @Yamilquery are you still experiencing this issue or can this be closed?

[2018-01-19 22:14] willsoto commented on #434
I "fixed" mine by working around it but I don't understand the root cause.
It's fine to close and if I ever figure something out I can reopen. Thanks.

On Fri, Jan 19, 2018, 5:07 PM Sean Callan <notifications@github.com> wrote:

[2018-01-19 22:17] yordis commented on #434
@willsoto could you elaborate on what was the workaround so we could understand what you did and learn about it? Do reverse engineering.

I am curious of what you call workaround because it means we need fix something.

[2018-01-19 22:28] willsoto commented on #434
Originally I was trying to use session based or cookie based auth, but no
matter what I tried it didn't seem to work. Even if the cookie was issued
(it could have been the default Phoenix cookie, I don't know) Guardian
couldn't seem to pick it up.

FWIW, the only issue here might be a lack of documentation. I am new to
Phoenix and Elixir (but have used many other frameworks and languages) and
it j

[2018-01-22 11:36] delameko opened #449 "How to pass error_handler into pipeline?"
I'm having a bit of trouble passing a special error_handler into a pipeline, and feel like I might be missing something.

My pipeline:

[code]

And in my router:
[code]

I always get `** (RuntimeError) 'error_handler' not set in Guardian pipeline`.

If I try to add an error_handler to the pipeline (hoping it'll be overridden), it'll always use the one defined.

In the documentation it says "Once y

[2018-01-30 14:50] sebastialonso opened #452 "Unknown Units: weeks for token ttl"
I changed the ttl to the following (just to play)
[code]

And I get the following error
[code]

I highly presume the error has to do with my version of Guardian, which is **0.14**. By requirement, I can't change the version. Can I get away with using another time unit other than day?

Thanks!

[2018-01-31 16:38] scrogson commented on #452
@sebastialonso is there a reason you can't use `{1, :year}` or `{365, :days}`?

[2018-01-31 16:42] sebastialonso commented on #452
Absolutely not. I can use them. :)

It just happened that I took a look at the code and there seems to be code
for managing both the week and weeks symbol, so it was a situation I felt I
had to report. But yeah, just use the days symbol.

On 31 Jan 2018 1:39 pm, "Sonny Scroggin" <notifications@github.com> wrote:

@sebastialonso <https://github.com/sebastialonso> is there a reason you
can't use {1,

[2018-01-31 16:46] scrogson commented on #449
@delameko I don't think that is possible at the moment. Probably an oversight on our part. I think what you seek is definitely doable. Thanks for bringing it to our attention.

[2018-01-31 16:48] scrogson commented on #452
@sebastialonso I think what you may have seen is that `v1.0` supports `:week` and `:weeks` but `v0.14.x` does not.

[2018-01-31 17:16] sebastialonso commented on #452
That may be it. Thanks.

On 31 Jan 2018 1:48 pm, "Sonny Scroggin" <notifications@github.com> wrote:

[2018-01-31 18:30] delameko commented on #449
Thanks for the response.  I've got a workaround in place for the moment, so its not a big issue.

You folks have done a fantastic job with version 1.0.  I've just updated from 0.14 and moved all my authentication code to a separate app in my umbrella, and this has been the only issue I had.  And its only an issue for me because of the code separation, as I want my api app and web app to pass in th

[2018-01-31 18:30] #449 closed

[2018-01-31 19:12] #452 closed

[2018-01-31 19:20] hassox commented on #449
Hey sorry I didn't see this in time.

With pipelines you can set either the module or error handler upstream. The last set one will be in effect when your pipeline executes. So for your case you could do:

[code]

[2018-02-01 16:38] delameko commented on #449
Yeah, I've sort of got that now.  Because I've got an umbrella, and auth as a separate app, I was hoping I could do:

[code]
As I didn't want to add Guardian as a dependency of MyApp.  At the moment, as a workaround, I've got:
[code]
It's not ideal, it'll do for now.

[2018-02-04 18:05] denvaar commented on #447
From what I understand, revoke only works if you are storing the tokens somewhere, such as with [GuardianDB](https://github.com/ueberauth/guardian_db)

[2018-02-05 00:53] denvaar opened #457 "encode_and_sign vs sign_in"
It seems like `sign_in` and `encode_and_sign` both set `:guardian_default_token` on `conn`. From reading the documentation I would expect `sign_in` to put the token on the `conn`, but not `encode_and_sign`. I would expect `encode_and_sign` to only place the token within `:req_headers` on `conn`.

Has this changed, or am I thinking of this incorrectly?

[2018-02-07 13:30] tarzan commented on #447
I think I'm having similar issues.

From the README:
[code]
However, revoke is indeed never called. So, that seems to be an error in the documentation.

I am trying to hook up GuardianDB and follow the instructions there. It instructs to just put the GuardianDB interface on the `on_revoke`-hook like this:
[code]

In my app I just call the `MyApp.Guardian.Plug.sign_out(conn)` and the `on_revoke` is

[2018-02-07 17:28] doomspork commented on #447
@tarzan please do open a PR 👍

[2018-02-07 20:09] tarzan commented on #447
Should be solved by #458.

[2018-02-07 23:40] jadeddev commented on #278
Hey, I am having a similar problem to @egeersoz 's original problem. I was wondering if anyone resolved being able to pass httponly tokens through an api pipeline?

[2018-02-08 00:20] hassox commented on #278
If you're using a cookie that is not the storage you should write your own Verify* style middleware. Those middlewares just find a token from some location, validate them and add them to the Conn struct. It should be fairly straightforward to implement one for your usecase

[2018-02-08 00:20] hassox commented on #278
Provided the client actually sends it ;)

[2018-02-08 03:06] jadeddev commented on #278
Hey, apologies but I'm not 100% what you mean in your first message.

[2018-02-08 03:19] hassox commented on #278
Yeah good call it didn't come out too well. So if you're using cookies, they're not one of the out of the box supported ways to get a token into the system. In this case you need your own middleware to locate the token and call verify on it. If it's valid put it in the Conn struct like the Verify* modules do. You can refer to the header or session Verify modules for an example of an implementation

[2018-02-08 11:08] jadeddev commented on #278
@hassox thanks, will dig a little further :)

[2018-02-08 17:09] tsurupin opened #459 "How to create custom tokens for Firebase?"
I'm trying to figure out how to create custom tokens with JWT for FIrebase.
According to [Firebase doc](https://firebase.google.com/docs/auth/admin/create-custom-tokens),
we can create it in the following ways in ruby.
[code]

How can we create custom tokens with Guardian?
If there is the doc for that, that would be very helpful.

[2018-02-09 14:37] arunvelsriram opened #460 "No secret key configured for JWT"
I followed the steps under `https://github.com/ueberauth/guardian#installation` and ended up in the below error:

[code]

### `config.exs`
[code]

### `guardian.ex`
[code]

[2018-02-09 15:44] scrogson commented on #460
Looks like you copy/pasted the whole example without changing your `otp_app` option to your app name.

[2018-02-09 15:49] #460 closed

[2018-02-09 15:56] arunvelsriram commented on #460
Oops, my bad. Thanks!

[2018-02-13 18:41] yordis commented on #434
Folks,

feel free to reopen it if you are having this issue.

[2018-02-13 18:41] #434 closed

[2018-02-13 18:45] yordis commented on #459
@tsurupin could you just create your own token https://hexdocs.pm/guardian/Guardian.Token.html

You can follow the implementation of the current JWT one

@ueberauth/core what are your thoughts on this one?

[2018-02-13 21:55] fredwu opened #464 "Incorrect / confusing use of the `:realm` option?"
Hi,

First of all thanks for the great work on Guardian, it's a library that many of my colleagues and myself have been benefiting from immensely. :)

We have a use case where we need to support accepting one JWT from potentially different sources (issuers). After digging around and experimenting, we've figured out we can use the `:realm` option to differentiate the JWTs so that the token verifica

[2018-02-14 14:27] Hanspagh commented on #405
#fixed by #419

[2018-02-15 07:04] tsurupin commented on #459
@yordis Thanks.
I could create the custom token. I paste code snippets.
[code]

[2018-02-15 07:18] yordis commented on #459
@tsurupin sorry I reopen this but this is a really nice documentation to have.

@ueberauth/core do you think is worth to add some section in the Guardian documentation so people could benefits of this?

[2018-02-15 16:50] scrogson commented on #464
Great stuff @fredwu! I've often thought that `realm` was not the best name for this myself. Unfortunately, this looks like it would be a breaking change. So we might need to put this off until we're ready for `2.0`.

I'll try to find some time to read through the links you've provided and talk it over with the rest of the @ueberauth/core team.

[2018-02-19 22:48] hisapy commented on #434
Hello ladies and gentlemen.

I'm having this same issue after upgrading from **1.0.1** from **0.14** but it was my fault.

I have a GraphQL API built with `Absinthe` and to get a JWT I query a `login` mutation. In the upgrade I just copied the _pipeline_ implementation and updated my router.  Basically the error was caused because in the new version you have to explicitly allow _blank_ resource.

[2018-02-19 22:54] yordis commented on #434
@hisapy yes please, make a PR with some documentation updates

[2018-02-20 12:07] hisapy commented on #434
I'll do it ASAP, probably tomorrow

[2018-02-20 15:15] nicolasblanco opened #467 "Improve documentation with information on how to handle multiple resources types"
Hello,

in the documentation it's quite clear that you can easily have multiple sessions using the `key` option.

However it's not clear on how to have multiple resources types on different sessions.

Let's say I want to have both admin users and users on different session, those two resources are different schemas/tables in my app, one is `User` the other `AdminUser`.

In the README of the main m

[2018-02-20 16:41] nicolasblanco opened #468 "Authentication using the `key` option is failing"
Doing an `iex` session in my controller...

[code]

Do you have any idea on how to debug this? Thanks.

[2018-02-20 18:06] nicolasblanco commented on #467
Basically I was advised on the Elixir slack channel to put the name of the resource in `claims[sub]` and use pattern-matching, like:

```def resource_from_claims(%{"sub" => "User:" <> user_id}) do # ...```

[2018-02-20 19:11] #467 closed

[2018-02-21 11:58] mumughal opened #469 "Implementing RS256 with Auth0 - multiple secret-keys"
Hi,
I am implementing Guardian with Auth0 with RS256 signed JWT tokens. I'm able to make it work. But Auth0 is suggesting that they may be using multiple public keys in the (near) future. Is there a way to support multiple keys in the Guardian module? For example a list of keys? How should this problem be solved?

Thank you so much in advance for your response. :)

[2018-02-21 12:13] yordis commented on #469
@mumughal what do you mean, could you elaborate a little bit about what Guardian needs to do for you please.

I dont know if this would help you but https://github.com/ueberauth/guardian/issues/459 check that thread.

[2018-02-21 12:25] mumughal commented on #469
Yeah, sure! I get a list of public keys from Auth0 to decode their Rs256 signed JWT. Public keys look something like this:
[code]
Now the JWT header has the `kid` for the public signing key of the JWT that should be used for this verifying JWT. For example it looks like this:
[code]
Now I have to make sure that guardian module is given the right key, right? Is there any support for this in `Guardi

[2018-02-21 12:44] yordis commented on #469
@mumughal I would recommend to follow #459 solution and create your own token for now.

@ueberauth/core any other suggestion here?

[2018-02-21 13:10] mumughal commented on #469
[This issue](https://github.com/ueberauth/guardian/issues/459) is referring to a similar problem. But my issue is a bit different. I am talking about decoding a token from a third party service where I have access only to the asymmetric public keys. Please check out the [steps for validating RS256 JWT](https://auth0.com/blog/navigating-rs256-and-jwks/)

[2018-02-21 17:02] jgashe opened #470 "Option for encoding permissions as text instead of bitstrings"
For clients that aren't elixir applications that use Guardian, decoding permissions as bitstrings adds unnecessary hassle. Cowboy's header length limit is 4k bytes (as is NGINX), which is plenty of room to encode permissions as a string array of the granted permissions.

I propose a config setting `permission_encoding` with values `:bitstring` and `:text` (default `:bitstring`) to determine which

[2018-02-21 19:54] hassox commented on #470
Hey @jgashe
Thanks for the thought. If love to see an option to encode as string front is one, but I don't think it should be an option on the bitwise module. I was thinking if we want a different kind we should make a different module (hence the btwise in it's name). On the other hand we could pull out the encoding/decoding part into a behaviour interface and have a bitstring, text, JSON encoders

[2018-02-21 20:24] mikemorris commented on #470
This sounds like a great proposal, I'd love to see an interface similar to https://www.npmjs.com/package/express-jwt-permissions supported (space-delimited string and/or array of strings).

[2018-02-22 17:26] hauptbenutzer commented on #401
I'm sorry to say, this does prevent me from using guardian 1.x with absinthe (or any such API-framework, I would imagine). The problem here is, that in a GraphQL Query some requested fields might require authentication/authorization before resolving, while some don't. To make the distinction, the plug pipeline has to first reach the Absinthe plug. This, due to the `halt` in the Guardian plugs, can

[2018-02-23 13:43] fdbeirao opened #472 "Verify that an RS256 JWT was signed by a whitelisted IdP"
Hello there,

I have been looking around your source code, and also Joken and somehow I got into JOSE, so I think I am going too deep into the rabbit hole :)

In my scenario I have a mobile app that can get its hands on a JWT from let's say Microsoft Online, but could be other friendly idp. This authentication process doesn't touch our backend at all (by design). What I now wish to do is to have t

[2018-02-23 16:16] fdbeirao commented on #472
Never mind. I managed to get this to work by using Joken and writing my own small plug.
Kudos _Guardianeers_, keep up the great work!

[2018-02-23 16:16] #472 closed

[2018-02-23 18:32] #405 closed

[2018-02-23 18:46] hassox commented on #442
@pedromvieira where does the `"perms"` key in your claims come from? It should be `"pem"`. How are you creating your token?

[2018-02-23 18:48] hassox commented on #457
Hi @denvaar,

Not sure how `encode_and_sign` would put anything on the conn. It doesn't have access to it. Can you show the code that is resulting in this behaviour please?

[2018-02-23 19:01] hassox commented on #459
@tsurupin from what I can see, you just need to add some custom claims to the token... is that correct?

If that is correct you can implement this using the `build_claims` callback in your implementation module.

I believe this would be equivalent.

- config.ex

[code]

- guardian.ex

[code]

[2018-02-23 19:13] hassox commented on #386
@steveops good catch. Can you please put up a PR with edits. Verify header has nothing to do with the session and this was likely a copy pasta error.

[2018-02-23 19:19] hassox commented on #442
From the docs, you should use the `build_claims` callback in your implementation module

[code]

Where the `:permissions` key for the options is chosen by you. To use it you'd do something like:

[code]

The same is true for `sign_in`

[2018-02-25 17:28] ratbag98 commented on #401
I've reached this thread probably for the same reason as @hauptbenutzer - in the middle of upgrading my app to use Guardian 1.x and I'm crashing out of my auth error handler if the user isn't logged in.

[2018-02-26 12:52] mumughal commented on #469
@hassox Thank you for addressing the issue. It looks like [this PR](https://github.com/ueberauth/guardian/pull/473) should be able to fix my problem.  :)

[2018-02-27 13:40] shahryarjb opened #475 "my token is invalid_token when I send request and my pipeline don't recognize"
Hi,
My token shows me `{"message":"invalid_token"}` when I send request and my pipeline don't recognise it.
I guess my problem is `plug Guardian.Plug.VerifyHeader, realm: "Bearer"` , but I dont know how to fix it.

My request image :
https://devheroes.club/uploads/default/original/1X/28f63c2ff97e12a4763ecd317b0481396aa32142.png

E.x :

[code]

Or :

[code]

My pipeline :

[code]

My project reposi

[2018-02-27 16:25] #447 closed

[2018-02-27 17:46] hassox commented on #475
The two issues that are causing Guardian not to work for you are:

In your pipeline you're setting the `module` to `ApiTrangell.Tokens` but this module does not exist. You should change this to: `ApiTrangell.Guardian`

In `ApiTrangell` you do not have the function you're trying to call in `ApiTrangell.Guardian` You'll need to implement that.

For your application it would be as simple as:

[code]

[2018-02-27 17:46] #475 closed

[2018-02-27 19:04] shahryarjb commented on #475
Sorry, my problem is still there. After placing `ApiTrangell.Tokens` instead of `ApiTrangell.Guardian` I have a 500 error when I want to try to send request to ‍`http://localhost:4000/api/users/sign-out`

EX .

curl -H "Authorization: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhcGlfdHJhbmdlbGwiLCJleHAiOjE1Nzk2MTIzODcsImlhdCI6MTUxOTczNzE4NywiaXNzIjoiYXBpX3RyYW5nZWxsIiwianRpIjoiMmNiZmI0N

[2018-02-28 15:38] hassox commented on #386
I've added a guide to my PR for some docs covering pipelines. Love some feedback on it. https://github.com/ueberauth/guardian/pull/474/files#diff-95ceda80a9f5416db3388ae5eeb5e747

[2018-03-02 19:17] shahryarjb opened #477 "How does Guardian.Permissions work with plug in Pipeline?"
Hello,
I create the token first in [my project's source](https://github.com/shahryarjb/ESOGIP) and send it to Pipeline.

---
## For example:

##### Test for create token:

    url : http://localhost:4000/api/users/sign-in
    value : password : "2"

##### Test for authorization :

    url : http://localhost:4000/api/users/sign-out
    header :  Authorization : Bearer Token

I get the `{"message":"

[2018-03-03 06:35] zapient opened #478 "Custom TTL not working as documented"
[code]

Looks like the documentation does not match the [implementation](https://github.com/ueberauth/guardian/blob/master/lib/guardian/token/jwt.ex#L414). Using `ttl` instead of `token_ttl` works as expected.

[2018-03-03 15:51] doomspork commented on #478
@zapient a PR to correct the documentation is welcome 👍

[2018-03-03 16:34] zapient commented on #478
Sure. Would you like the documentation to match the implementation or the other way around?

[2018-03-03 16:36] yordis commented on #478
@zapient fix the documentation.

[2018-03-04 14:53] gmile opened #480 "Token with sub is passed, but resource has gone"
It is advised that the implementation module has these two methods:

[code]
First method covers the case when "sub" exists and points to a resource ID. Second method covers a case "sub" does not exist.

However there seem to be another case, where `sub` exists and points to a resource ID, but resource is absent (e.g. a user was deleted and is not in the DB anymore). Right now this must be handled

[2018-03-04 16:38] yordis commented on #480
@gmile the problem is that, this is related to your business usecase.

What happened if I am not using Ecto and the function that verify my user send me back `{:ok, user}|{:error, :not_found}`?

I don't believe Guardian should handle anything related to specific business rule (your case, Ecto).

[2018-03-04 17:57] hassox commented on #480
@gmile what @yordis said. This is the function where you load it. If you can't find it then you should return an error.

If you're wanting to make sure that the resource was found in your plug pipeline, you should use the "LoadResource" with the "allow_blank" option omitted or set to false.

[2018-03-04 17:57] #480 closed

[2018-03-04 21:35] #478 closed

[2018-03-06 17:36] davepersing opened #481 "Guardian JWE module"
Hi Guardian team!

Thanks for all you do.  Guardian is wonderful.

I wrote a JWE Token implementation for use with Guardian.  I wasn't sure if that was something you wanted to try to bring under the Ueberauth umbrella or not.  Either way, I'm happy to maintain it.

Repo is here:  https://github.com/davepersing/guardian_jwe

Lots of the code is ripped directly from the JWT token implementation sinc

[2018-03-06 17:40] hassox commented on #481
This is cool @davepersing! Can we chat on #ueberauth slack?

[2018-03-06 17:44] hassox commented on #477
Hey @shahryarjb

1. You'll need to put your permissions plug after your verify ones (I'd put it after ensure authenticated also) so that it has something to work with.

2. You'll need to add a build_claims hook like: https://github.com/ueberauth/guardian/blob/master/lib/guardian/permissions/bitwise.ex#L41

3. You wouldn't set the permissions directly in the claims like you have above and in your c

[2018-03-06 17:45] hassox commented on #469
@mumughal the PR has merged. Just waiting to get the guides PR in before pushing a release - however we could cut a release and release the docs later. I don't want to get in the way of your dev for some guides.

[2018-03-06 17:45] #459 closed

[2018-03-06 17:45] #457 closed

[2018-03-06 17:46] #442 closed

[2018-03-06 17:47] davepersing commented on #481
@hassox - Yep, can do.  Will jump on and ping you there.  Thanks!

[2018-03-06 18:27] shahryarjb commented on #477
Hi @hassox and Thank you,

I want to set `  plug Guardian.Permissions.Bitwise, ensure: %{default: [:public_profile], user_actions: [:books]}` after `plug Guardian.Plug.EnsureAuthenticated` , but I have had an error 500 when I put this .

My code is like this :

[code]

error :
[code]

Is this a problem with the direct of code in this section? like this ? or ?

[code]

[2018-03-07 19:32] hassox commented on #477
Did you add the build claims hook? You're still directly setting the pem in the claim but you're setting it to a list. Check the link in my last comment for how to set it up.

[2018-03-07 20:28] shahryarjb commented on #477
Hi @hassox ,

I added `build_claims` but I don't know how to create ACL . pleas see the link  :
https://github.com/shahryarjb/ESOGIP/blob/master/lib/api_trangell/auth/token.ex#L17

how do I create the token permissions in build claims hook ?

sorry for this and thank you for helping me ! 🌹

[2018-03-07 21:28] hassox commented on #477
I've gone through you code and put together a gist of it. You're missing a lot of the setup for basic guardian, I suggest you get basic guardian working before you move onto permissions. It can take a while for everything to click into place. Perhaps follow a tutorial for getting setup so you can explore phoenix a little more.

There's a few tutorials online for getting everything wired together f

[2018-03-08 06:15] shahryarjb commented on #477
Hi @hassox ,  Thank you so much.

I have seen https://medium.com/@zacharykuhn/setting-up-a-phoenix-app-with-guardian-1-0-411ff3195adb before, but it didn't speak about permissions. so I was traying with your document.

---

I've solved the problems which you said and thank you again. after fix it , I tried to get a token , then I sent request to `api/users/sign-in` and I succeeded to get a token,

[2018-03-08 13:21] #469 closed

[2018-03-10 14:11] InteNs opened #482 "using the same conn twice returns unauthorized in tests"
hey,
my controller test is showing some weird behaviour:
[code]
the delete request returns 204 but the get request following this returns 401.
turning the calls around will make the get request work and the delete request fail.

any ideas as to what I'm doing wrong?

here is my pipeline:
[code]
[code]

[2018-03-12 21:21] voger opened #483 "see 'Guardian.Plug.Errors'"
In [this line](https://github.com/ueberauth/guardian/blob/7e839ba1c39aed2c303e01f804451cce0f9f924c/lib/guardian/plug/pipeline.ex#L64) the documentation mentions

but there is not such module. What does it mean?

[2018-03-13 17:57] hassox commented on #482
If your user is deleted, how would they be able to access the show page for that deleted user?

[2018-03-13 21:25] InteNs commented on #482
well, it's a test that checks if after deleting the  user the show page returns a 404, i fixed it buy not overriding conn for the first assert,  so:
[code]

not sure if this is the best way to fix this but it works.

[2018-03-13 21:27] hassox commented on #482
I see. Sorry I missed the nuance there. It's returning 401 because it's treating it as a "you're not authorized to make this request". It hasn't even got into the action to determine if a user is available because this is a protected resource (if it's there or not) and the current token was deemed to be invalid.

[2018-03-13 21:30] InteNs commented on #482
yeah, although the same conn object was valid before (in the delete request) so something must have changed when that request was sent (not suprised by that to be honest.

the only reason why i even posted this was because this convention (using the same conn right after the request to check if it really is deleted) was generated with the standard mix generator.

[2018-03-13 21:36] hassox commented on #482
So you're using a different user in the token than you're using to fetch? It may be that the conn is recycled by the phx test env. If you want to start with the same conditions for each request (i.e. a header has been set) rather than storing the conn into the conn variable which could be recycling it would probably be better to store the results off in a different conn struct.

i.e.

[code]

[2018-03-13 22:18] InteNs commented on #482
yes that's basically what I ended up doing, thanks for thinking with me, I'll close the issue.

[2018-03-13 22:18] #482 closed

[2018-03-15 12:11] MeterSoft opened #485 "RS256"
I tried to decode RS256 access code but it returns error
Olist.Guardian.decode_and_verify(token)
{:error, :invalid_token}
[code]

[2018-03-17 22:07] hlhr commented on #483
Just to help out, the option is used to define a ErrorHandler-Module-Pug. There is not predefined plug in `guardian` but you can find an example [here](https://hexdocs.pm/guardian/readme.html#plug-error-handlers) or a definition under `### Error handler` in the same file.

[2018-03-18 00:08] voger commented on #483
Thanks. I thought there was indeed somewhere a module with that name and I couldn't find it.

[2018-03-27 16:05] #483 closed

[2018-03-29 12:50] jsangilve opened #488 "Why verify_claims function gets called two times?"
I'm working on a `Guardian` module that implements `verify_claims` callback. I realized the function was always called two times. After having a look into Guardian's code, I realized that's indirectly called two times within `Guardian.decode_and_verify`:

1. `Guardian.Token.JWT`
https://github.com/ueberauth/guardian/blob/72df24d7e27e0a13ee7538c9d9537ae19ab60aff/lib/guardian.ex#L618
Previous call i

[2018-04-02 10:14] flomaster9 opened #489 "Guardian.Plug.sign_in -> "argument error""
When i try to use Guardian.Plug.sign_in while testing, terminal tell me this

           * sign_in/3
           * sign_in/4
           * sign_in/5

but when i write before, in the top of file

The sign_in/2 is available, and i see this

Here is my Api.Auth.login

    conn
    |> sign_in(user)
    |> assign(:current_user, user)
  end

Here is config

`  config :api, Api.Auth.Guardian,
  issuer: "ap

[2018-04-02 20:07] hlhr commented on #489
Maybe I can help you out (I'm not sure if this is 100% correct). You don't have to put `use Guardian.Plug` on top if the file. Remove that line, add `alias Rumble.Auth.Guardian` and call sign_int with the command `Guardian.Plug.sign_in(user)`.
That worked in my case in https://github.com/hlhr/phoenix_authentication/blob/master/lib/phoenix_authentication_web/controllers/auth_controller.ex .

[2018-04-02 21:37] flomaster9 commented on #489
This work !! thanks ) I will close issue

[2018-04-02 21:37] #489 closed

[2018-04-03 13:55] MeterSoft opened #490 "crash when do not find user in data base"
[code]

[code]
When user not exist in database it should return unauthorized

[2018-04-04 14:13] MeterSoft commented on #490
made to this
[code]

but very strange. It not return any errors and render my page
[code]

[code]

[code]

[code]
when i go to /user/postings it should return unauthorized if user not found in database

[2018-04-04 16:24] hlhr commented on #490
Is ` plug Olist.Guardian.AuthPipeline.Browser` the pipeline? If so, please try out to remove the plug `ensure_auth` and add the line `plug Guardian.Plug.EnsureAuthenticated` into the pipeline ([sample](https://github.com/hlhr/phoenix_authentication/blob/master/lib/phoenix_authentication/auth/pipeline.ex)).

[2018-04-04 19:16] MeterSoft commented on #490
[code]

Does not work.

may sure that i logged in than remove user from database and after update page. So in this case

[code]
not works and page try to load but can not find resource

[2018-04-05 00:24] hlhr commented on #490
[code]
returns a tuple
[code]
Gets the return value (in that case a tuple) and returns the tuple `{:ok, resource}` (could be `{:ok, {:error, :unauthorized}}` or `{:ok,  resource}`). Try to change the return `{:ok,  resource}` to just `resource`.

[2018-04-05 04:52] MeterSoft commented on #490
@yordis
[code]

[2018-04-05 05:00] MeterSoft commented on #490
ensure_authenticated is check only session is present. But it should also try load resource and if it not loaded should return not authorized. If i remove allow_blank option it will be return user not found. But some page need to allow blank resource so i think ensure_authenticated should provide work with load resource to

[2018-04-05 05:08] MeterSoft commented on #490
if i do
[code]
[code]
[code]
[code]

in this case if remove user from database it return
`{"message":"no_resource_found"}`
but i double include `plug Guardian.Plug.LoadResource, ensure: true`

Any way i think 'ensure_authenticated' should do this

[2018-04-06 02:56] yordis commented on #490
Which route is failing?

[2018-04-06 06:59] MeterSoft commented on #490
us you can see i should have ability to visit root path without auth. But if user present it should load it.
When i visit /user it should check auth and always load user. If user not logged in or not found it should return error.

[2018-04-06 07:15] MeterSoft commented on #490
i rewrite my code to this
[code]

router
[code]

and now if user not logged in it return auth error
and if user not found in database it return resource_not_found error
so it good for me
so we should configure different guardian pipeline for each routes

[2018-04-10 21:38] mirago commented on #447
Hey guys, didn't want to open a new issue for this, but even after reading PR by @tarzan and installing guardian 1.01, the revoke callback is never called for me. I'm wondering what am I missing. Can you guys confirm it's actually being called? thanks

[2018-04-10 22:51] doomspork commented on #447
@mirago we wanted to package up some other changes but we can cut a release with these changes 👍

In the meantime you can do: `{:guardian, github: "ueberauth/guardian"}`

[2018-04-10 23:28] mirago commented on #447
thanks for your reply, I will wait for the release, until then I am calling revoke manually and all works perfectly. 👍

[2018-04-10 23:59] yordis commented on #488
This is interesting https://github.com/ueberauth/guardian/blob/72df24d7e27e0a13ee7538c9d9537ae19ab60aff/lib/guardian.ex#L618-L619

We are calling it there twice 🤔

@hassox I think we do not need to call the second time, they are doing the same except that the one using `mod` could fail (everything should be calling `Guardian.token_module(mod)` before use the module)

[2018-04-11 00:09] yordis commented on #488
@jsangilve the second function is optional. https://github.com/ueberauth/guardian/blob/72df24d7e27e0a13ee7538c9d9537ae19ab60aff/lib/guardian.ex#L259

You don't need to pass define a `verify_claims` callback on your `MyGuardian` module.

Do you define that callback?

[2018-04-11 06:56] MeterSoft commented on #490
`EnsureAuthenticated` should be use only with `LoadResource` without options `allow_blank: true` because `EnsureAuthenticated` do not know anything about user in database. When we check that user is logget in we should make sure that it is stil exist in database and if is not than should return error authentificate. For my example this works. We added for not security section `plug Guardian.Plug.L

[2018-04-11 07:16] yordis commented on #490
You can’t swap the order of the plugs.

You already said the answer, EnsureAuthenticated will make sure that you had an authenticated user.

It works as intend.

[2018-04-11 07:31] MeterSoft commented on #490
@yordis but what about this?
When i deploy app to production it works well but when it do another developer for own machine when we visit root path app return error {error: resource_not_loaded} and it is strange because root path has only plug Guardian.Plug.LoadResource, allow_blank: true. Any think?

[2018-04-11 11:56] yordis commented on #490
@MeterSoft because you are using `plug Guardian.Plug.EnsureAuthenticated` so you must have an authenticated user.

Because you used `allow_blank: true` you don't need to actually find a resource but this conflicts with that plug.

Remove `plug Guardian.Plug.EnsureAuthenticated` when you have `allow_blank: true` they can't leave together.

[2018-04-11 15:16] MeterSoft commented on #490
@yordis i do not have `plug Guardian.Plug.EnsureAuthenticated` for root path
my pipeline
[code]

[2018-04-11 15:27] yordis commented on #490
@MeterSoft who is sending `{error: resource_not_loaded}`?

If that is the case, then your `LoadResource` it is failing by sending an error tuple back. Verify that your are loading the resource correctly (even when it is `nil` value)

[2018-04-11 15:27] yordis commented on #490
@MeterSoft who is sending `{error: resource_not_loaded}`?

If that is the case, then your `LoadResource` it is failing by sending an error tuple back. Verify that your are loading the resource correctly (even when it is `nil` value)

Normally it is on `resource_from_claims` on your Guardian module.

[2018-04-13 11:51] jsangilve commented on #488
Thanks for your reply @yordis.

Yes, as I mentioned in the original post, I'm implementing this callback in `MyGuardian` module.

Sorry, I still don't understand what's the purpose of calling it twice in the code. By default, this callback just return `{:ok, claims}`. So, even if I don't implement it in `MyGuardian` module, it's still called twice.

Wouldn't be enough just to call this function at

[2018-04-13 15:15] yordis commented on #488
@jsangilve if you need to do some `custom` verification as the documentation describe then you add the callback. That is the propose of that callback.

[2018-04-13 16:07] jsangilve commented on #488
@yordis yes, I understand that. I'm implementing the callback because I need to do some custom verification. The problem is that this `custom verify_claims` is called twice while running the app.

So, my question is: **the reason why a custom `verify_claims` callback gets called twice seems to be because `Guardian` do it by itself (as I explained in the first post). Is this a bug or intended behav

[2018-04-25 18:08] pauldoerwald commented on #485
I just realized something: RS256 uses public keys, which explains why the secret key I have doesn't work... I need to use my Auth0 public key... I think. Maybe HS256/HS512 is the right approach...

[2018-04-25 18:46] pauldoerwald commented on #485
As always happens, as soon as I start asking for help, I figure it out.

The problem above was how I was specifying the secret_key. It should be something more like:

config :clockk, Clockk.Guardian,
      allowed_algos: ["HS512"],
      issuer: "clockk.auth0.com",
      secret_key: fn ->
        "-----BEGIN CERTIFICATE-----
    certificate goes here. Ordinarily you would keep this in a file which

[2018-04-29 18:30] bdensmore opened #496 "Guardian 1.0 - ** (RuntimeError) `error_handler` not set in Guardian pipeline"
Hi!

I'm trying to implement Guardian into an API I'm working on and whenever I make a call to an endpoint I'm getting the error ** (RuntimeError) `error_handler` not set in Guardian pipeline.

I'm only trying to hit the /sign_up route right now for testing this out. My router is set up like so:

[code]

My RegistrationController looks like:

[code]

Is there somewhere I should be defining an erro

[2018-04-30 14:32] hlhr commented on #496
Did you define a guardian [pipeline](https://github.com/hlhr/phoenix_authentication/tree/master/lib/phoenix_authentication/auth) and configure it correctly in the [config](https://github.com/hlhr/phoenix_authentication/blob/master/config/config.exs#L25)? You can find an example for an API with Guardian on my [github account](https://github.com/hlhr/phoenix_authentication) or additional infos in th

[2018-05-02 23:51] bdensmore commented on #496
@hlhr Thanks for the link to the example, that was extremely beneficial for me. I was still setting things up pre 1.0 which caused the issues I was having. Using your example app helped me to get things working.

@hassox Thank you for the added info in the guide as well.

Thank you both!

Ben

[2018-05-02 23:51] #496 closed

[2018-05-04 10:22] andreapavoni opened #497 "Guardian 1.0: verify JWT toeken from Auth0"
Hello there,

I don't know if this is the right place to ask for help, I've also followed the old issue #211 but it looks outdated.

I'm trying to verify a JWT issued by Auth0 with Guardian 1.0 but I get several errors (from `invalid token` up to `missing JWT key`. I'm not new to elixir/phoenix in general, but I don't know too much how JWT should work.

I've tried both using RS256 and HS256 algos.

[2018-05-04 12:19] yordis commented on #497
Are you sure that `secret_key: System.get_env("API_AUTH0_SECRET")` is actually doing what you expect to do?

The error message is really descriptive and I just want to make sure that it is your setup issues.

[2018-05-07 09:42] andreapavoni commented on #497
thank you @yordis, it was a matter of wrong certificate. solved with different package.

[2018-05-07 09:42] #497 closed

[2018-05-10 03:18] williamweckl opened #498 "Accept runtime environment tuple for secret_key"
Hi guys, I'm using distillery and trying to use the convention tuple to set environment variable secret_key and noticed I can't do it.

Error I'm getting:

[code]

Stack trace:

[code]

My config at prod.exs:

[code]

If I use `System.get_env("GUARDIAN_SECRET")` it works.
Using guardian `1.0.1` with elixir `1.6.4`

[2018-05-10 03:26] williamweckl commented on #498
When I do it at config it will compile as a string, so if I build my application in a different environment that I run it the configuration value will be different...

Better explained at: https://hexdocs.pm/distillery/runtime-configuration.html

[2018-05-10 03:30] yordis commented on #498
I didn't finish to read by so far

So why are you trying to use that way?

[2018-05-10 17:06] yordis commented on #498
From Distillery official documentation this method is not recommended.

[2018-05-10 17:06] #498 closed

[2018-05-10 17:12] #488 closed

[2018-05-10 17:14] yordis commented on #488
Feel free to open it again.

`verify_claims` is called twice.
  - On the `Token module`
  - On `your Guardian module`

[2018-05-10 22:28] williamweckl commented on #498
@yordis

Answering your question I'm using it because almost all my other libraries accepts this format, even phoenix uses it... If I can't use it at least I need a way to set it at runtime...

[2018-05-10 23:25] yordis commented on #498
@williamweckl could be this what you are looking for

[code]

[2018-05-11 00:56] williamweckl commented on #498
@yordis yes! this will work for me! thank you!

[2018-05-16 21:04] marpo60 opened #500 "Confusion with branches and tags"
Thanks for this package.

I was going to create PR to remove a `remember_me` documentation from the README in 1.0.x (https://github.com/ueberauth/guardian/blame/v1.0.1/README.md#L125).

It got reverted and added to v1.1.x release
https://github.com/ueberauth/guardian/pull/424
https://github.com/ueberauth/guardian/pull/419

When I looked for the branch v1.0.x it was not in place and then by looking

[2018-05-18 17:09] yordis commented on #485
@pauldoerwald thanks a lot for the research, I am happy that you figured it out.

@MeterSoft feel free to reopen it if you think this still an issue for you but please follow @pauldoerwald instructions first.

[2018-05-18 17:09] #485 closed

[2018-05-20 15:28] grounded-warrior opened #501 "Authentication pipeline for multiple logins schemes"
I can't seem to figure out how to have two different lookups for admin and members, there are seperate tables so i would like to be able do something like

     def resource_from_claims(claims) do
        id = claims["sub"]
        user = Users.get_user!(id)
        {:ok, user}
     end

     def admin_resource_from_claims(claims) do
        id = claims["sub"]
        user = AdminUsers.get_user!(i

[2018-05-20 19:50] yordis commented on #501
@grounded-warrior you could use the same pattern with the `claims["sub"]` indeed.

[code]

[2018-05-20 19:50] #501 closed

[2018-05-23 12:31] loustak opened #502 "Guardian.Plug.sign_out() doesn't seems to revoke the token"
In my application sign_out doesn't seems to revoke token get by Guardian.Plug.sign_in

Here is how I get a token :
`Test.Guardian.Plug.sign_in(conn, user, %{claim: "access"}, ttl: {30, :days})`

And here is how I revoke it:
`Test.Guardian.Plug.sign_out(conn)`

I can get the token (with `Test.Guardian.Plug.current_token(conn)` ) before the call to sign_out **but also** after the call to sign_out wi

[2018-05-23 13:23] yordis commented on #502
What is the value of `Test.Guardian.Plug.current_token(conn)` after sign_out ?

[2018-05-23 13:32] loustak commented on #502
It's the token itself

[2018-05-26 05:45] dave-bell commented on #502
I am seeing similar behaviour.  In my case I have the following call to sign in: `App.Guardian.Plug.sign_in(user, key: :admin)` and on sign out: `App.Guardian.Plug.sign_out(key: :admin)`.  I spent some time looking into the data in the session and I noticed that upon sign in I have a `guardian_default_token` in my session (`conn.private.plug_session`).  Working through the sign out path the code i

[2018-05-26 05:56] dave-bell commented on #502
When I correctly call `App.Guardian.Plug.sign_in` then keys in the session are as expected.  In my above example `sign_in` should have been called as follows: `App.Guardian.Plug.sign_in(conn, user, %{}, key: :admin)`

[2018-05-26 16:06] yordis commented on #502
@loustak which `conn` are you passing down?

Could you please post the full test code so I can see what you are doing it.

[2018-05-27 12:54] loustak commented on #502
`@loustak which conn are you passing down?`
I'm not really sure about what you mean there.

[Link to my project.](https://github.com/loustak/Flux/blob/master/back/web/controllers/token_controller.ex)

I have also another question. I read somewhere that the jwt is stored in "connections". But I don't understand what are connections when speaking about Phoenix. Is this something in memory? My concer

[2018-05-27 21:48] yordis commented on #502
Where is the link to the test where you are trying to make it pass.

I'm not really sure about what you mean there.

I am trying to see how you are using the package and make sure that you are using the write connection.

Please do not merge one thing with the other one, keep it clean and better ask those questions on Slack channel where people could help you with it.

JWT are stored on your cooki

[2018-05-29 03:57] rafamedina opened #503 "Bitwise/Ensure is allowing everybody"
Hi

I have a problem with bitwise and pipelines, it allows everybody.

I've tried several options with the router scope and pipe_through but it always let pass to authenticated users with or without the right permissions.

Example:
A user with this permission:

can see the info for the Admin pipeline.

Am I missing something?

Thanks in advance

Essentially this is the config:

Router file:
[code]

[2018-06-05 11:48] MeterSoft opened #504 "current resource expiration"
i logged in  my user as
`Guardian.Plug.sign_in(resource, %{}, ttl: {1, :minute})`
And after some time do
`Guardian.Plug.current_resource(conn)`
and i expect that it should return error because token is expired but it return my user. How i should check that my current session is expired?

[2018-06-06 12:36] shahryarjb opened #505 "this clause cannot match error in Guardian.ex"
Hello , I have copied Guardian.ex code on your document, but I have 2 errors while I am trying to compile my code , it should be noted my code works for me.

error :

[code]

all codes of mine :

[code]
doesn't it make a problem to hitting my security of project ?

[2018-06-06 12:44] yordis commented on #505
@shahryarjb this is nothing to do with security but how Elixir works.

Basically means that your first function declaration always match so the second function will never be called.

That code snippet is a guideline no necessarily the final code, so modify as your needs change.

Related: https://github.com/elixir-lang/elixir/issues/3612

[2018-06-06 12:44] #505 closed

[2018-06-06 12:46] yordis commented on #504
What does `Guardian.Plug.current_resource(conn)` give you back after you made sure that the token expired?

[2018-06-11 14:08] MeterSoft commented on #504
[code]

[2018-06-11 18:03] yordis commented on #504
Could you share your pipeline configuration so I can see which functions you are using for load the resource.

Did you use `  plug Guardian.Plug.EnsureAuthenticated`?

[2018-06-11 18:05] yordis commented on #502
Feel free to open the issue if the problem persists.

[2018-06-11 18:05] #502 closed

[2018-06-11 18:24] hassox commented on #504
Is this part of a really long web request or part of a socket configuration?

[2018-06-12 07:55] MeterSoft commented on #504
@yordis
[code]

[2018-06-13 11:28] MeterSoft commented on #504
looks like that expires token not works on local host. On production mode it works. I dont know why but now now i have another issue.
[code]
when i trying visit root path with this pipeline i got error
[code]
why it trigger this error if i do not have EnsureAuthenticated for root path?
Also haw i can check if token expired and it should redirect me to root path

[2018-06-14 05:48] MeterSoft commented on #504
@hassox i di nit use docker. session generate with
[code]
Please forget about expiration. It works on production and it is enought for me.
i found that ` plug Guardian.Plug.VerifySession` use for check that token is expired so i just removed it for my root pipiline and now i get invalid token error only for auth paths. So now i have one problem. How i can redirect user to login path if his session

[2018-06-18 15:12] obrok opened #507 "sign_out does not clear the remember_me cookie"
Thanks for including this functionality in the first place - it's nice to have it done by someone more clever than me.

To the point: it seems initially there was some question if `MyApp.Guardian.Plug.sign_out` should or shouldn't clear the `remember_me` cookie (here https://github.com/ueberauth/guardian/pull/419). It seems that was skipped for this release, however, it seems the most intuitive fo

[2018-06-21 13:51] mpoeter commented on #401
Same problem here! Please let the user decide whether to halt or not.

[2018-07-04 18:00] jayjun opened #513 "HexDocs links to GitHub are broken"
To reproduce:
1. Visit https://hexdocs.pm/guardian/Guardian.html#encode_and_sign/4.
2. Click on the `</>` link, it returns 404.

The generated HexDocs documents point to `v1.1.0` branch, which is missing.

[2018-07-04 18:41] yordis commented on #513
@ueberauth/core missing release `v1.1.0` on Github.

[2018-07-09 08:44] joshchernoff opened #514 "Guardian.decode_and_verify is throwing %UndefinedFunctionError"
I kept getting an Invalid Token response so I decided to talk over the code.

While in the Guardian.Plug.VerifyHeader Plug
https://github.com/ueberauth/guardian/blob/master/lib/guardian/plug/verify_header.ex#L87

I noticed that Guardian.decode_and_verify would return
[code]

Any ideas what wrong?

Heres my PolymorphicProductionsWeb.Auth.Guardian
[code]

[2018-07-09 09:19] joshchernoff commented on #514
Let it be known that if you have a typo in your module name for your given Pipeline config. ie

[code]
You will find your self going down this same rabbit hole.

[2018-07-09 09:19] #514 closed

[2018-07-18 23:47] #513 closed

[2018-07-19 08:17] yordis commented on #504
@MeterSoft is this still an issue?

[2018-07-23 14:42] harmon25 opened #516 "Push newest release to hex.pm"
The "new" `1.1.0` release on the releases page which fixes the UUID problem has not been pushed to hex!

Need to change version to `1.1.1` or something other than `1.1.0` as that was the previous hex release version.

[2018-07-25 06:08] yordis commented on #516
We need to push, `1.1.1`. Because we didnt create a release I had to do it for fix this https://github.com/ueberauth/guardian/issues/513

@hassox @doomspork @scrogson could somebody create a release for Hex and also here on Github?

[2018-07-29 12:39] mitkins opened #517 ":invalid_token on page that does not require authentication"
On my home page, I'd like to show information depending on if the user authenticated. Here's what my pipeline looks like:

[code]

This is working as intended. However, when the access token expires and the user accesses the home page, then the error handler is invoked with an `:invalid_token`. Here's what the error handler looks like:

[code]

In the case of an `:invalid_token` (on the home page)

[2018-07-30 12:18] mitkins commented on #517
I think this applies to the latter part of #504. Looking at `VerifyCookie` @Hanspagh opted to include the following code:

[code]

In the case of `:token_expired`, calling the error handler is optional - depending on whether `EnsureAuthenticade` is in the pipeline.

I've made a copy of the `VerifySession` plug and added the `{:error, :token_expired}` match. So far it seems to be doing what I expec

[2018-08-02 04:52] zacksiri commented on #516
Yep, someone, please update this hex.

[2018-08-03 08:27] Hanspagh commented on #517
I guess its a matter of how you understand the verify part of `VerifySession`, some might argue that an expired token is not valid and there for should not get past the Plug, but since its handled otherwise the `VerifyCookie` plug, it would make sense to align the two.

[2018-08-03 11:15] Hanspagh commented on #507
I would think it would be possible to use https://hexdocs.pm/plug/Plug.Conn.html#delete_resp_cookie/3 to remove it when you sign out.

[2018-08-03 20:05] yordis commented on #507
I am not sure if cleaning up the cookie is what we should do since `remember me` is for memorizing the who the user was.

Logging off doesn't mean the computer can't memorize who you were.

For example,

Google shows you a list of accounts that you signed up or logged in in your computer.

So I don't believe that we should remove the cookie because this is based on the use cases.

That being said,

[2018-08-03 21:37] obrok commented on #507
From my perspective the easiest thing would be to have a function that reverses the effect of `remember_me`. Currently the interface allows me to `remember_me` easily, but there is no obvious, same-level way to reverse that. For example, if I just wanted to stop "remembering" the user, but not destroy the session entirely it seems like I have to dig around the implementation to figure out where th

[2018-08-03 21:41] yordis commented on #507
@obrok fair enough, we could add some function for clean up `remember_me` and you decide to clean it up or not in the callbacks.

[2018-08-04 13:27] mitkins commented on #517
I can definitely see that point of view (in terms of not allowing `VerifySession` when the token is not valid and the fact that this would introduce a breaking change). Though I quite like the idea that the `EnsureAuthenticated` plug is where the error is actually raised, to me it's an intuitive way of saying "this page must be protected".

I'm assuming that the alternative _is_ to create my own p

[2018-08-05 00:10] yordis commented on #517
@mitkins I don't believe that there is an issue, to be honest.

Everything depends on the order and the plugs that you use in your business and all of them depends on the app.

But please if you think otherwise I would love to see a descriptive message with your doubt and suggestions on what we need to do.

[2018-08-05 23:33] mitkins commented on #517
I suspect that there isn't either. I realised what I'm after is a best practice. That is, in the case where:

* A page does not require authentication; and
* I would like to conditionally show user info (if it's available); and
* The token has expired; and
* I don't want to disrupt the page from loading

What's the best practice? Any advice is appreciated, but if you would like me to close the iss

[2018-08-13 07:53] #477 closed

[2018-08-13 12:54] #517 closed

[2018-08-14 10:46] Hanspagh commented on #507
@yordis Are you working on this?

[2018-08-14 18:13] yordis commented on #507
@Hanspagh until the next month and I am off the computer.

If you want to take the task, by all means, go ahead and do it.

[2018-08-22 18:45] williamweckl commented on #516
+1

[2018-08-22 19:13] hassox commented on #516
Thanks for the ping. 1.1.1 is published

[2018-08-22 19:13] #516 closed

[2018-08-23 12:51] mpugach opened #520 "how to configure RS256 key?"
Hello

I have a public key https://krishna-academy-ua.eu.auth0.com/.well-known/jwks.json

Currently it fails here https://github.com/ueberauth/guardian/blob/v1.1.0/lib/guardian/token/jwt.ex#L300

How should the key data structure be formed? It does not work as it is

[code]

[code]

[code]

if I put `IEx.pry` here https://github.com/ueberauth/guardian/blob/v1.1.0/lib/guardian/token/jwt.ex#L300
it

[2018-08-23 13:16] yordis commented on #520
I would be helpful if you post some code snippet and the error output so we can see the stack trace of it.

[2018-08-23 17:39] mpugach commented on #520
Thank you @yordis for the quick response

Attached some code, but it is more a configuration issue

I need some help to convert my public key payload (the first link) to the format accepted by `secret_key` config parameter

[2018-08-24 04:36] mpugach commented on #520
the valid format is

[code]

I tried atom keys first, which did not worked

[2018-08-24 04:36] #520 closed

[2018-08-24 19:23] MarkPare opened #521 "JWT invalid after production app image rebuild"
1. I'm an authenticated user that has been issued a jwt.  Everything works fine.
2. The production application's docker image is rebuilt, redeployed, and the phoenix server is restarted.
3. My jwt token issued before the rebuild is no longer valid.

I'm having trouble finding what would be causing this.  Looks like the secret key used in `config.exs`guardian config will always be the same across b

[2018-08-25 00:35] yordis commented on #521
How are you setting up the secret key?

[2018-08-30 19:39] AlexRiedler opened #523 "secret_not_found when attempting to build key"
Guardian v1.1.1 (haven't tried previous versions yet)

I keep getting `{:error, :secret_not_found}` when attempting to encode and sign a token.

My example project is here: https://github.com/AlexRiedler/my_project/tree/guardian-setup and you can clearly see the key is set here: https://github.com/AlexRiedler/my_project/blob/guardian-setup/config/config.exs#L28

## Details
`no match of right hand

[2018-08-30 19:42] hassox commented on #523
Hey there. An can you please point me at the implementation for `MyProject.Guardian`

[2018-08-30 19:43] AlexRiedler commented on #523
OMG I just realized I did the same error as https://github.com/ueberauth/guardian/issues/429 typed opt instead of otp ... ; weird that the error changed though? should I keep this open?

[2018-09-02 04:13] #523 closed

[2018-09-11 23:00] nicolkill opened #526 "Use Redis/Memcached as token database instead GuardianDb"
The database will be agnostic from the application, why not use Redis or Memcached as database

[2018-09-19 10:02] yuchunc opened #527 "Guardian.Plug.sign_in/2 returns nil instead of Plug.Conn.t in Production"
I am using `Guardian.Plug.sign_in/2` to handle the call back request from Facebook OAuth callback. It all worked without a hitch during development, but when I run the application in production mode `Guardian.Plug.sign_in/2` produced `nil` instead of a conn struct, and breaks the application. Am I missing some configuration?

Here is the gist: https://gist.github.com/yuchunc/e50bbba0c11b85cc249aba

[2018-10-09 21:03] #521 closed

[2018-10-09 21:08] #504 closed

[2018-10-09 21:08] yordis commented on #504
Feel free to open the issue if the problem persists.

[2018-10-18 22:25] lmcardle opened #529 "can not install on Phoenix 1.4.0-rc"
I am unable to install this on a new project I am using Phoenix 1.4.0-rc. I get the error:
[code]

[2018-10-18 23:41] yordis commented on #529
I believe that until `1.4` is released we can't take ownership of the issues that could potentially happen.

The reason, as a release candidate, things could change and break over and over so it is better to wait until the finale release of it, unless @ueberauth/core think otherwise.

In the mid-time, you could add fork the repo and change this deps to include `1.4` https://github.com/ueberauth/gu

[2018-10-24 17:12] expelledboy commented on #481
Hey guys, I want to use JWE to pass around sensitive user profile information. Based off this thread, can I assume guardian doesnt support JWE? Does the underlying JOSE library not support JWE?

Otherwise @hassox can your changes not be merged into guardian?

[2018-10-24 17:32] davepersing commented on #481
@expelledboy - Guardian doesn't support JWE directly, so I wrote the extension to implement JWE with Guardian.  Repo is here:  https://github.com/davepersing/guardian_jwe

No doubt there are improvements to be made to the lib. :)  It's using the JOSE JWE functions to implement a JWE module for usage within Guardian.

Let me know if I can answer questions about it.

Cheers,
Dave

[2018-10-24 17:51] hassox commented on #481
Awesome! Fwiw guardian only default provides JWT. This is exactly an example of why guardian uses tokens and not JWT!

Your repo and token implementation makes me so happy!

@expelledboy which changes are you referring to?

[2018-10-24 19:54] expelledboy commented on #481
Sorry I understood that it was a fork of guardian, read through README now 🤣  @davepersing thank you for efforts!

[2018-10-26 20:54] pdgonzalez872 opened #530 "Small typo in tutorial"
There is a small typo in the [tutorial](https://github.com/ueberauth/guardian/blob/master/guides/tutorial/start-tutorial.md):

`## lib/auth_me_web/views/session.eex` should be `## lib/auth_me_web/views/session_view.eex`.

Very minor. I'll push up a commit and you can use it if you'd like. No hard feelings if not.

Thanks!

[2018-10-26 21:19] #530 closed

[2018-10-29 15:04] fuelen opened #532 "Two sources of truth for type of the token"
We can set token type in 2 ways
[code]
and
[code]
but with 1st variant I can't pattern match by "sub" field in  subject_for_token/2 function.
It seems like I don't need token_type key in options at all.

Could anyone explain this design decision and how to use token types correctly?

[2018-10-29 16:16] scrogson commented on #532
The 3rd argument to `encode_and_sign/3` is a `Keyword` list of options that can be used to override any defaults set in your configuration.

https://github.com/ueberauth/guardian/blob/73b0c3d96985a553c97167ec0757d8885030b1ee/lib/guardian.ex#L84

You might find the documentation for the `Jwt` token module to be useful: https://github.com/ueberauth/guardian/blob/master/lib/guardian/token/jwt.ex

[2018-11-01 20:34] fuelen commented on #532
But using "typ" key I can override any default value too

[2018-11-03 22:11] cultofmetatron commented on #529
Just made a fork with the versions bumped [https://github.com/cultofmetatron/guardian](https://github.com/cultofmetatron/guardian).

I plan to full ham with this on a 1.4 app and fix issues as I run into them. Feel free to submit PRs.

[2018-11-08 13:11] johannestroeger commented on #529
isn't this a good opportunity to replace `Poison` with `Jason`? or make it at least configurable like [ecto](https://github.com/elixir-ecto/ecto/blob/master/CHANGELOG.md#json-handling) does it?

[2018-11-08 20:05] yordis commented on #529
@johannestroeger open a new issue with your suggestion so I can circle back to this.

When we use `Poison` or `Jason` shouldn't matter and it shouldn't break anything

[2018-11-09 00:36] AspenJames opened #534 "Links in guide broken"
Clicking links in guardian/guides/introduction leads to 404

[2018-11-09 19:52] doomspork commented on #481
@davepersing if you're open to helping with the on-going maintenance we'd love to have you join the Ueberauth team to help with those efforts.  Is this something you'd be open to?

[2018-11-09 20:15] davepersing commented on #481
@doomspork - I am absolutely open to it.

I can't dedicate to full-time assistance (full-time job and a side-gig), but I'm absolutely happy to help out wherever I can!

[2018-11-09 20:32] doomspork commented on #481
@davepersing if you want to transfer the repo to `ueberauth` I will accept it and add you to the org 😁

[2018-11-09 20:33] davepersing commented on #481
Will do directly after lunch!

[2018-11-09 20:34] doomspork commented on #481
@davepersing I've invited you to our freshly created @ueberauth/jwe team 😁

[2018-11-09 21:19] davepersing commented on #481
@doomspork - Re: Twitter - it's @llamaindustries.

Repository is transferred.  Added all the teams to the repo.

Thank you, sir!

[2018-11-09 21:46] doomspork commented on #481
Welcome aboard @davepersing 🎉

[2018-11-15 03:48] dubert opened #536 "Cutomizing token headers"
I'm trying to replicate this exact format of token:
(This is issued by Twitch, and I'm building an extension service that interacts with their API)
[code]
I can add claims to cover `channel_id`, `pubsub_perms`, `role`, and `opaque_user_id`, but I can't remove: `"aud"`,`"iss"`,`"jti"`,`"nbf"`,`"sub"`,`"typ"`.

Examining the [JWT documentation](https://tools.ietf.org/html/rfc7519#section-4.1) only `

[2018-11-15 16:11] yordis commented on #536
@dubert to be honest, I would recommend you to use `jose` or something more low level for your JWTs.

Guardian wasn't meant to be used as JWT related package but for authentication based on some sort of token.

[2018-11-15 16:31] hassox commented on #536
@dubert if you want to omit some keys from your token you can. Use the `build_claims` callback on your guardian impl module.

[code]

[2018-11-17 21:15] egeersoz opened #538 "Phoenix 1.4: Refactor guardian plugs to use put_view/1"
The `render/4` function has been deprecated in Phoenix 1.4, so the various guardian plugs need to be updated to use `put_view/1` followed by `render/3` when rendering.

Warnings are currently reported in the console:

[code]

Example usage of the new `put_view/1` function:

[code]

[2018-11-23 18:15] Apelsinka223 commented on #401
@hauptbenutzer @ratbag98 @mpoeter have you solved this problem somehow?

[2018-11-23 18:18] ratbag98 commented on #401
Sorry @Apelsinka223 , I dropped Guardian the day after posting my “me too” and coded my own very simple system that does what we need and no more.

[2018-11-23 19:03] Apelsinka223 commented on #401
@doomspork is there any chance that `halt` would become configurable?

[2018-11-24 15:46] mpoeter commented on #401
@Apelsinka223 I simply created my own VerifyHeader module by copying the code from the Guarding module and removing the halt call.

[2018-11-24 18:00] hassox commented on #278
@connorjacobsen not much to go on mate. Are you using cors?

[2018-11-25 07:36] hauptbenutzer commented on #401
@Apelsinka223 We simply built a wrapper module that would unhalt the connection: https://gist.github.com/hauptbenutzer/bcc528c622317aabf0b8c5ee1890c536 Not pretty, but it does the job.

[2018-11-25 21:11] Apelsinka223 commented on #401
@hauptbenutzer looks like best solution, thank you!

[2018-11-26 02:16] dubert commented on #536
Thanks! I believe this solves my issue.

[2018-11-26 02:16] #536 closed

[2018-12-04 14:04] gustavowt opened #548 "Guardian - Auth0 JWT verification always invalid"
Hey folks,

I'm trying to verify a token from auth0 using guardian, but no matter which configuration I use, it always returns that my token is invalid (reason secret_not_found). Reaching you guys here because I've already tried/read all issues regarding this subject in the closed issues but all configurations stills return the same result (invalid_token).

Here is my configuration

[code]

Just f

[2018-12-05 12:21] markfrst opened #549 "add support poison 4.0"
* Updating react_phoenix (https://github.com/geolessel/react-phoenix.git)
Resolving Hex dependencies...

[code]

[2018-12-05 14:24] #549 closed

[2018-12-10 14:52] doomspork commented on #538
@egeersoz a PR is welcomed 👍

[2018-12-12 18:11] gustavowt commented on #548
Since nobody could help with this, I'm closing the issue.

Tks anyways

[2018-12-12 18:11] #548 closed

[2018-12-13 16:25] Hanspagh commented on #532
Since typ is also part of the jwt claims you can also use the claims to set the token type.
As I understood it, both options are available because sometimes you have some claims and you want to sign a new token with those claims  but a new token type. The options type makes this easy and you don't have to add typ to your claims.

[2018-12-17 22:48] #507 closed

[2018-12-21 18:30] jsangilve opened #555 "The verify_literal_claims function should be more that an equal check"
While using JWT, there are situations where the same token is valid for different audiences:

[code]

In the example above, the token is valid for 3 different audiences that could be handled by 3 completely different apps. For instance, one application could only require the token to have `example_microservices_api` audience.

Normally, we'd define a Guardian's pipeline using `VerifyHeader` plug a

[2018-12-26 02:37] yordis commented on #532
@fuelen is this still an issue for you?

[2018-12-26 12:52] #532 closed

[2018-12-26 16:38] doomspork commented on #500
Agreed. We'll nuke the extra branches. There's no reason for us to keep an older version around and worry about backporting. That's not something that's been done for many, if any, Elixir packages. I think things are moving fast enough to expect folks to upgrade.

[2018-12-26 16:39] #500 closed

[2019-01-08 01:49] mc962 opened #559 "Receiving a `secret_not_found` message on login action"
I've been trying `guardian` on an app together with `absinthe` to make a GraphQL API Phoenix application.

I got most of it working, and even the sign_up action works as expected. However, for the `login` action I am receiving a `secret_not_found` message in the response (no errors in the console).

From what I can tell, I am probably having an issue with `guardian`, as the message seems to be fro

[2019-01-08 01:53] yordis commented on #559
@mc962 your config looks fine except that I don't know if this is happening on production. This definitely seems to be something on your side.

[2019-01-08 03:12] yordis commented on #559
Check the name of your OTP, the name of your module and so on

[2019-01-08 03:36] mc962 commented on #559
🤦‍♂️ 🤦‍♂️ 🤦‍♂️
Found it, it was the name of the module after all.

I had been using a context called `Authentication`, where the `Guardian` module was namespaced behind that module.

But my dev.exs config was asking for `MyAppName.Guardian`, instead of what I had,  which was `MyAppName.Authentication.Guardian`. That's what I get for trying to be organized 😆

Thanks for the advice.

[2019-01-08 03:36] #559 closed

[2019-01-16 01:21] asummers opened #562 "Consumer Project Dialyzer Failing on master"
After [this](https://github.com/ueberauth/guardian/commit/5d13afc9792396c955a83a35596b54eceab26e78) commit,

[code]

calls into

[code]

which does not type check for projects that call `use Guardian`.

[2019-01-16 02:19] asummers commented on #562
Note that simply re-adding `implementation()` does not work for some reason. There's a deeper issue here somewhere.

[2019-01-16 02:59] #562 closed

[2019-01-16 20:07] shanmugharajk opened #565 "Dialyzer throwing un necessary warnings"
I am using the vs-code extension https://marketplace.visualstudio.com/items?itemName=JakeBecker.elixir-ls

My Guardian module code is as

[code]
The moment I include this use Guardian.Permissions.Bitwise i get the following warnings in vscode

I tried googling but I am failed to figure the reason for this. Could somebody please help me on this?

[2019-01-16 20:34] doomspork commented on #565
@shanmugharajk what version of Guardian are you using?

[2019-01-16 20:36] shanmugharajk commented on #565
Mix config info

` {:guardian, "~> 1.0"}`

[2019-01-17 01:34] asummers commented on #565
I did some minor debugging into this. You can get it working if any of:

1) `available_permissions` type relaxed to map
2) `available_permissions` type inlined to `%{optional(atom) => [atom]}`
3) `available_permissions` spec removed
4) Call to  `Guardian.Permissions.Bitwise.available_from_normalized(@normalized_perms)` inlined into `available_permissions`.

These all have pretty self evident flaws

[2019-01-20 18:38] shanmugharajk commented on #565
Is it possible to suppress these warnings in my code?

[2019-01-22 20:53] garretttaco opened #569 "Elixir 1.8 deprecations"
The release of [Elixir v1.8.0](https://github.com/elixir-lang/elixir/releases/tag/v1.8.0) comes with a few hard deprecations. I noticed that one in particular is being used in this library.

[2019-01-22 20:58] doomspork commented on #569
@garretttaco thanks for bringing this to our attention. A PR to fix these would be greatly appreciated 😁

[2019-01-22 21:08] garretttaco commented on #569
@doomspork I will get to it as soon as I can! Things are swamped at work but I figured I would at least bring it to others' attention.

[2019-01-25 19:19] sjoconnor commented on #569
I just ran into this as well, but it looks like this has already been fixed here https://github.com/ueberauth/guardian/pull/557 and is available in v1.2.1.

[2019-01-25 21:46] garretttaco commented on #569
@sjoconnor Awesome, I did not see that. I upgraded and it appears to have fixed the issue. Thanks for pointing that minor version update. Since this is solved, I am closing this issue.

[2019-01-25 21:46] #569 closed

[2019-01-25 21:48] garretttaco commented on #529
I was able to install this on a Phoenix 1.4 project, should we close this out?

[2019-01-25 22:07] #529 closed

[2019-01-28 04:06] silverp1 commented on #434
Sorry to necro this, but I seem to be having a similar issue here and I can't seem to figure out what exactly I am doing wrong.

config.exs
[code]

Foo.Guardian
[code]
^ random junk added to confirm whether or not this is running at all

pipeline
[code]

Adding `allow_blank: true` to the `LoadResource` call does work, without it I am getting the same error the OP mentioned as I am using a temporar

[2019-01-28 06:00] NeoAlchemist commented on #503
Hi, I got the same issue.
I implemented 3 different pipelines for 3 different user types, but once you login with one of them, you can have access to all areas. You can check github repo: https://github.com/NeoAlchemist/bureau

[2019-02-01 00:03] doomspork commented on #503
Thanks for the heads up @rafamedina / @NeoAlchemist — we'll try to make time to look into this. In the mean time, PRs are welcome if you're already investigated 😁

[2019-02-01 06:34] NeoAlchemist commented on #503
Yeah,  I kinda solve this by placing user id inside session and using guardian token just only for loading and checking data.

Also I have checked test and code of guardian and to me everything seems right, that mean we are just don't using it in right way.

I got another example much simpler, I will upload it later when I come back at home.
Thank you

[2019-02-07 06:28] randolphpark commented on #497
I am having a similar problem.
Would be great if @andreapavoni can clarify what is the "different package"? Thanks

[2019-02-07 08:29] andreapavoni commented on #497
@randolphpark I've removed `guardian` and installed `joken` package (to handle JWTs), then I wrote the rest of the glue code (plugs & co).

[2019-02-09 18:30] darrenklein opened #573 "Suggestion for version 0.X -> 1.X upgrade guide, re: null client auth tokens"
Hello, thanks very much for all of your work on this terrific library. I just wanted to write to make note of an issue that I encountered when upgrading from Guardian 0.14 -> 1.1 that I don't think was mentioned in your upgrade guide. Briefly - when using version 0.14, a `null` token in the authorization header on the request connection would work for requests to unprotected controller actions, bu

[2019-02-15 12:55] Hanspagh commented on #555
I assume this is fixed, so we should close this

[2019-02-15 13:47] Hanspagh commented on #538
I have just had a look at this, guardian doesn't seem to use render anywhere, the warning you are referring to looks like is coming from your own implementation of the error_handler, could that be the case?

[2019-02-15 13:50] Hanspagh commented on #573
Thank you for the heads up and very clear instructions. Maybe we should add this to the upgrade guide?

[2019-02-15 15:31] egeersoz commented on #538
@Hanspagh Yes, that did indeed turn out to be the case. It wasn't immediately obvious from the stack trace. Thanks for looking into it!

[2019-02-15 15:31] #538 closed

[2019-02-15 16:21] #555 closed

[2019-02-15 18:16] darrenklein commented on #573
Great, thanks for giving this your attention.  Keep up the great work!

[2019-02-18 20:09] freqn opened #577 "Broken links in tutorial.. token documentation, implementation module docs, pipeline guide, etc"
Broken links in tutorial.. token documentation, implementation module docs, pipeline guide, etc

[2019-02-19 08:48] Hanspagh commented on #503
Sorry for the wait on this, I will try to reproduce this today

[2019-02-19 13:10] Hanspagh commented on #503
Okay @NeoAlchemist. The reason for your error is this [line](https://github.com/NeoAlchemist/guardian_err/blob/master/lib/guardian_error_web/auth/plug_load.ex#L19). Basically if there is already a token in the current plug session, the `VerifySession` is ignored, and I think its just wrong use of the library. Could you explain the the reason behind this and then maybe we can come up with a solutio

[2019-02-19 14:33] Hanspagh opened #578 "Improve the error messages of the permission plug"
Right now the error message is always `{:unauthorized, :unauthorized}` which is not really helping so much when trying to figure out why a pipeline failed the authentication.

[2019-02-19 15:14] Hanspagh commented on #503
I have not been able to recreate the exmaple of @rafamedina, Do you by any chance have a code example with this problem?

[2019-02-19 15:16] Hanspagh commented on #577
Hi @freqn could you provide the url of the broken links?

[2019-02-19 17:30] freqn commented on #577
Certainly (My apologies for not doing so yesterday)!

Token Documentation:
https://github.com/ueberauth/guardian/blob/master/guides/tutorial/tokens-start.html

Implementation Module Docs:
https://github.com/ueberauth/guardian/blob/master/guides/tutorial/introduction-implementation.html

Callbacks Link:
https://github.com/ueberauth/guardian/blob/master/guides/tutorial/Guardian.html#callbacks

Pipel

[2019-02-20 08:17] Hanspagh commented on #577
Thank you. This is actually because the guides are being generated to be viewed on [hexdoc](https://hexdocs.pm/guardian/tutorial-start.html#content). We will find a way to make this more obvious or fix the links on github

[2019-02-20 21:14] freqn commented on #577
Ah, that makes sense. Glad to help!

[2019-03-01 13:05] shahryarjb opened #581 "module Guardian.Plug is not loaded and could not be found"
Hello, I have updated my project to new Guardian, but I have a `lib/auth_service/guardian.ex:2: module Guardian.Plug is not loaded and could not be found` error, it can't be able to load Guardian,

my file:
[code]

I tested `mix deps.get && mix deps.compile` before this error, but it was not fixed.

my project is umbrella, elixir v1.8.0 and `{:guardian, "~> 1.2"}`

my config:
[code]
How can I fix

[2019-03-01 17:42] yordis commented on #581
Do you have `plug` and `guardian` in your dependencies?

[2019-03-01 18:28] shahryarjb commented on #581
@yordis it's my elixir project under umbrella
[code]

Have I mistaken anything?

[2019-03-01 18:40] yordis commented on #581
Could you post the stack trace of the error, I can't see anything wrong

[2019-03-01 18:47] shahryarjb commented on #581
@yordis I didn't understand what you told me, sorry, but you need the error?

see the pic plz
![screenshot 2019-03-01 at 10 15 56 pm](https://user-images.githubusercontent.com/8413604/53659042-b9567c00-3c6f-11e9-8567-55bb0ab1c995.png)

[2019-03-01 19:11] yordis commented on #581
At this point, are you sure you added the dependency to the correct package?

I am not sure what is the issue other than having issues with the dependencies.

[2019-03-01 21:32] shahryarjb commented on #581
It's umbrella project issue again,
I delete my build and delete all of sup project `deps` and this was fixed. after 8 hours :(

Thank you @yordis

[2019-03-01 21:41] yordis commented on #581
@shahryarjb your dependencies can't be under the umbrella but the individual packages under the umbrella, which may be what you called an issue since it is not well documented (people keep making the same mistakes)

I am happy that you figured it out

[2019-03-01 21:41] #581 closed

[2019-03-04 08:36] Hanspagh commented on #503
Closing due to inactivity

[2019-03-04 08:36] #503 closed

[2019-03-05 15:10] cgrtrifork opened #582 "Tokens generated by Guardian can't be verified using jwerl"
Hi,

After having trouble implementing an ES512 token generation/verification system, I think I found out **Guardian** and Erlang's **jwerl** libraries treat signing and verifying differently. Using the same private keys, I `encode_and_sign` some data, and then I try to verify it using [**jwerl** (1.0.0)](https://github.com/G-Corp/jwerl/tree/1.0.0) but the verification fails. I'm using **Phoenix**

[2019-03-09 15:59] #573 closed

[2019-03-09 21:41] yordis commented on #534
Can't confirm this anymore

[2019-03-09 21:41] #534 closed

[2019-03-09 21:42] #577 closed

[2019-03-18 17:27] mithereal commented on #581
this issue has reoccurred again, it is related to docker in my case, as i can compile and everything works fine if i dont use docker

[2019-03-22 15:41] Hanspagh commented on #582
Just to confirm, you are using [this](https://github.com/ueberauth/guardian_jwe) support lib. Would it be possible for you to send your guardian config?

[2019-03-25 10:52] pablocrivella commented on #498
Having this same issue, even tho the CHANGELOG says this is supported https://github.com/ueberauth/guardian/blob/master/CHANGELOG.md#v-0140

[2019-03-27 15:07] cgrtrifork commented on #582
Hi @Hanspagh

No, I'm not using that support library? Why do I need it for? This is my Guardian configuration:
[code]

And this is my SecretFetcher:
[code]

[2019-04-11 09:27] Hanspagh commented on #582
Sorry my bad , I mistook the name jwerl as JWE (JSON Web Encryption) instead of JWerl (Json webtoken erlang). I will investigate with your provided config

[2019-04-18 03:36] blisscs commented on #565
Hi,
I am also getting dailyzer issue when running `mix dialyzer`, I wonder is there any progress on this issue.

[2019-04-18 16:52] yordis commented on #565
@blisscs I don't think so since I just knew about it.

PR welcome 💜

[2019-05-10 18:26] mtomov commented on #514
Hey @joshchernoff  - just wanted to thank you for posting the issue and replying to it as well ... spent a good day chasing this one - in my case, it was just 2 letters swapped .. At least I got to know the internals of the library a bit better : )  Thanks again!

[2019-05-20 12:23] Hanspagh commented on #470
This is gonna be part of V2

[2019-05-20 12:23] #470 closed

[2019-05-20 13:34] Hanspagh commented on #582
I have just successfully signed JWT with Guardian and then verified it with Jwerl.
Here is the code I used
[code]
I would make sure that your private and public key files are in the correct format. I saved them both as pem as you can see.

[2019-05-21 08:15] Hanspagh commented on #565
Running mix dialyzer on current master branch results in no errors. @blisscs @shanmugharajk could you verify this?

[2019-05-22 16:55] yordis commented on #578
@Hanspagh is this fixed?

[2019-05-22 16:56] yordis commented on #565
Hey folks, feel free to reopen the issue, I believe that this should be fixed already. `v2` release is coming.

[2019-05-22 16:56] #565 closed

[2019-05-23 03:23] blisscs commented on #565
Thank you @yordis  and @Hanspagh  for the updates.

I am currently using "~> 1.0" now, I am seeing that I need to do some other changes to use current master version here.

Will keep my version as it is for now.
Once I try it will update here one again.

Best

[2019-05-23 09:27] Hanspagh commented on #578
No, we still have the {:unauthorized, :unauthorized} [here](https://github.com/ueberauth/guardian/blob/master/lib/guardian/permissions/permissions.ex#L430). I will find some time to work on it

[2019-05-23 16:48] yordis commented on #578
@Hanspagh I remember to be working on this thou, I have no clue what happened.

Let me get back to it then.

[2019-05-23 16:49] yordis commented on #578
LOL I found it https://github.com/ueberauth/guardian/pull/589

[2019-05-24 02:54] shanmugharajk commented on #565
@Hanspagh Yes, verified and the warnings are gone! Its fine now.

[2019-05-24 05:34] shanmugharajk commented on #565
Sorry again, I got another problem now this is my config

`config :epos, Epos.Guardian,
  issuer: "epos",
  secret_key: "+rENf7iolLX1ySSwS6smLJ+p/5ArJsI8DAgjhuCUMBFszV9aul8SO4jncpcfhS1x",
  permissions: %{
    basic_user: [
      :sales,
      :stock
    ],
    super_admin: [
      :all_access
    ],
    admin: [
      :sales,
      :stock,
      :products,
      :expense_write,
      :receivings_

[2019-05-24 06:06] yordis commented on #565
Is that the whole message?

[2019-05-24 06:08] shanmugharajk commented on #565
yes thats the whole message I am getting in the vscode console.

<img width="594" alt="Screenshot 2019-05-24 at 11 38 14 AM" src="https://user-images.githubusercontent.com/11159061/58306222-7a703680-7e18-11e9-9a7b-2cac5db27c70.png">

[2019-05-24 06:37] yordis commented on #565
@shanmugharajk there is an incoming change that touches a lot in `Permissions` module so, I will wait until that is out and then figure out if this still an issue.

Please, give us some time to prepare `v2` release and let's see if the issue persist.

[2019-05-28 21:09] corroded opened #591 "Some minor issues with Getting started tutorial"
Hi,

I am currently trying to follow the original article by Tyler and ended up here. I've noticed some minor snags while following it so dropped by to list them down and maybe do a PR for the corrections if deemed necessary?

So far I am on Tyler's step 4 which is password hashing. Here are a couple of things I noticed while comparing the old article and the current README [here](https://github.c

[2019-05-28 21:12] yordis commented on #591
@corroded PR welcome for sure!

[2019-06-03 14:26] Hanspagh commented on #582
Closing this for now

[2019-06-03 14:26] #582 closed

[2019-06-04 08:42] #578 closed

[2019-06-06 06:11] JamesFerguson opened #594 "v1.2.1 has a typo in mix.exs (`runtume`), can we get a 1.2.2 release?"
The typo was fixed in #568 back in January but there's no release available that has the fix. This is breaking an editor plugin I use (c.f. https://github.com/KronicDeth/intellij-elixir/issues/1495).

Could we get a point release?

[2019-06-07 09:32] futpib opened #595 "No way to delete `remember_me` cookie from client"
After I've done `remember_me_from_token(conn, token, claims)` in the `login` controller method, I'd like to do something in the `logout` method so that a `set-cookie` header with the token cookie removed is sent to the client.

Currently my best bet is to copy the private [`fetch_token_key`](https://github.com/ueberauth/guardian/blob/9ed23acbef1ddfde5a79c139570fada9399b0877/lib/guardian/plug.ex#L2

[2019-06-27 16:10] dereksweet commented on #520
@mpugach Did you ever figure out a way to get the public key payload to a format accepted by `secret_key`? I am having the same problem.

[2019-07-01 14:05] doomspork commented on #595
@futpib would you like to add something to the README about this?

Should we add a function to our public API to clear the cookie @ueberauth/developers?

[2019-07-01 14:20] futpib commented on #595
Oh, I think README already offers a solution to this:
https://github.com/ueberauth/guardian/blob/3fef64e08bdf3d4a18e531e7e78be269826ff1bc/README.md#L128-L130

Sorry, I did not notice this before :man_facepalming:

[2019-07-01 14:24] futpib commented on #595
Ah, `:clear_remember_me` does not solve this issue. `:clear_remember_me` remove the cookie from the response

https://github.com/ueberauth/guardian/blob/5663cfa94bdabe33474accb7b49052ca12ea4ea5/lib/guardian/plug.ex#L235-L239

while I need to send a "deleted" cookie to the client, so that it is deleted/invalidated on the client.

[2019-07-03 08:53] wolfiton commented on #565
if you still have some problems  and warnings with dialyzer this is how I solved it.
I changed the original code offered for **"Create a module that uses Guardian"**

**original code:**

    defmodule MyApp.Guardian do
      use Guardian, otp_app: :my_app

      def subject_for_token(resource, _claims) do
        # You can use any value for the subject of your token but
        # it should be usef

[2019-07-03 09:19] Hanspagh commented on #595
Hi @futpib. What is the reason you need the cookie to deleted. I think I would prefer to do deal with the issue with setting the cookie as expired instead. What do you think about this?

[2019-07-03 09:21] Hanspagh commented on #591
Closed by #593

[2019-07-03 09:21] #591 closed

[2019-07-03 09:23] Hanspagh commented on #386
@ueberauth/developers I think we can close this?

[2019-07-03 10:48] futpib commented on #595
What do you mean by "setting the cookie as expired"? Do you suggest storing invalidated tokens in a database?

[2019-07-03 12:19] Hanspagh commented on #595
No was thinking to ask the browser to expire the cookie. This [post](https://stackoverflow.com/a/53573622/3286944) from stack overflow has quite a good explanation

[2019-07-03 14:10] futpib commented on #595
That is what `max_age: 0` in this line of my current workaround is about:
[code]

[2019-07-03 14:44] Hanspagh commented on #595
Ahh sorry, I missed that. I think this is great and we should make it part of the clear_remember_me implementation. For the sense of understanding, I would recommend to just a empty string instead of "deleted". Would you be interested in doing the PR @futpib ?

[2019-07-11 12:36] #595 closed

[2019-07-12 01:31] yordis commented on #594
Moved to #588

[2019-07-12 01:31] #594 closed

[2019-07-12 02:26] ryanpager opened #598 "NodeJS JWT Compatibility"
I am building out a version 2 of our internal API in elixir (phoenix). The guardian module works great, but when I try to reuse an jwt token generated by the nodejs version (using the package jwt), it fails to verify on the version 2 (elixir).

Is there some sort of issue with compatibility? They are using the same hashing algorithm, and secrets -- so I would think it would work.

Code looks like

[2019-07-12 02:57] yordis commented on #598
Would be great if you can put a simple demo project with Node and Elixir CLIs that just validate the same JWT token.

This will help you to mitigate where the issue is happening and will allow us to investigate this faster.

[2019-07-12 03:10] ryanpager commented on #598
Heres a snippet from out auth controller on the version 1 of the api (node).

The v2 is just using the standard guardian setup -- nothing special at all. The salts for both v1 and v2 are the exact same (I just double checked that again).

[code]

[2019-07-12 03:13] ryanpager commented on #598
Heres a sample token issued from v1 that fails verification with Guardian:

[code]

[2019-07-12 14:08] Sgoettschkes opened #599 "Issuing different jwt tokesn not possible"
I'm trying to use guardian to generate multiple jwt tokens. The use case is that we have an existing authentication provider we want to deprecate so the new one should generate a new jwt token and a legacy one which will be removed after all applications are using the new token.

The new token will be using "RS512" with a public/private key and it's working as expected. The legacy token uses "HS25

[2019-07-13 08:17] Sgoettschkes commented on #599
As a follow up, if I exchange the config to support the "HS256" algorithm, everything works fine. I looked through the source and from what I can see the `fetch_secret_fetcher` function
https://github.com/ueberauth/guardian/blob/5663cfa94bdabe33474accb7b49052ca12ea4ea5/lib/guardian/token/jwt.ex#L510-L512
only reads from the config, never from the opts, ignoring the option.

Could this be the issue

[2019-07-13 15:42] yordis commented on #599
@Sgoettschkes make a PR with your proposal on how to fix the current issue. it will help us to understand exactly what needs to change.

[2019-07-15 03:49] 7stud opened #600 "UserManager.change_user() ?"
(1)
The only function that the tutorial puts in `lib/auth_me/user_manager.ex` is:

[code]

Yet, in  `lib/auth_me_web/controllers/session_controller.ex` the tutorial calls the function:

[code]
here:
[code]

Is `AuthMe.UserManager.change_user()` simply a wrapper around `AuthMe.UserManager.User.changeset()`, for instance:

[code]

(2)
In `lib/auth_me/user_manager.ex`:

[code]

the `query` line will

[2019-07-15 13:32] Hanspagh commented on #599
@Sgoettschkes I am not sure it was ever the intention to be able to pass the secret_fetcher as a optional param to `decode_and_sign`. I was thinking that creating two Guardian config would fix this issue for you.
Basicly would have one config what is your old token issuer and one for the new private public key one. Having them in two modules also makes it a bit more easy to maintain and document.

[2019-07-15 13:48] Hanspagh commented on #600
Hi @7stud. Thank you for question.
I can see it can be a bit confusing, but the missing functions are actually generated by Phoenix when running `mix phx.gen.context UserManager User users username:string password:string`, what is command does; is create a new User in the UserManager context, and it is in this context the functions are auto generated. I hope this makes sense

[2019-07-16 05:05] 7stud commented on #600
Okay, thanks for the tips.  I added those functions to my UserManager context.  However, there are a few other errors in the tutorial that will keep any beginner from ever getting the Guardian example to work.  And, I doubt even intermediate Guardian users would be able to figure out how to fix one of the errors--I had to dig through the source code and follow a trail through two macros to figure

[2019-07-16 07:08] Hanspagh commented on #600
I am sorry to hear that there are other problems with the tutorial, as stated above those two functions should be auto generated, when the tutorial ask you to run mix phx.gen.context UserManager User users username:string password:string. If there are any other problems just let us know and we will have a look at them

[2019-07-16 08:37] Sgoettschkes commented on #599
Maybe I misunderstood the docs. From the docblocks I got

and assumed you could overwrite the config options.

I can see how two different configs would solve my problem and will try that. Would you be interested in me adding a few sentences of documentation for this use case?

[2019-07-16 10:36] Hanspagh commented on #599
Yea, I can see why I can be a bit misleading. Feel very welcome contribute
to make it more clear

On Tue, 16 Jul 2019, 10.37 Sebastian, <notifications@github.com> wrote:

[2019-07-16 12:23] Sgoettschkes commented on #599
Just to clarify: Would you recommend to have one config and Guardian implementation for each token, even if they share the key? I'm asking because technically, we have 3 different tokens:

* Our old token using a secret
* A new access token using public/private key
* A new refresh token using the same public/private key as the access token

I just looked at guardian_db and it seems that in order t

[2019-07-17 02:04] ryanpager commented on #598
Any ideas on this -- Im completely stumped here; and its blocking a bunch of implementation. When I use Joken it can decode it with no issues -- but just out of the box guardian says the token is invalid.

[2019-07-17 02:07] ryanpager commented on #598
Nevermind -- figured it out on a whim. For those that were struggling with this -- for some reason you *must* use the following config settings if your working with the nodejs jsonwebtoken package:

[code]

[2019-07-17 02:07] #598 closed

[2019-07-17 17:47] Hanspagh commented on #599
Sorry for the late reply. To keep things simple I would have one config per secret or secret fetcher, no need to make a additional config for your refresh token.

[2019-07-21 17:50] #386 closed

[2019-07-23 02:43] patientplatypus opened #603 "Decode and Verify /1 doesn't exist? (v1.2.1)"
This weird warning doesn't seem to follow the docs:
[code]
Code:
[code]
And check out this:
[code]
From here: https://hexdocs.pm/guardian/Guardian.html

What is going on here? Are the docs inaccurate, or is the test inaccurate? My code is very simple and it should work as it's almost a direct implementation.

[2019-07-23 02:49] patientplatypus commented on #603
I'm going to try and get it to work by passing empty vals to the extra arity -

[code]

It compiles, but I'm not sure it will work.

[2019-07-23 03:01] backspace commented on #603
I think you’re meant to be using a module that has `use Guardian`; notice the `MyApp` in the example. If you don’t access it that way, you can pass the module that has `use Guardian` as the first argument to `Guardian.decode_and_verify`.

[2019-07-23 03:34] patientplatypus commented on #603
I'm trying to follow this guide but it may be broken: https://gist.github.com/posilva/4fc69fcb71e463a7f00198b612522d39#file-context-ex-L30. It's non-official of course, so I think it's a misimplementation. Thanks for the help.

[2019-07-23 04:51] backspace commented on #603
hmm, maybe that’s for Guardian 0.14 or older, as I see [`Guardian.decode_and_verify/1`](https://hexdocs.pm/guardian/0.14.5/Guardian.html#decode_and_verify/1) in the documentation.

[2019-08-04 20:54] kreba commented on #594
Yes, please give the release button some love.

[2019-08-05 03:30] yordis commented on #594
Done

[2019-08-05 03:43] yordis commented on #603
That is the old API, you must use your own instance of Guardian module in the latest version of Guardian.

[code]

[2019-08-05 03:43] #603 closed

[2019-08-05 05:31] kreba commented on #594
Whoa, a whole major release! :astonished:
Thanks a bunch! :smile: :+1:

[2019-08-05 06:35] yordis commented on #594
@kreba the breaking change is introduced by `Phoenix 1.3` and we decided to split the packages so we are not required to introduce breaking changes in Guardian itself again because of a dependency.

[2019-08-06 18:17] Hanspagh commented on #599
@Sgoettschkes any update on this?

[2019-08-15 14:40] tamtran-agilityio opened #605 "Guardian.Plug.UnauthenticatedError"
`case Auth.authenticate(email, password) do
      {:ok, user} ->
        new_conn = Guardian.Plug.sign_in(conn, user)
        jwt = Guardian.Plug.current_token(new_conn)

     new_conn
        |> put_status(:created)
        |> render("show.json", user: user, jwt: jwt)

      :error ->
        conn
        |> put_status(:unauthorized)
        |> render("error.json", error: "User or email invalid")

[2019-08-16 00:06] yordis commented on #605
`{:error, :secret_not_found}` <---

Are you sure you are using the correct Guardian module?

[2019-08-16 07:28] tamtran-agilityio commented on #605
@yordis This is file using

[code]

[2019-08-16 09:41] yordis commented on #605
https://github.com/ueberauth/guardian/issues/523
https://github.com/ueberauth/guardian/issues/559

Did this help?

[2019-08-19 02:11] tamtran-agilityio commented on #605
I have update `secret_key`. It working now, thanks all!

[2019-08-19 02:11] #605 closed

[2019-08-20 20:39] evadne opened #606 "Revocation broken for normal use"
This is mainly a discussion. Custom server-side revocation (GuardianDb style) is broken when a custom module is used to track tokens and to revoke them remotely.

As per change made in https://github.com/ueberauth/guardian/pull/458 signing out of a _specific key_ ensures that the “after” callback is called and the revoke callback is also called. But usually when the bundled Plug is used, the most

[2019-08-20 21:06] #606 closed

[2019-08-27 11:48] zacksiri opened #607 "Guardian.Permissions.Plug Issue when using one_of option"
[code]

I'm getting this error when using the `Guardian.Permissions.Plug` inside my controller and using the `one_of` option the error is pointing to line 61 of the code which is

https://github.com/ueberauth/guardian/blob/master/lib/guardian/permissions/plug.ex#L61

I downgraded to version 1.2 and everything is working normally.

[2019-08-30 10:21] Hanspagh commented on #607
Hi @zacksiri. Did you see that we had a breaking change when upgrading to version 2.0
https://github.com/ueberauth/guardian/blob/master/CHANGELOG.md#breaking-change

[2019-09-02 11:27] ospaarmann opened #608 "How to mitigate invalid_token error when using different secret keys on the same domain"
I use Guardian to protect two different scopes in a phoenix app. One for members, one for admins. I set up guardian for both, using different configurations and secret keys:

[code]

Now when I log into `/admin` and then try to access `/members`, I receive an `invalid_token` error. This seems to come from

https://github.com/ueberauth/guardian/blob/b6c6deed44fac615fb839df0297aa1e522773b4a/test/sup

[2019-09-02 15:42] ospaarmann commented on #608
Nevermind, I found the option `key`. To make this work, you just need to place the tokens under a different key for each scope. So in my `SessionController` I now write:

[code]

And in my pipeline implementation I need to add the key as an option that the token can be fetched from the connection again:

[code]

[2019-09-02 15:42] #608 closed

[2019-09-03 04:08] zacksiri commented on #607
@Hanspagh ah I see totally missed that thank you! I will try it out.

[2019-09-03 04:42] zacksiri commented on #607
@Hanspagh Hey I tried implementing the changes, I'm getting the same error. Actually before I saw the breaking changes I already read through the code to figure out to come to the same conclusion the only thing I didn't do was set the encoding option which I read in the code will set it to the BitwiseEncoding module by default already.

[2019-09-03 09:24] yordis commented on #607
@zacksiri would be possible to create a PR replicating the issue in the tests?

It will help us to debug based on your use case, and it will easier to do some testing around the issue as well.

Otherwise, post some code snippets that could help us to know how you are using the feature.

[2019-09-04 08:04] zacksiri commented on #607
@yordis understood, I will get to it.

[2019-09-05 21:01] atonse opened #610 "Any information on what has changed in 2.0.0?"
We're trying to evaluate whether to upgrade to 2.0, but can't find any details on what API surface has broken in 2.0 (assuming you're using SemVer).

Is there a good place to find out why there was a version bump, and what's new?

[2019-09-05 21:04] yordis commented on #610
@atonse https://github.com/ueberauth/guardian/blob/master/CHANGELOG.md

[2019-09-05 21:04] #610 closed

[2019-09-20 12:53] Hanspagh commented on #607
@zacksiri. Did you have some code we could look at?

[2019-09-20 16:05] #600 closed

[2019-10-08 13:09] zacksiri commented on #607
@Hanspagh Hey no unfortunately I haven't had the time to create a sample project yet. I have downgraded to 1.2 for now since there are some projects I need to ship. I will upgrade my project again later to see if it still persists and will note down some code snippets.

[2019-10-08 14:32] Hanspagh commented on #464
@scrogson. Where are we on this?

[2019-10-08 14:41] Hanspagh commented on #607
@zacksiri Sure, I would really like to fix this thought, can you by any chance post what you have as params to `one_of`. Something like this asuming you use plug
[code]

[2019-10-11 21:23] nathany commented on #607
@Hanspagh Why is there a period after BitwiseEncoding in your example? Also in the documentation: https://github.com/ueberauth/guardian/blob/master/lib/guardian/permissions.ex#L88

[code]

Shouldn't it be a comma as it was in Guardian 1.x?

I'm having trouble upgrading from Guardian 1.2.1 to 2.0, despite reviewing the changelog (thanks for the tip)

In guardian.ex:

[code]
became:
[code]

In route

[2019-10-12 06:47] Hanspagh commented on #607
@nathany That is a good catch. It should ofcuase be a comma. I took the example strait from the documentation, so we need to fix that.

[2019-10-13 05:54] zacksiri commented on #607
@zacksiri here is what I have in the one_of

[code]

[2019-10-13 10:24] yordis commented on #607
[code]

[2019-10-17 11:50] steveops commented on #429
Lol, also typed `opt` and spent a good 2 hours debugging😀

[2019-10-17 17:13] nathany commented on #607
Thanks @Hanspagh. When using a comma, any idea why I'm getting this `Guardian.Permissions.BitwiseEncoding.init/1 is undefined or private` error (see https://github.com/ueberauth/guardian/issues/607#issuecomment-541229027)?

[2019-10-23 14:11] DmitryKK commented on #401
I have same problem. Why was the issue closed?

[2019-10-23 14:17] yordis commented on #401
@DmitryKK the person who opened the issue closed it 🤷‍♂

I will suggest to open a new issue and share your particular situation.

[2019-10-23 19:01] oskar1233 commented on #401
@DmitryKK @yordis Configurable halt has been merged in https://github.com/ueberauth/guardian/pull/617.

[2019-10-30 14:12] davidlibrera opened #620 "Using key option in sign_in"
I'm opening this issue because reading the documentation I wasn't able to figure how to sign_in using different keys.

[Here](https://github.com/ueberauth/guardian#plugs-and-keys-advanced-usage) is well documented how to fetch for a specific key.

I've supposed that the correct way for signing in is this way
[code]
but the `:key` parameter is ignored, using the default key.

I tried reading the co

[2019-10-31 15:30] Hanspagh commented on #620
Since `Guardian.Plug.sign_in` uses `Guardian.encode_and_sign`, would should check the docs for that function. https://hexdocs.pm/guardian/Guardian.html#encode_and_sign/4
Here you will see that the options to parse in is `token_type` and hope this solves your problem

[2019-10-31 15:39] Hanspagh commented on #607
Yes. It is because we need to use `plug(Guardian.Permissions)` and not `plug(Guardian.Permissions.BitwiseEncoding)`. I am sorry for the inconvenience. I will update the docs right a way

[2019-11-06 11:48] Hanspagh opened #624 "Fix Documentations for Permissions"
Currently the Permissions Docs are wrong.

- In the `permissions.ex` we use `plug Guardian.Permissions.BitwiseEncoding.` instead of `plug Guardian.Permissions,`

- `plug Guardian.Permissions.Bitwise` instead of `Guardian.Permissions`

[2019-11-08 14:28] geofflane commented on #607
Is there a resolution to this? I'm seeing the same `** (Protocol.UndefinedError) protocol Enumerable not implemented for 0.` for a user that doesn't have permissions for the application. In this case, I have a single-sign on system that the user may or may not have access to an app through permissions. So they're authenticated, but not authorized. (Permission set is empty for this app).

In 1.2 it

[2019-11-08 14:38] geofflane commented on #607
If I merge in a default set of permissions so that all of the keys exist in pems, then it works. That seems like a workaround to a code problem though.

[code]

[2019-11-13 08:14] Hanspagh commented on #607
Thank you soo much @geofflane for the detailed bug report and the fixing PR

[2019-11-13 08:14] #607 closed

[2019-11-14 12:26] Hanspagh commented on #620
@davidlibrera Did this solve your problem?

[2019-11-28 10:20] Hanspagh commented on #620
Closing due to inactivity

[2019-11-28 10:20] #620 closed

[2019-12-03 03:33] asppsa commented on #449
It's possible to override the `init` and `call` functions in `Plug.Builder`, so you can implement the desired interface like so:

[code]

Perhaps the default `use Guardian.Plug.Pipeline` could be wired up using something like the above?

[2019-12-19 22:50] Lazarus404 opened #630 "Permissions when empty list"
Hey guys,

If I add permissions to claims, but the permissions is an empty list, I get an error.  For instance:

    MyApp.Guardian.Plug.sign_in(user, %{pem: %{default: []}})

This will produce the error:

    protocol Enumerable not implemented for 0 of type Integer. This protocol is implemented for the
    following type(s): Ecto.Adapters.SQL.Stream, Postgrex.Stream, DBConnection.Stream,
    DBC

[2019-12-20 13:12] Hanspagh commented on #630
I think this issue was fixed by this PR #625, but we missing a release

[2019-12-24 12:16] Lazarus404 commented on #630
Thanks.  I'll try the master branch and will respond if I spot anything :)

[2019-12-24 14:07] Lazarus404 commented on #630
This is indeed fixed in master :)

[2019-12-24 14:07] #630 closed

[2019-12-24 14:14] Lazarus404 opened #632 "Permissions not halting on unauthorized"
Okay, so, bearing in mind I'm upgrading from 0.14 to 2.0, so I may be doing something wrong.  However, I have a permissions check at the top of each controller (different permissions for different actions).  This may look like:

    plug(Permissions, [one_of: [%{sys: [:sys]}]] when action in [:create, :update])

Now, in the `:create` action, it might look like:

    def create(conn, params, _curre

[2019-12-24 14:23] Lazarus404 commented on #632
Dagnabbit.  I found the answer from my own questioning :)

For those that read this with the same issue, you need to add `halt` to your Error Handler.  For instance:

    defmodule MyApp.AuthErrorHandler do
      import Plug.Conn

      @behaviour Guardian.Plug.ErrorHandler

      @impl Guardian.Plug.ErrorHandler
      def auth_error(conn, {type, reason}, _opts) do
        body = Poison.encode!(%{

[2019-12-24 14:23] #632 closed

[2019-12-25 23:45] SampsonCrowley opened #633 "Guardian.Plug.authenticated?/2 should have an authenticated?/1 equivalent"
It's not documented what needs to be provided for `opts` in the hexdocs, the `opts` arg should be implemented as an optional argument

[2019-12-25 23:48] SampsonCrowley commented on #633
Ok, after finding the same issue on stackoverflow, there should be documentation that the "Plug" needs to be under the application Guardian module, not the global one

[2019-12-26 00:16] SampsonCrowley opened #634 "Guardian.Phoenix.Socket is not available"
The ONLY place that it's mentioned is in the `CHANGELOG.md`

Seeing as MOST elixir developers are looking at the current Hex Docs, not scouring the github, it took me an absurdly long amount of time to figure out that Guardian.Phoenix.Socket was moved to a completely separate package.

The Hex Docs severely need to be updated to the latest version

Not even Issue #216 mentions that it was ACTUALLY

[2019-12-31 18:52] aaron-price commented on #634
This just saved me a lot of time. I've been trying to get it working with phoenix live views, but of course it wants a Conn, not a Socket.

Didn't even know there was a separate package for guardian phoenix. See:
https://hex.pm/packages/guardian_phoenix
https://github.com/ueberauth/guardian_phoenix

[2019-12-31 20:58] doomspork commented on #634
@SampsonCrowley / @aaron-price pull requests to improve the documentation are always welcome.

[2020-01-01 01:18] SampsonCrowley commented on #634
And if I find time to do so, I absolutely will. But as I'm not a maintainer of this project, there are other projects that will get that time first. Regardless of who finds the time to do the work, the issue still stands that this is a glaring gap in documentation, that should have been updated _with_ the change being made

[2020-01-01 03:54] #634 closed

[2020-01-01 03:55] doomspork commented on #634
Thanks for the report @SampsonCrowley

[2020-01-01 03:57] #633 closed

[2020-01-01 04:03] doomspork commented on #633
@SampsonCrowley we would love PRs to improve documentation :+1:

[2020-01-01 17:48] aaron-price commented on #634
Eh, it's all free, you can't have high expectations. You guys still do great work!

If I ever figure it out, I'll make a PR, but more likely I'll just give up and do my own auth from scratch.

[2020-01-01 20:14] doomspork commented on #634
Thanks @aaron-price! It’s unfortunate when people see open source (and maintainers) as something they’re entitled too without compensation or contributions. Thankfully they’re few and far between!

Those of us who’ve contributed and work to maintain these packages _want_ them to be perfect but alas we have our own obligations (both in work and personal lives) **and** we all have different backgrou

[2020-01-07 00:32] SampsonCrowley commented on #633
If you want me to contribute, don't close my issues before they're actually fixed

[2020-01-07 00:33] SampsonCrowley commented on #633
The point of issues is so that contributors _know what needs to be done_

[2020-01-07 00:41] doomspork commented on #633
Thanks for the feedback @SampsonCrowley 👍

[2020-01-09 00:11] SampsonCrowley commented on #633
Why even allow issues, if your only response is going to be "fix it yourself if you don't like it" and closing?

[2020-01-09 13:58] doomspork opened #638 "CODEOWNERS doesn't seem to work on Guardian"
The codeowners file doesn't seem to be working for our PRs. I will try to make time to investigate what is going on with that.

[2020-01-10 09:08] Hanspagh commented on #638
Fixed in #641

[2020-01-10 09:08] #638 closed

[2020-01-27 20:27] nathany commented on #607
@Hanspagh Should `Guardian.Permissions.Plug` be mentioned in the CHANGELOG?

[2020-01-28 09:38] Hanspagh commented on #607
I have already added it here https://github.com/ueberauth/guardian/blob/master/CHANGELOG.md#bug-fix

[2020-01-28 14:11] #624 closed

[2020-01-31 14:20] aeons opened #644 "Fails to compile if optional plug dependency is missin"
I am not sure whether this is an issue for Guardian or for Elixir/mix, but here goes.

If you create an empty project and add `{:guardian, "~> 2.0"}` as a dependency, compilation fails with
[code]

The referenced line is here https://github.com/ueberauth/guardian/blob/62744fb61fd62afe8bbb49b75b377be14aae65e6/lib/guardian/plug/pipeline.ex#L108-L110

[2020-02-05 13:30] nmbrone opened #645 "remember_me ignores token's TTL"
Here we're trying to get `max_age` for a cookie from the token itself but because of the reason described in #570 (list concatenation) we ignoring the value and always using the value from config or defaults. Do we really need to have a default value for `max_age` (or allow it to be configured)? Why not simply rely on token's TTL itself? Or there is a reason for keeping a cookie alive longer than

[2020-02-05 15:25] Hanspagh commented on #645
Good catch, I see a few problems with this code. First of all, I don't think we need `default cookie_options` anymore since we can never pass claims to cookie_options that doesnt have a `exp`
So we could simplify the code like this
[code]

[2020-02-09 19:32] Hanspagh commented on #645
@ueberauth/developers  Do you see any problems with the above?

[2020-02-14 16:41] brunoripa opened #646 "Google OAuth2 keys"
First of all thanks for the tool, it's really great!

I am actually using `ueberauth` to authenticate, and `Guardian` (`decode_and_verify/2`) in the callback controller to decode the token and extract the claims.

My problem is that google regularly rotates the secrets, which are published here:

`https://www.googleapis.com/oauth2/v3/certs`

but I don't understand why they are two (clearly, at any

[2020-02-24 02:00] MarkNijhof opened #647 "2.1 is not published yet"
I am just curious if there is a reason 2.1 has not been published yet as I did see it in the Changelog :) I am using the 2.1.0 branch now so I get the sliding cookie functionality.

[2020-02-24 12:13] Hanspagh commented on #647
@doomspork. Can you add me to hex, then I will publish this version

[2020-02-24 12:13] Hanspagh commented on #647
@doomspork. Can you add me to hex, then I will publish this version

[2020-02-24 12:19] Hanspagh commented on #646
Hi @brunoripa. A bit out of the scope of `Guardian`, but let me see if I can help anyway. Can you confirm that only one of the keys is working? The way I read it, is that you will need to re-fetch the keys once in a while (according to the cache-control header), but not that only one of them should work.

[2020-02-24 12:43] brunoripa commented on #646
Hi @Hanspagh , thanks for reply.

I had a workaround, the 2 keys are basically the old one plus the new one which will substitute the old one. So what I have done I had to make something like this:
[code]

using a specific SecretsFetcher _but_ passing the token, since I need to read the "kid" value in the token headers in order to identify which key to use. My question, at this point, is: I have a

[2020-02-27 19:19] doomspork commented on #647
Sorry about that @MarkNijhof! @Hanspagh I added you to guardian just now. I'll work on the rest of the packages this evening.

[2020-03-02 16:39] Hanspagh commented on #647
This is now resolved

[2020-03-02 16:39] #647 closed

[2020-03-10 23:48] doomspork commented on #644
@aeons what version of Elixir are you on?

@ueberauth/developers have any of you seen this before? I don't think I've ever used Guardian without Plug. I can try to spin up an empty project to test.

[2020-03-11 12:51] aeons commented on #644
Elixir 1.10.

I was trying to get sans_password updated to the newest guardian, and that does not have a dependency on anything except guardian.

[2020-03-23 14:41] RonaldKlaus opened #648 "Wrong link to "Implementation Modules" in "Getting started with Guardian""
Hello 🙂

I am currently following the tutorial **Getting started with Guardian** and within the section [Create Implementation Module](https://github.com/ueberauth/guardian/blob/master/guides/tutorial/start-tutorial.md#create-implementation-module) is a broke link to the implementation module docs.
The correct one would be `https://github.com/ueberauth/guardian/blob/master/guides/introduction/impl

[2020-03-23 15:08] Hanspagh commented on #648
Would you mind to do a pr for this?

[2020-03-28 14:14] sheltont commented on #523
same mistake. I typed "opt_app".

[2020-03-30 12:39] Hanspagh commented on #646
So is it correctly understood that a certain key is matching a certain token and therefore you will need to fetch a specific key to a token? Would this not mean that if there are enough key rotations a  token can be invalidated by the missing key. I have not seen this sort of key roration before, but if it makes sense we can have a look at how to handle this

[2020-03-30 15:47] Hanspagh commented on #644
This is indeed a problem
[code]
This part is wrapped in Code.ensure_loaded, but I guess it is a problem simular to this
https://github.com/elixir-lang/elixir/issues/8970

Do we want to go that direction or should we just include plug as a dependency?

[2020-04-01 10:29] brunoripa commented on #646
I can for sure tell you that the `kid` is telling you which key is to be used among the available ones. But I have guessed this reading tons of fragmented info on the web. Clearly, as a rule of thumb, I did not want to test _all_ of them, but precisely fetch the one needed (what if the server policy changes and they have multiple valid keys ? Testing all of them could end in a performance hit).

[2020-04-14 08:53] Hanspagh commented on #644
@ueberauth/developers ?

[2020-04-15 19:02] thiamsantos opened #651 "[Proposal] Add callback to revoke all tokens of a resource"
In my use case, we are using guardian_db to persist the tokens. And when a user changes its password, we need to revoke all tokens for that user. Today we don't have a way to do that on guardian without relying on implementation details of guardian_db.

I'm added this to my guardian module. It deletes all tokens of given resource.

[code]

I would love to have this feature on guardian itself. WDYT

[2020-04-23 11:12] Hanspagh commented on #651
Do we actually need to need any updates in Guardian to do this?
I am thinking to have `revoke_al`l makes no sense without havning `guardian_db`, so I would prefer that it was only implemented in `guardian_db`. Maybe I am missing something?

[2020-04-23 11:15] Hanspagh commented on #646
@brunoripa
Maybe you should rely on https://github.com/potatosalad/erlang-jose for this instead?
Seems a bit out of the guardian scope

[2020-04-23 12:17] thiamsantos commented on #651
@Hanspagh I'm really not sure.

Most of the behaviors of `guardian_db` are defined as callbacks of guardian itself. One example is the `revoke` function, even though it is defined in guardian, it does nothing without using guardian_db or something similar.

Because of that, I think it may make sense for `revoke_all` to be implemented in the same way. We add it to the guardian module and add the `g

[2020-04-25 14:08] doomspork commented on #651
@thiamsantos I understand @Hanspagh's hesitation, since this functionality is rather specific to GuardianDB it would feel out of place in Guardian. At the same time, I can understand the need for this functionality but there may be a way to achieve it without adding a callback.

What if we replied on an option for this? Right now we use `"aud"` and `"jti"` to look up what token to revoke. If we ma

[2020-04-26 21:57] thiamsantos commented on #651
@doomspork I think that would work.

But for me that would be a strange interface for the API, passing the `sub` as option. As usually by passing the token we would think that would only delete the token itself and not all the tokens for that resource, the API would be a little dubious in my opinion.

I was thinking a little about it in the last days and I think what @Hanspagh said makes sense. We

[2020-05-11 07:04] #651 closed

[2020-05-11 07:06] Hanspagh commented on #646
Closing due to inactivity, feel free to open again

[2020-05-11 07:06] #646 closed

[2020-05-17 13:27] #645 closed

[2020-05-24 16:00] undefined-hero commented on #648
Hey guys, here we have links for the hexdocs.com documentation.
Like:

So, we don't need to fix anything.
Cheers!

[2020-06-03 15:07] #648 closed

[2020-06-04 07:23] Hanspagh opened #656 "Add Key rotation docs"
See #654

[2020-06-15 17:52] alanraul opened #658 "Filter actions on a controller by permissions"
Hi.

I am trying to filter actions on a controller according to the permissions of the token

[code]

but this doesn't work, I'm using **guardian - 2.0** and **phoenix - 1.5**

[2020-06-22 20:53] Hanspagh commented on #658
@alanraul Did you see the docs here https://github.com/ueberauth/guardian/blob/master/lib/guardian/permissions.ex you will need to make this part of your pipeline, do you have a bigger example of your setup?

[2020-06-22 23:53] alanraul commented on #658
Hi @Hanspagh. I read this doc https://hexdocs.pm/guardian/Guardian.Permissions.html#module-using-with-plug

I understand that this part validates if your token has all or at least one of the permissions but when validating your token it has access to all the actions of a controller, isn't it?

This is an example of auth pipeline, router and controller

[code]

[code]

[code]

[2020-07-12 16:53] Hanspagh commented on #658
Sorry for the late resposne, The above should work, which error are you seing excatly?

[2020-07-17 10:39] audacioustux commented on #644
facing the same issue in umbrella project

[2020-07-20 00:09] alanraul commented on #658
The problem I have is not an error, but rather that when generating a token, it has access to any endpoint defined in the router, whether it was created with admin or default permissions. What I would like to know is how to do that if I define a token with default permissions can not update or delete something because as the code is defined if you can do it because your token is valid.

[2020-08-03 21:40] wevnasc commented on #644
I am having the same issue, I just added the plug as a dependency and solved, but I didn't want to add the `plug` without to use it, is there another way to solve it?

[2020-08-07 01:12] ramaboo commented on #644
I am seeing this as well :(
<img width="1058" alt="Screen Shot 2020-08-06 at 18 12 11" src="https://user-images.githubusercontent.com/84117/89597955-642d7b00-d810-11ea-85d2-aebfbcff7023.png">

[2020-08-23 11:18] root-talis opened #660 "VerifyHeader but from two cookies"
Recently in a personal project of mine I've been diving into modern approaches for authentication for browser single-page applications. Many sources suggest that using JWT for this purpose is a valid approach, however, storing it in a location that is available to JS is unacceptable, for it can be stolen and used to impersonate the user.

A common techinque I've encountered is splitting the token

[2020-08-24 10:41] Hanspagh commented on #660
While I understand the above strategy, I have hard to time to see the benefit over the current aproch where the full token is stored in a secure httpOnly same-site cookie. What is the actally benefit of having the token split in two?

[2020-08-24 16:36] #656 closed

[2020-08-26 11:36] root-talis commented on #660
The benefit is that the "header.payload" part is accessible from JS, and thus the frontend can use any information which is stored in it (for example, to judge about the user's permissions), while the secret part still remains hidden from JS.

[2020-08-26 13:52] Hanspagh commented on #660
I can see that, but for me, it still seems quite a narrow use case that could be solved by just sending the permissions together with the jwt, but maybe I am wrong, what does rest of @ueberauth/developers think?

[2020-08-26 14:34] Hanspagh commented on #658
I tried to reproduce your problem, but I cant seem to not make it work.
I have created this repo https://github.com/Hanspagh/guardian_permission_test as an example, maybe you can tell me what you have different?

[2020-09-08 07:58] Hanspagh commented on #658
@alanraul Closing for now

[2020-09-08 07:58] #658 closed

[2020-10-03 11:43] Hanspagh commented on #644
Fixed by #663

[2020-10-03 11:43] #644 closed

[2021-03-11 11:03] quarescWTTJ opened #668 ""token_expired" error handling uniformisation between VerifyCookie and VerifySession"
Hello !

I’ve encountered an incoherence between `VerifyCookie` and `VerifySession` for a `token_expired` error. 
`VerifyCookie` ignores it whereas `VerifySession` does not and I think it complexifies some pipelines.
 This incoherence has been raised here https://github.com/ueberauth/guardian/issues/517

`VerifyCookie`:
https://github.com/ueberauth/guardian/blob/d4416658b613eae59aa833f3128bd16a8c5

[2021-03-11 12:37] Hanspagh commented on #668
So the `VerifyCookie` should look if your access_token has expired and if so use the refresh_token in the cookie to get a new access_token. If you swap your two plugs I think everything should work as excepted. Is there something I am missing?
[code]

[2021-03-11 12:41] quarescWTTJ commented on #668
If I swap my two plugs, I believe that it will first check my refresh_token instead of my access_token

[2021-03-11 12:58] Hanspagh commented on #668
Yea, I guess it will always do the exchange. I am wondering how other people have set up their pipelines.

I guess it would make sense if VerifyCookie checked if the current session token was valid and then just used it?

[2021-03-11 13:03] quarescWTTJ commented on #668
Exactly and I couldn't really find other pipelines with a similar use case with refresh and access tokens (expect in the linked issue)

I guess it would work but it would do exactly the same job of VerifySession which might be a little confusing + if you don't use session tokens, wouldn't it be an unnecessary check ?

[2021-03-11 13:26] Hanspagh commented on #668
Yea, so I think the problem comes down to that you could have a pipeline looking like this

[code]

Where you want to get token  from the header if is there, else
Get it from the session, else
Get it from the cookie

So I guess we could let the VerifyHeader and VerifySession parse through if the token has expired.
But then we will not be able to handle this case in the error handler, but maybe thi

[2021-03-11 13:30] Hanspagh commented on #668
As previously mentioned this would be a breaking change. As some could rely on the VerifySession throwing the Token expired error. What do you think @ueberauth/developers

[2021-03-11 14:30] quarescWTTJ commented on #668
`VerifyCookie` being not really useful in this pipeline on its own, one alternative could be to implement an option to `VerifyHeader` and `VerifySession` like `verify_cookie: true` which will check and exchange the cookie directly.

[2021-03-11 16:14] Hanspagh commented on #668
Well the verify cookie as of now actually just uses the refresh_token to generate the access_token on every request if you don't have the VerifySession in front.

I think it would actually make sense to have an option to both verify header and session to refresh from a cookie, instead of it being a plug itself. I have always been confused about the verify cookie anyways since it sounds like it wil

[2021-05-13 12:15] GinShio opened #672 "get token claims in SecretFetch"
I want to use the user's password as the secret (I'm not sure if this is a good way), so I want to get token claims in `SecretFetch.fetch_verifying_secret/3`, then call `mod.resource_from_claims/1`. Could you help me solve this problem

[2021-05-13 14:42] Hanspagh commented on #672
Hi @GinShio
Normally the secret is rather static and not dependent on the password. What would the exact usecase be for this?

[2021-05-13 15:14] GinShio commented on #672
Thanks @Hanspagh
I want to use JWT to verify user status (e.g. login), Guardian is the nice library.

I don't want to store token, so signed the JWT with static secret key and user's password (`password |> sha256 <> static_secret_key`), when user modify password that the old token will be invalid.

so i want to get claims in SecretFetch. What do you suggest me to do, signed by user password or sta

[2021-05-14 11:03] Hanspagh commented on #672
To be it sounds more like tou could use a session token like [PhonixToken](https://hexdocs.pm/phoenix/Phoenix.Token.html)
I am not sure your use case is fitting guarding very well, but let me know if I misunderstand something

[2021-05-14 11:30] GinShio commented on #672
I will learn Phoenix.Token and then decide how to use the token.
I don't have any problems now, and this issue can be closed at any time.
Thank you very much @Hanspagh

[2021-05-14 11:33] #672 closed

[2021-05-28 04:10] delitescere opened #673 "Any telemetry?"
Is there a mechanism to incorporate telemetry into guardian so metrics are captured?

[2021-06-28 13:40] Hanspagh commented on #673
We don't have this as of now, feel free to suggest some events that you would find relevant.

[2021-06-29 13:15] #668 closed

[2021-06-30 15:05] the-destro opened #676 "Does not build without Plug"
Plug is listed as an optional dependency and it seem like it is actually required. In an empty project with just the latest guardian in the mix.exs:
[code]
Adding plug to the project's mix.exs fixes it.

[2021-07-07 17:55] follmann opened #677 "2.1.2 is not published on hex"
I could really use the passing of the `kid` in the headers arg to my SecretFetcher. Great work btw!

[2021-07-16 20:00] yordis commented on #677
Working on it!

[2021-07-16 20:08] #677 closed

[2021-07-16 20:10] yordis commented on #676
https://github.com/ueberauth/guardian/blob/a938e4918105f86ebd0f004d52d5644ab56ec410/lib/guardian/plug/pipeline.ex#L1

hhhhmmm is this still persisting?

[2021-07-16 20:21] yordis commented on #660
I don't think it is a good idea to keep adding more and more info to JWT to store any random information people want, especially from the clients.

Being said, I am not opposed to it either, as long as the implementation doesn't affect drastically the internals of the existing one, would propose to have another module if that is the case.

PR welcome

[2021-07-16 20:23] yordis commented on #464
I agree on this one, this is misleading, a better key name should be enough for now. Maybe add a new key, and announce the breaking change

[2021-07-16 21:15] follmann commented on #677
Thanks!

[2021-07-17 05:01] Hanspagh commented on #676
Please  verify that you are using the newest version of guardian

[2021-07-17 17:34] yordis commented on #676
@Hanspagh you fixed this one, https://github.com/ueberauth/guardian/commit/0b7aba1840bf2f8b75bc3a258463a3fba7f325de#diff-b54395a33e81f03a9ac67ed97c25a7e2775cc7e5c22121ef3b4a3d4649f0f72f

I will close it for now, @the-destro if the issue persists in the latest version, please reopen it

[2021-07-17 17:34] #676 closed

[2021-07-17 18:42] yordis commented on #673
@delitescere feel free to open the issue and suggest some telemetries, in the best we wouldn't need to add such thing to Guardian, related to: https://dev.to/savonarola/why-solid-may-be-useful-for-you-in-elixir-58me

So I am curious to see exactly what needs to be extended in order to achieve your decided telemetry

[2021-07-17 18:42] #673 closed

[2021-07-17 18:46] #464 closed

[2021-07-27 15:02] David-Klemenc opened #681 "Dialyzer auth_error"
Dialyzer is complaining about Plug.Conn structs not matching:

[code]

Could this be a consequence of mismatching plug dependencies?

_If somebody stumbles onto this and needs to quickly get CI working -> ignore the error:_

[code]

[2021-07-28 17:53] David-Klemenc commented on #681
If anybody stumbles upon this it was related to this issue: [plug - 1042](https://github.com/elixir-plug/plug/issues/1042)

Turns out all I had to do was:

[code]

[2021-07-28 17:53] #681 closed

[2021-10-24 17:09] fantypants opened #685 ":crypto.hmac/3 undefined due to being deprecated --> Need to bump Jose to 1.11"
Hello,
Jose deps need to be bumped to 1.11 to fix the following:

`Request: POST /login
** (exit) an exception was raised:
    ** (UndefinedFunctionError) function :crypto.hmac/3 is undefined or private
        (crypto 5.0.2) :crypto.hmac(:sha512, "Salt", "Key")
`

I can open a PR if needed.

Current: :jose, 1.8
Solution: :jose, 1.11

[2021-11-04 10:38] remi-martin opened #686 "Compilation error in file guardian.ex: type options/0 undefined"
I have a classic guardian.ex file:
[code]
And when I try to start the server with phx mix.server, I get an error:
[code]

How can I fix this ?

[2021-11-04 10:41] #686 closed

[2021-11-04 10:41] remi-martin commented on #686
defmodule Guardian do => defmodule MyApp.Guardian do

[2022-01-25 16:35] phtrivier opened #689 "Is guardian relying on JWT's fixed side ?"
I'm using ueberauth and guardian to authenticate with Auth0.
Recently they annonced that they might change the size of the generated tokens and access code.

https://support.auth0.com/notifications/61df51092bf8f3000b5bfd48

Could this have any impact when using ueberauth ? Are there specific things to check ?

[2022-02-02 11:57] rbino opened #690 "Provide a way to retrieve verifying secret at runtime using connection information"
Hi,
I'm using Guardian to perform authentication on some APIs. Those APIs are only responsible of verifying JWTs, so they just have access to the public key as those tokens are emitted and signed by a third party.

To support multitenancy, I have some code similar to this in my application (the `:current_tenant` in the `conn` gets populated by another upstream plug which in turn populates it based

[2022-02-02 14:27] a-blksheep opened #691 "Help with EnsureNotAuthenticated"
Hi,

Not sure if your docs need updating? However I can't make head's or tails as to how to get Guardian.Plug.EnsureNotAuthenticated to work?

Could someone please advise me on any additional examples. I've set up a pipeline in my router.ex, I can see from the logs that it's being used. But for some reason it can never find the token in my request headers.

Thanks in advance and apologies. I'm sti

[2022-02-02 15:06] a-blksheep commented on #691
Nevermind. Typo on my part :P

[2022-02-02 15:06] #691 closed

[2022-03-26 15:39] yordis commented on #689
![Screen Shot 2022-03-26 at 11 39 06 AM](https://user-images.githubusercontent.com/4237280/160246745-5b86ff3a-5a0c-407e-914f-d8ae1f023a88.png)

@phtrivier I can't read the shared link.

[2022-03-28 08:04] phtrivier commented on #689
Sorry about that. The issue was a change of the Access Tokens and/or Authorization Codes issues by Auth0 ; they used to isse fixed-size opaque Access Token, and are migrating to variable size.

I was able to do some tests and get help from the support team, so we can close this.

[2022-03-28 08:04] #689 closed

[2022-03-29 16:15] Exadra37 opened #699 "Successfully validates a JWT token with a timestamp in the past"
### Steps to Reproduce

You can run the  [Hello](https://github.com/approov/quickstart-elixir-phoenix-guardian-token-check/tree/dev_guardian-bug_WIP/src/approov-protected-server/token-check/hello) server locally, and then use this curl command:

[code]

Output:

[code]

But a `401` is expected:

[code]

### Expected Result

[code]

### Actual Result

If we try directly from the `iex` shell we also

[2022-06-16 04:00] #699 closed

[2022-06-16 04:08] yordis commented on #685
@ueberauth/developers any objection to changing the minimal requirements to be a bit higher?

[2022-06-28 06:57] shahryarjb opened #701 "use Bitwise is deprecated in elixir 1.14-dev"
### Steps to Reproduce

Hi friends, I test my code in elixir 1.14-dev before releasing official condition

### Expected Result

..

### Actual Result

[code]

[2022-08-04 03:43] HiiMartins commented on #523
I don't believe. I made the same mistake

[2022-09-01 22:04] kevinkirkup opened #704 "Warning causing compile error with Elixir 1.14.0"
### Steps to Reproduce

Compile and run with Elixir 1.14.0

[code]

[code]

### Expected Result

No Warnings

### Actual Result

Warning

[2022-09-01 23:15] yordis commented on #704
Closer in favor of #702

[2022-09-01 23:15] #704 closed

[2022-09-02 02:29] #701 closed

[2022-09-06 15:50] geofflane opened #706 "Unable to set secret_key in runtime.exs"
I've assumed that setting secret_key was something that you would want to be secret and so am using the "12 Factor" style for pulling in that value to the config at runtime instead of committing a hard-coded value to the config.exs in the repo. The recent change #702 changed the reading of all of those config values to compile time which breaks the setting of that value at runtime.

It feels like

[2022-09-07 07:40] Hanspagh commented on #706
@geofflane. As I read the code, if you omit the secret_key from your config at compile time, Guardian should correctly fetch it from the env at runtime. The compile time envs are a utility for the macros to use at compile time. With the change to use compile_env elixir now `tools like Mix will store the values used during compilation and compare the compilation values with the runtime values whene

[2022-09-08 20:11] geofflane commented on #706
[code]
with
[code]

Has the same issue:
[code]

[2022-09-12 18:23] idyll commented on #706
This is impacting us as well and I don't think the changes that were made are actually intended...

Just spelunking in the code a bit here:

https://github.com/ueberauth/guardian/blob/master/lib/guardian.ex#L343

[code]

 ^^^ I don't see anywhere that this is used.

 And the problem is actually this code itself I think. It's not obvious to me what this is being used for but I think it's the issue.

[2022-09-12 18:53] idyll commented on #706
Digging a bit deeper it looks like permissions uses `@config_with_key`.  But I think it can be refactored so that it uses a function. `@config_with_key_and_default` isn't used.

If permissions really needs this at compile time maybe we could compile_env for just that one key?

[2022-09-13 07:07] Hanspagh commented on #706
Yea okay, this seems to not be intended. As @idyll writes looks like this compile time env vars are specific to the permission, the only concern I have is if some library users use this as well. I guess we can fix this up and cut a major release just to be sure?

[2022-09-13 07:14] Hanspagh commented on #706
I think we should be able to the compile_only only for the permission key of the environment, and then consider that to be the only compile time var atm.

[2022-09-13 15:11] idyll commented on #706
That's my expectation. That should fix it.

[2022-09-13 20:07] Hanspagh commented on #706
Would any of you @idyll @geofflane be interested in fixing this or maybe @yordis. I have quite a busy schedule lately so I wont have time to look at this atm.

[2022-09-14 00:47] yordis commented on #706
Something told me that the fix wouldn't work. I asked Jose about it, and he said it was safe to merge. My apologies.

This week I am in the middle of deploying a brand new system, so I don't have time, but I am more than happy to help with some code review.

If you want to take the lead, please do. Otherwise, let me see if I find some time for it.

[2022-09-14 14:35] idyll commented on #706
I probably can look in a day. If someone gets to it before me, let me know.

[2022-09-18 00:36] chulkilee opened #707 "changelog is missing in the doc"
### Steps to Reproduce

1. Open https://hex.pm/packages/guardian
2. Click "Changelog" link - which goes to https://hexdocs.pm/guardian/changelog.html

### Expected Result

See the change log

### Actual Result

"PAGE NOT FOUND" is shown

[2022-09-19 10:18] kairos0ne opened #708 "all_permissions? function returns true even if permission set given is not within the list of permissions provided and compiled"
### Steps to Reproduce

I have a case in plug router as such.
[code]

Im testing the read case match - I have a macro that generates the permission as %{ <table_name> : [:<table_name>_read]

I'm logging the objects to iex with IO.inspect

as you can see in the logs I've logged the available permissions and the provided permission set:

even though the permission set is not within the structure or

[2022-09-19 10:27] kairos0ne opened #709 "I would like to be able to set permissions from a DB table rather than hard coded in a permissions set."
### Problem Statement

I tried to get the permissions structured correctly for Guardian in my Guardian module like so.
[code]

However I get this error:
[code]

### Solution Brainstorm

Any thoughts on how to support this or if Im in fact missing something fundamental.

[2022-10-03 13:01] gabrielmancini opened #710 "guardian.encode_and_sign 1st argument: not an atom"
### Steps to Reproduce

Hello everyone,

I start with phx.gen.auth and i am trying to add an api endpoint with login capabilities,
i follow the getstart documentation but i had an error:
this is familiar to somebody?

my config.ex
[code]

the error happends here:
[code]

### Expected Result

retrive the token

### Actual Result

[error] #PID<0.1421.0> running BackendWeb.Endpoint (connection #PID<0

[2022-10-03 13:53] gabrielmancini commented on #710
solved with:
[code]

[2022-10-03 13:53] #710 closed

[2022-10-14 13:09] rawnsley opened #711 "Opaque errors when token verification fails"
### Problem Statement

Caveat: I am new to both Guardian and Elixir

While trying to get the [`decode_and_verify`](https://github.com/ueberauth/guardian/blob/cdfdd3aba34ace65098d0b1b43369988fa1bdfe6/lib/guardian.ex#L629) function working, I was thwarted by obscure error messages. In the end my problem was fixed by being explicit about the allowed algorithms, but the error returned by this function

[2022-10-28 12:00] MarkMekhaiel opened #713 "Using an environment variable as a secret key in elixir 1.14"
### Steps to Reproduce

Running Elixir 1.14, we can no longer call `compile_env` when using an environment variable as this value changes between compile time and runtime, and instead must use `get_env` inside of a function. However this is not possible with declarations made in the module body, outside of any functions. You cannot assign the env variable to a function, as no functions are defined

[2022-10-28 16:54] #713 closed

[2022-10-28 16:55] MarkMekhaiel commented on #713
Moving config to config files instead of modules sorted the issue

[2022-11-02 18:26] Hanspagh commented on #713
dublicate of #706

[2022-11-16 03:17] f-francine commented on #711
Hello, @rawnsley!
Perhaps a log message would be helpful? At least it would make it easier to debug the problem

[2022-11-22 17:40] ericdude4 commented on #706
Any update here? Running into the same issue on our application with this exact same configuration

[2022-11-23 16:04] geofflane commented on #706
Took a stab at a PR for this. It's runtime behaviour so it's a bit hard to write tests around. Any help there would be appreciated.

[2022-11-24 18:31] #706 closed

[2022-11-24 18:41] yordis commented on #711
@f-francine thank you so much for the help.

---

@rawnsley do you mind filling up the "Solution Brainstorm" I am not sure what you are asking us to do or what you would propose.

Or even much better, since you already know how to replicate the issue and whatnot, create a PR with the proposed solution. I am here to help you with it as much as I can.

[2022-11-24 18:58] yordis commented on #707
closed by https://github.com/ueberauth/guardian/pull/716

[2022-11-24 18:58] #707 closed

[2022-11-24 19:26] yordis commented on #709
You should not do a function call at compile time to find the permissions (Notice that you are calling a function).

That is why when you try to compile the code, it fails because you haven't started the repository and whatnot needed to call the database.

Your intent could be achieved by passing an MFA configuration that could be called to fetch the permissions instead, something like:

[code]

I

[2022-11-25 13:11] geofflane commented on #709
I believe it's a tuple (threeple) `{BaseStructures, :get_table_permissions!, []}` see Guardian.Config

[2022-11-25 17:27] yordis commented on #709
Fixed it, I meant to use a tuple instead of a list.

I hear you, the idea is moving it at runtime 🤷🏻 otherwise, no way we could figure this one out as far as I can tell.

[2022-11-25 18:23] kairos0ne commented on #709
I forked this repo as a POC to see if I could approach it with this capability, fork instead of PR at first because I wasn't sure if this was done intentionally or not. Perhaps for added security ??? not sure.

POC here: https://github.com/kairos0ne/guardian

Its a bit rudimentary - Added a update_permissions(perms) function. It can certainly can be improved.

[code]
Then you can call update_permi

[2022-11-25 18:49] yordis commented on #709
Please create a PR in Draft. That will help me to follow exactly what you have done so far since otherwise it is hard for me to follow the work.

[2022-11-25 19:37] pedromvieira opened #717 "Breaking Change on 2.3.1 - Can't encode Bitwise Permissions"
### Steps to Reproduce

After upgrade from 2.3.0 to 2.3.1 old perms_map dont work.

Unable to find a clue in Changelog:

 v2.3.1
Change compile time loading of configuration to only load permissions allowing the app to change things like ttl or secret key at runtime

### Expected Result

[code]
PS: some bitwise number.

### Actual Result

** (Guardian.Permissions.PermissionNotFoundError) Elixir.My

[2022-11-25 19:44] pedromvieira commented on #717
I think that on 2.3.1 and ongoing need to define on config.exs.

base_permissions_list = [
  :read,
  :export_drilldown,
  :export_reports,
  :export_campaigns,
  :export_messages,
  :export_people,
  :export_templates,
  :template,
  :people,
  :campaign,
  :write,
  :delete,
  :dashboard
]

config :my_app, MyApp.Guardian,
  allowed_algos: ["HS512"],
  issuer: "myapp",
  token_ttl: %{
    "reset"

[2022-11-28 18:33] kairos0ne commented on #709
Sure I'll create a draft PR and a pull in all the changes np