[2015-06-18 17:54] scrogson opened #4 "Discussion: Guardian.Plug namespace"
I could be totally wrong, but I'm a tiny bit on the fence with the semantics of the `Plug` namespace.

Since [Plug][0] is generally concerned with a "connection", should the `Guardian.Plug` namespace be `Guardian.Conn` instead?

I realize that the `Guardian.Plug` namespace indicates that these modules provide the `Plug` contract (behaviour), just wondering if it's necessary?

Thoughts?

[0]: https

[2015-06-18 17:59] hassox commented on #4
I'm not sure what the done thing is in elixir yet so I'm totally open to suggestions. I wanted a way to differentiate between Plug and Channel. I have a branch on my local that has channel support which, unsurprisingly is namespaced under Guardian.Channel.

If you think Conn is more appropriate I'm down.

[2015-06-18 18:01] scrogson commented on #4
Channel as in `Phoenix` channels?

[2015-06-18 18:09] hassox commented on #4
Yes. I can push the in-progress stuff up to a branch if you want to take a look.

[2015-06-18 18:10] hassox commented on #4
https://github.com/hassox/guardian/tree/add-channel-integration

[2015-06-19 20:31] hassox opened #8 "Pre-configure 'keys' so that the atoms are generated only once."
On startup, pre-generate all allowable keys so that they're only generated once rather than going string -> atom -> string in Guardian.Keys

[2015-06-19 20:58] jhosteny commented on #8
As you pointed out, the keys will be pre-configured, and small in number. So, an easy solution would be to call `String.to_existing_atom`, and if the exception is thrown, create it with the call to `String.to_atom`. The exception should be thrown only once for each of this small number of keys.

[2015-06-19 21:04] jhosteny commented on #8
FYI:

[code]

[2015-06-19 22:53] hassox commented on #8
Not sure that I understand the difference between `String.to_existing_atom` + on failure `String.to_atom` and just calling `String.to_atom` in the first place.

[2015-06-20 00:02] jhosteny commented on #8
My original understanding was that even if the input binary was the same, calling `String.to_atom` would generate a new atom in the global atom array in the VM, whose entries are not GC'ed. But I now believe that this is incorrect. So, this should be safe to close. Sorry for the noise!

[2015-06-21 18:00] #8 closed

[2015-07-03 00:14] zmoshansky opened #11 "Strategy Authentication"
Could you elaborate on what your thoughts are around how the Strategies would work?

I've tried to work it out, but the `{:ok, resource}` syntax seems to make it verbose while handling the response. An alternative would just have the user run the authenticator on their own and add the `Guardian.sign_in`, with the added bonus of being able to have a spot to easily `reject` the authentication (deact

[2015-07-04 01:32] zmoshansky commented on #11
I've created [Aeacus](https://github.com/zmoshansky/aeacus) as a potential authentication strategy to use with Guardian. If there was some behaviour for authenticators to abide by, I'd be happy to implement it and have it be the first of the auth strategies.

[2015-07-05 22:50] werbitzky opened #13 "Problems with Guardian.JWT Joken config Modules decode function (keys: :atoms!)"
I had problems verifying tokens from the auth headers, I always got an `{:error, "argument error"}` in my assigns which happened during JSON decoding of the claims.
Weirdly enough the problem seemed only to appear if I hadn't created a token before.

After looking deeper, I discovered, that it is not the recommended way for the Poison decoder configuration to use atoms as keys, read here:
https://

[2015-07-05 23:18] werbitzky commented on #13
I overlooked, that using atoms was probably intended because of the function that is executed on load:

[code]

if you decide to stick with atoms, I suggest adding `:pems` to the list as this caused my problem in the first place

[2015-07-06 04:20] hassox commented on #13
Thank you. I do need to add :pems to that list, I overlooked that one.

The reason I chose atoms! Is because joken currently requires atoms, but since they're not garbage collected I don't just want to instantiate any old input.

As a work around when I'm adding custom claims, I put a list of expected claims into the guardian config to pre-load them.

    config :guardian, Guardian
         atoms:

[2015-07-06 04:27] hassox commented on #11
Hey @zmoshansky. I'm not sure yet if strategies are a good fit for Phoenix/guardian. Strategies were always problematic in warden. Omniauth presented a different way to achieve a similar result that often felt cleaner. Strategies require a lot of generalization for what is essentially a pretty simple setup. At this stage, I'm thinking that a strategy would be essentially a plug. It would take a lo

[2015-07-06 17:44] zmoshansky commented on #11
@hassox Thanks for the background information, I brought it up as I was looking at the TODO's for guardian and noticed it on there. I have worked with Omniauth as well and it worked well to get 4+ auth solutions up quickly. Do you know of any elixir equivalent?

[2015-07-06 20:21] hassox commented on #11
Not specifically an omniauth equivalent but there is https://github.com/scrogson/oauth2 for oauth2. I've been thinking about something like this too. Still letting it percolate.

[2015-07-06 20:24] zmoshansky commented on #11
Good to know, thanks

[2015-07-06 20:24] #11 closed

[2015-07-06 22:15] werbitzky commented on #13
The creator of Joken is now attempting to change Joken to work without atoms:
https://github.com/bryanjos/joken/pull/43

Do you see any problem with this I'm maybe not aware of?

[2015-07-07 01:33] hassox commented on #13
I'd love to use strings as keys with joken. Way less issues and craziness to worry about. Joken had a pretty major change recently so it could work out of the box with strings where I only have to change Guardian.

[2015-07-07 12:25] bryanjos commented on #13
The latest version of Joken may work better with strings since more is placed on the user as far as validation, etc. If there are any other changes to Joken that could help or anywhere in Guardian where I may be able to help out with this, I'm happy to help out.

[2015-07-16 17:45] hassox commented on #13
Thanks @bryanjos. I'm going to try and move over to string keys shortly since atom keys are problematic when accepting keys generated by others

[2015-07-23 00:32] erneestoc opened #15 "Question/Feature Request:"
Is there a way to keep session upon app restart? Or if not, is it possible to hook up redis or something to handle this?

[2015-07-23 00:43] erneestoc commented on #15
Other use case would be using Phoenix, inside amazons elasticbeanstalk (docker), and multiple availability zones.

[2015-07-24 18:37] hassox commented on #15
Hey @erneestoc I'm not quite sure what you're asking. Keeping a session for longer than a browser session is related to how the cookies are setup for the session.

The tokens that Guardian generates should work just fine across app-restarts.

[2015-07-25 21:28] erneestoc commented on #15
Hmm.. I might be doing something wrong..   Every time I close and open the app, the unauthenticated method gets called...

[code]

my pipeline looks like this..
[code]

and this to authenticate my users..

[code]

[2015-07-27 21:15] hassox commented on #15
ok so there's no phoenix session being involved here. How are you making your call?

Can you add a plug in-between the VerifyAuthorization and EnsureSession and dump the headers to see what's making it there?

[2015-07-28 03:53] erneestoc commented on #15
I'm storing the token using iOS keychain, and sending the param as "Authorization", "$token"..    The app restart I'm talking about is the phoenix process...   if I type cntl+c, and quit the app, turn it on again, the following requests wont be authenticated...    and it executes the on_failure: of EnsureSession...

[2015-07-29 20:52] misaelpc commented on #15
Hi, I'm experimenting the same issue, after restart the phoenix application, I Get the following error:
Loading required atoms [:iat, :aud, :sub, :exp, :iss, :pems]
    :erlang.binary_to_existing_atom("pem", :utf8)
    (poison) lib/poison/parser.ex:97: Poison.Parser.object_name/2
    (poison) lib/poison/parser.ex:82: Poison.Parser.object_pairs/3
    (poison) lib/poison/parser.ex:36: Poison.Parser.

[2015-08-03 17:50] hassox commented on #15
oh. Sorry I misunderstood the problem. This is due to the current setup of using atoms as keys https://github.com/hassox/guardian/issues/13

To sort this please ensure to include a list of atoms in your config that your app uses in its claims. Guardian sets up a few for you  [:iat, :aud, :sub, :exp, :iss, :pems].

    config :guardian, Guardian,
               atoms: [:pem, :something_else]

[2015-08-06 20:40] #4 closed

[2015-08-20 20:43] bbhoss opened #19 "Printing of "Loading required atoms [:iat, :aud, :sub, :exp, :iss, :pems]""
This is really intrusive into my sea of green dots while running my tests. Is this still necessary? If so, I am quite curious as to why this is required.

[2015-08-23 17:39] hassox commented on #19
@bbhoss this was part of a joken thing which I'm now removing. Making it so that keys are strings not atoms. I will at the same time remove that print

[2015-08-23 21:05] hassox commented on #19
This has been removed in Guardian 0.5.0

[2015-08-23 21:05] hassox commented on #15
This has been updated in 0.5.0. Guardian now uses string keys rather than atom keys.

[2015-08-23 21:06] hassox commented on #13
I have just updated Guardian to 0.5.0 to use string keys rather than atom keys.

Please note that claims are provided now using strings rather than atoms where you're using them.

[2015-08-23 22:00] #13 closed

[2015-08-23 22:00] #19 closed

[2015-08-23 22:01] #15 closed

[2015-08-25 12:08] jschoch opened #21 "Guardian.Permissions.all?"
I'm a bit confused by all?  I'm assuming it means all permissions are verified, but in the below example a non existent value checks true.

assuming the below config from your example in the README

[code]

the test channel
[code]

uncommenting the any? line prints the expected {true, true,false} tuple.  Why does aall? return true for a permission that does not exist?

[2015-08-25 17:58] hassox opened #22 "Renaming some things"
Hi folks.

There's a bit of confusion around the names of things in Guardian. I'm not surprised because I'm pretty terrible at naming things.

The things that have currently been discussed are:

## Functions

### Guardian.mint

This function generates a JWT, and calls hooks that incorporate behaviour. Mint does not seem to be a common word for this (it fits! but just not common)

Suggestions so fa

[2015-08-25 18:46] zmoshansky commented on #22
I would suggest `Guardian.sign` & `Guardian.verify` for the functions, as it's fairly common terminology as far as cryptography goes, and mirrors [Phoenix.Token](http://hexdocs.pm/phoenix/Phoenix.Token.html). `encode_and_sign` is a bit tedious, although it is incredibly descriptive; so a bit of a trade-off.

`EnsureSession` -> `EnsureAuthorized` or `EnsureAuthorization`
`VerifyAuthorization` -> `V

[2015-08-25 20:22] hassox commented on #21
There was a choice to make for permissions that are introduced in the future, so that you have a generated token, then introduce a new set of permissions it still works.

Thinking about this in the cold light of day though, that does seem ass backwards ;)

Would you feel comfortable pushing up a PR? I'm working on another part atm so I can add it to my list, but it will be a while before I get to

[2015-08-25 21:47] lexmag opened #23 "Less dependencies, more fun"
[Current usage](https://github.com/hassox/guardian/blob/c65fd77dc81c1817a2a97bdc6dd5a9f531e0c14e/lib/guardian/utils.ex#L10) of Calendar dependency is a huge overkill, especially for compilation, releases.

It might be replaced with:
[code]

[2015-08-25 22:03] hassox commented on #23
That sounds great :)

If you can put a PR together it will get in faster, otherwise I'll add it to my list.

[2015-08-25 22:04] lexmag commented on #23
There will be PR soon. :smile:

[2015-08-25 22:23] #23 closed

[2015-08-25 22:32] lexmag opened #25 "Keep non-optional dependencies in .app file"
Non-optional dependencies need to be listed in the [`:applications`](https://github.com/hassox/guardian/blob/master/mix.exs#L26) list in Mixfile, which will be used to generate `.app` file.

[2015-08-25 22:37] lexmag commented on #25
@andreaazzini will take care of it. :smile:

[2015-08-25 23:16] lexmag opened #26 "Consider replacing generic `Dict` calls with type specific ones"
There is no need to have `Dict` calls in places where the input can be of only one type, e.g. `Guardian.Claims` module.
* shows desired datatype explicitly
* `Dict` may be gone in Elixir v2.0
* is a bit faster

[2015-08-26 15:18] lexmag commented on #25
One more thing about dependencies definition, with current definition `ex_doc`, `earmark` and `plug` considered as [package dependencies on Hex](https://hex.pm/packages/guardian).

It might be solved with:
[code]

[2015-08-26 15:43] #25 closed

[2015-08-30 18:16] #21 closed

[2015-08-30 22:15] #22 closed

[2015-08-31 21:57] hassox opened #35 "Use Plug.Exception protocols for on_failure"
It would be nice if on_failure were optional and we could make use of Plug.Exception protocols for Guardian errors.

[2015-09-02 22:56] hassox opened #36 "Add an authenticated? method to Guardian.Plug"

[2015-09-03 09:33] oscarduignan opened #37 "Guardian.Plug.EnsureAuthenticated on failure using wrong controller"
Hi there,

Quite new to elixir and phoenix so apologies if this isn't a bug but a mistake in my code, I had a look at the code and couldn't see what was wrong with it to be able contribute a fix or confirm if it is a bug in Guardian or I'm just doing something wrong.

Basically when I use

[code]

In a controller and the on_failure triggers rather than send me to the :new action of the SessionCont

[2015-09-03 16:24] hassox commented on #37
Hi @oscarduignan. I think this is because in the SessionController#new function, when you call render you'll need to supply it with the view.

    render conn, Session.View, 'new.html', stuff: 'and things'

Unfortunately by the time we get to the view the connection has already cached what view it's going to use by default so you'll need to be explicit.

HTH
Daniel

[2015-09-03 16:24] #37 closed

[2015-09-03 16:27] hassox opened #38 "EnsureAuthenticated should be able to check claims"
When using EnsureAuthenticated, allow a map of claims to be passed in. If present, it should check that those claims are present.

e.g.

    EnsureAuthenticated claims: %{ aud: "customer" }

[2015-09-03 19:41] oscarduignan commented on #37
Thank you Daniel that did it! Still getting my head around Phoenix so I'm very greatful for your help solving that and thank you for all the work you've put into Guardian, it's proving really useful :+1: hopefully I'll be able to contribute something back soon as I get to know it and Phoenix better

[2015-09-03 23:04] hassox commented on #37
Great to hear :) I always love help with Guardian. Good luck with Phoenix.

[2015-09-04 05:04] ryanswapp opened #39 "Permissions aren't working"
I've been playing around with permissions and haven't been able to get them working... I've set them in my config file:
[code]
 and then am assigning them on sign in like this:
[code]
In my controller I am then using:
[code]
The on_failure callback gets called every time I try to access the controller. In order to figure out what was going on I started playing around with the Guardian.Permissions

[2015-09-04 16:52] hassox commented on #39
Hi, You're adding your permissions to the 'admin' set, but when you're checking them you're seeing 0 because it's looking in the default set.

    Gaurdian.Permissions.to_value([:users], :admin)

How are you setting your permissions on token generation?

[2015-09-04 16:56] ryanswapp commented on #39
Are you referring to the Serializer? I just have the default setup that is in the README. Do I need to add more to it in order to support permissions?

[2015-09-04 16:56] hassox commented on #39
No not the serializer. The point where you generate your token. It's either:

    Guardian.Plug.sign_in

or

    Guardian.encode_and_sign

[2015-09-04 17:03] hassox commented on #39
I think I may have found it.

    iex(1)> Guardian.Permissions.to_value([:users], :admin)
    1
    iex(2)> Guardian.Permissions.to_value([:users], "admin")
    0

This is likely a problem since the string keys came in. Will get a fix out asap

[2015-09-04 20:08] bbhoss commented on #35
I think the better solution is maybe have your own failure protocol, then have the default implementation to reraise. That way, you can do more than just set the status code, but by default it just bubbles up to Plug.Exception.

[2015-09-04 20:12] adamesque commented on #22
Super happy about these changes. Thanks!

[2015-09-07 18:11] lexmag opened #41 "Use `not`, `and`, `or` for strictly boolean checks"
It signals that we are working with booleans - not truthy and falsy values. It's also slightly faster.

[2015-09-07 20:06] hassox commented on #35
@bbhoss can you elaborate a bit. I'm not sure what you're thinking of.

[2015-09-07 20:10] hassox commented on #38
Thinking this should be a simple equality check.

[2015-09-07 20:10] hassox commented on #41
Hey @lexmag do you have an example of where in the code you mean?

[2015-09-07 20:10] #39 closed

[2015-09-07 20:11] #36 closed

[2015-09-07 20:14] lexmag commented on #41
Yes, there is an example https://github.com/hassox/guardian/blob/master/lib/guardian/plug.ex#L161.
And other `starts_with?/2 .. && ..` places in that module.

[2015-09-07 20:46] #38 closed

[2015-09-11 03:06] hassox opened #46 "Update to new version of joken"
https://github.com/bryanjos/joken

[2015-09-14 10:31] Pjino opened #47 "Guardian.Plug.sign_in is not injecting permissions"
I'm using and updated version of the Guardian example it seems that whatever combination of permissions I try to inject (for instance, "Guardian.Plug.sign_in(user, :token, perms: %{ default: :write_profile })" it won work.
When inspecting claims I always see: ..."pem" => %{"default" => -1},

[2015-09-14 18:52] hassox commented on #47
Hi @Pjino. What version are you currently using? Can I see your config for guardian?

[2015-09-14 21:13] Pjino commented on #47
Hi @hassox. I'm using the latest version of everything (Guardian, Phoenix,...) and I (think) I made all the necessary changes.
My config.exs looks like this:
![screen shot 2015-09-14 at 22 09 52](https://cloud.githubusercontent.com/assets/14219474/9861927/76b76db8-5b2d-11e5-9182-bce40813eff5.png)
and my controller is:
![screen shot 2015-09-14 at 22 11 53](https://cloud.githubusercontent.com/assets

[2015-09-14 22:36] hassox commented on #47
Thanks. Just an FYI you have two hooks declared.

The reason you're seeing the -1 is because you're setting the default permissions to Guardian.Permissions.max in sign in. If you had this instead do you still see -1?

    Guardian.Plug.sign_in(user, :token, perms: %{ default: [:write_profile] })

[2015-09-15 08:53] Pjino commented on #47
I changed it to:
Guardian.Plug.sign_in(user, :token, perms: %{ default: [:write_profile] })
![screen shot 2015-09-15 at 09 52 26](https://cloud.githubusercontent.com/assets/14219474/9872195/8c110982-5b8f-11e5-9166-5e593c33d9b2.png)
and:
Guardian.Plug.sign_in(user, :token, perms: %{ default: [:read_profile, :write_profile] })
![screen shot 2015-09-15 at 08 51 24](https://cloud.githubusercontent.com

[2015-09-17 15:46] DeodorantMan opened #49 "What's the best way to get and use a user JWT using API approach?"
I followed the guardian phoenix example, and I'm a little confused on how to get a token for a user so they can start making API requests.

I tried copying and pasting the token I got from the browser session, into a API requests Authorization header, but it's failing on EnsureAuthenticated matching on { :error, :no_session }.

This might sound dumb, but..
Will I need to create a user session befo

[2015-09-18 05:59] yuyabee commented on #47
I think I'm seeing the same issue.
In IEx, ```Guardian.Permissions.to_value [:read_profile, :write_profile], :default``` returns 0, and ```Guardian.Permissions.availble``` returns [] where it's supposed to return list of permissions.
I have exact the same configuration as the example.
@Pjino please try these functions and see if we are talking about the same problem.

[2015-09-18 13:08] Pjino commented on #47
@yuyabee Yes, `Guardian.Permissions.to_value [:read_profile, :write_profile], :default` returns `0` and `Guardian.Permissions.availble` returns an error: `UndefinedFunctionError`

[2015-09-18 15:18] yuyabee commented on #47
@Pjino Sorry, that was a typo, it's ```Guardian.Permissions.available```

[2015-09-18 17:34] Pjino commented on #47
@yuyabee Yes, it returns []. Sorry for testing it in such a rush that I didn't even try to see why it returned undefined...It was obvious:)

[2015-09-20 17:18] hassox commented on #47
I haven't been able to repeat this locally :( I'm guessing that you're running Guardian 0.6.1 which was a bit buggy. GuardianDb _was_ requiring this version. I've updated GuardianDb to rely on 0.6.2 in v 0.1.2. Can you please update guardian db and guardian and see if you still have the same issue?

[2015-09-20 17:20] hassox commented on #49
He @DeodorantMan

You don't need to create a phoenix session to use it. The first step is to create the token:

    Guardian.encode_and_sign(user, :api)

This will give you the token, then in your pipeline somewhere use the Guardian.Plug.VerifyHeader plug. This will check for a present token. You can also use the Guardian.Plug.LoadResource plug after that to fetch your user.

Can you provide code

[2015-09-20 17:35] yuyabee commented on #47
@hassox Yes that was it. Upgrading to 0.6.2 solved it. Thank you so much.

[2015-09-20 17:47] hassox commented on #47
Phew! Thanks so much for looking into it :)

[2015-09-20 17:47] #47 closed

[2015-09-21 12:51] DeodorantMan commented on #49
My router looks like this.
[code]

then my auth controller looks like this (not checking password yet for simplicity):
[code]

And then my city controller looks like this (the resource that I'm trying to authenticate):
[code]

What seems to be happening is the EnsureAuthenticated in my city controller is looking for a session. because the error I'm getting from the on_failure is `{"error":"no_sess

[2015-09-21 14:33] DeodorantMan commented on #49
I figured out my problem.
In my request header I was putting `Authorization: MYTOKEN`, when I needed to put `Authorization: Bearer MYTOKEN`
I found it after looking through the verify_header_test file.

Thank you for your help, and great work on the library.

[2015-09-21 14:33] #49 closed

[2015-09-21 16:40] hassox commented on #49
Hi,

How are you putting the header in on your client? It should be

    Authorization: Bearer <jwt>

[2015-09-21 16:40] hassox commented on #49
Great! Glad it worked out for you :)

[2015-09-22 16:13] doomspork commented on #41
@hassox if you haven't already started on this I'd be glad to give it a whirl.

[2015-09-29 14:28] viniciusmkm opened #53 "How can I authenticate a user to bypass Guardian.Plug.EnsureAuthenticated in controller's test?"
Hi!

I am using guardian to authenticate users to access private actions in my phoenix application and everything is working fine.

The problem is that I can't make my controllers tests to pass. All requests are falling on the plug  Guardian.Plug.EnsureAuthenticated, rendering the login page instead of executing the action normally.

I have already tried the following in my controller test:

[code

[2015-09-29 15:36] doomspork commented on #53
@viniciusmkm this is what did the trick for me:

[code]

There is a sample Phoenix + Guardian app [here](https://github.com/hassox/phoenix_guardian).  I recently took a stab at updating the dependencies and submitted a PR, you can check out those changes [here](https://github.com/hassox/phoenix_guardian/pull/5).

[2015-09-29 17:07] viniciusmkm commented on #53
Hey @doomspork, thanks for the fast reply!

Adding the `VerirfySession` plug is raising the following error:

[code]

I changed the `sign_in` function to match the one you sent me:

[code]

And the guardian and phoenix versions in mix.lock are:

[code]

Any ideia about this?

[2015-09-29 18:13] doomspork commented on #53
The error suggests `Guardian.Plug.sign_in(resource, :token, perms: %{default: perms})` is failing ([plug.ex#L83](https://github.com/hassox/guardian/blob/master/lib/guardian/plug.ex#L83)) but I'm not entirely sure why.  Have you double checked your setup and configuration are correct?

[2015-09-29 18:15] viniciusmkm commented on #53
Well, they are exactly as I pasted above :confused:

[2015-09-29 18:17] doomspork commented on #53
@viniciusmkm there should be some configuration in `config/config.exs` like your permissions and serializer.  Without seeing more of the code it's hard for me to discern the cause, perhaps someone else will have more insight.

[2015-09-29 18:37] viniciusmkm commented on #53
@doomspork, I have found the problem!

At my test setup I was doing:

[code]

Just changed to:

[code]

And now it works!

Thanks for your help!

[2015-09-29 18:37] #53 closed

[2015-10-02 04:31] #41 closed

[2015-10-29 18:35] Lbatson opened #55 "Unable to get value from conn.assigns using Guardian.Plug.claims"
I don't think checking the value in conn.assigns dict returns a tuple. all the documentation i can find points now to returning just the value or nil. Since `Guardian.Plug.claims` is checking for this tuple, https://github.com/hassox/guardian/blob/master/lib/guardian/plug.ex#L161, it's always failing for me with the `:no_session` error case. This breaks me checking claims and the various plugs lik

[2015-10-29 19:04] doomspork commented on #55
@Lbatson I'm using Plug 1.0.2 and Guardian 0.6.2 together without issue.

As for the tuple, I'm pretty sure Guardian assigns that value.  See [plug.ex#L139](https://github.com/hassox/guardian/blob/master/lib/guardian/plug.ex#L139) & [plug_test.exs#L13](https://github.com/hassox/guardian/blob/7865efcb539edc87e061d7e5b1e3529d48e0709a/test/guardian/plug_test.exs#L13)

[2015-10-29 23:07] Lbatson commented on #55
@doomspork it still fails for me. are you using `Guardian.Plug.claims` anywhere? I always end up getting the `:no_session` error even though i can see the claims in then `conn` itself. I did fix the issue with it failing on `EnsureAuthenticated` which had an issue with my on_verify hook failing, however I've noticed that `VerifyHeader` also always fails with `:no_session` as well but then verifies

[2015-10-30 08:58] vernomcrp opened #56 "Logout method for API"
I login to api via Guardian.encode_and_sign(xxx). I cannot use Guardian.Plug.sign_out(conn) to logout from api. It said "cannot fetch_session". and method Guardian.revoke! do nothing with authentication data in header

[2015-10-30 15:52] Lbatson commented on #55
Ok, think i've found the issue. The way `VerifyHeader` and `api_sign_in` set claims is different. `VerifyHeader` attaches a tuple where `api_sign_in` simply adds the claims. This means if you call `Guardian.Plug.claims` on the `conn` after `api_sign_in`, for instance in the after_sign_in hook,  it will fail as `Guardian.Plug.claims` looks for the tuple, doesn't get it and gives the `:no_session` e

[2015-10-30 16:07] doomspork commented on #55
Hey @Lbatson I'm also on Erlang 18 and Elixir 1.1.1.  Unless I'm reading the `@spec` wrong the claims are always a tuple.  If you look at the method you linked to in Plug you'll see the spec define the claims parameter as being a tuple:

`@spec set_claims(Plug.Conn.t, { :ok, Map }, atom) :: Plug.Conn.t`

I suspect there might be some other configuration you're missing.  Is your project on GitHub?

[2015-10-30 17:18] Lbatson commented on #55
The `@spec` does shows the tuple, however the parameter passed to `set_claims` from `api_sign_in` is just the `Map`. Maybe it should be changed to `|> set_claims({:ok, full_claims}, the_key)`?

[2015-10-30 20:27] mrmylanman opened #57 "Having problems with permissions and Guardian.Plug.sign_in"
It is entirely possible that something is configured incorrectly on my end, however I think I followed the setup guides pretty well.

I set my permissions in config like so:

[code]

And I am assigning permissions in the `sign_in` method like so:

[code]

`Authentication.perms_for/1` seems to be returning permisssions formatted correctly. For example:

[code]

However, when I try to check permissi

[2015-10-31 18:34] doomspork commented on #55
@Lbatson looks like you're right.  I've been using `Guardian.decode_and_verify(jwt)` which the Guardian tests use and that seems to work.  Once I updated my code to use `Guardian.Plug.claims` I was able to repo your issue.  While I was looking into the `api_sign_in` I found another issue so I'll open a PR for both.

[2015-11-01 00:58] chriserik commented on #57
I had a similar issue in a phoenix-based project and fixed it by deleting the project's _build - folder and then recompiling the entire app. Maybe this helps in your case as well.

[2015-11-02 14:42] mrmylanman commented on #57
@chriserik Thanks for the suggestion! It looks like that was it. Bizarre. I probably should have checked that first. Still not used to compiled languages. Thanks again

[2015-11-02 14:42] #57 closed

[2015-11-05 03:49] #55 closed

[2015-11-05 03:52] hassox commented on #56
Hi @vernomcrp. When you're logging out of a session it depends on if you're using something like GuardianDb to keep track of tokens you have out in the wild.

If you're not using GuardianDb or something similar, then on your client just forget the token. If you have a token and it checks out then it is valid. If you want something more robust, that's what GuardianDb was developed for.

When using

[2015-11-05 03:52] #56 closed

[2015-11-05 22:49] mrluc opened #60 "jwt working when passed as param, but not from header, though both look identical"
This is probably an Elixir string thing, but here goes:

I'm moving from posting a "jwt" param to putting it in the "Authorization" header.

However, I get this weird behavior:

[code]

The output I get is:

[code]

Which is funny! They look exactly the same from here.

I'm not sure that this is a Guardian issue, but the thing is, Guardian can decode and use the JWT from params, but when trying to

[2015-11-05 22:58] mrluc commented on #60
Ah, I see. The problem here is that I can't read ... headers can have multiple values, so gotta extract it from `[binary]`. Closing.

[2015-11-05 22:58] #60 closed

[2015-11-06 07:09] efries commented on #46
Hi,

Can you check if this is the right direction?
https://github.com/hassox/guardian/compare/master...efries:master

Beside 4 fails the tests are green. Validation is still missing.
[code]
Please check careful. I'm new to Elixir. :-)

[2015-11-22 06:45] hassox commented on #46
Hi @efries I decided to move away from Joken. Their API changes are too drastic considering that I'm only using it for encoding and decoding. I've put a PR together at https://github.com/hassox/guardian/pull/62 if you'd like to take a look :D

[2015-11-22 21:04] #46 closed

[2015-11-24 19:30] bartekupartek opened #65 "Can't create token by encode_and_sign from user resource."
Like in title, can't create token, it seems that it is Guardian or base64url fault, I need to work around it asap.

iex:

[code]

mix.lock

[code]

[2015-11-24 19:46] bartekupartek commented on #65
Ok, I see https://github.com/hassox/guardian/blob/master/lib/guardian.ex#L231, I haven't exported GUARDIAN_SECRET env in running phoenix server terminal session.

[2015-11-24 19:46] #65 closed

[2015-11-24 19:48] doomspork commented on #65
@bartekupartek it looks like you didn't configure your secret key:

[code]

[2015-12-04 16:50] #35 closed

[2015-12-10 00:31] b-murphy opened #70 "git tag releases"
Hey,
Would it be possible to git-tag the version bumps in the  future?

I'm happy to do the grunt work and find the previous commit ids if backward tags can be done by you? (Guessing it requires force push of master, so not repo friendly to do!) but the offer is there!

[2015-12-10 00:41] hassox commented on #70
eep I don't want to force push to master :\ I'm happy to start them moving foward though. Is there a good way to backfill? I'm not sure which point in code the revisions were cut.

[2015-12-10 00:47] b-murphy commented on #70
I guessed not!!! :-) The only way i can see is adjusting the commits (aka force push) which is a no go!

The only pointer really is that most of the docs (your blog & example phoenix_guardian) are relating to 0.6

Perhaps i could help updating the phoenix_guardian to be 0.8.0 ?

[2015-12-10 00:59] b-murphy commented on #70
Hey again!
I just discovered it can be done via releases in github. Only that is done via branches not commits. So could backfill with rollbacked branches on the repo. I'll get on this if it helps.

[2015-12-10 01:18] hassox commented on #70
I'm actually in the process of updating phoenix_guardian atm! I can push up to a branch what I have so far if you want to hack on it too :)

If you think we can get to releases from where we are then cool but please don't break anything :|

[2015-12-10 01:27] b-murphy commented on #70
I've got 6.1.0, 0.6.0 done so far :-) There on my fork at the moment if you want to check the branches.

Hit a rebasing issue on .5.1 -> 0.6.0

[code]

need some help cleaning this up, haven't got my head round the internals yet :-) But if you can correct so i can rebase and i continue down to 0.5.

[2015-12-10 01:32] b-murphy commented on #70
ignore the branches - rebased over cherry-picking... bad corporate habits :-( I'll let you know when i've done it *properly* :-)

[2015-12-13 11:22] joelfperion opened #72 "IO.puts"
I think it's a code smell for a library to do 'IO.puts' on errors, the errors should be reflected only in the function's output.

My opinion only so if you agree I could make the fix myself and submit a PR.

[2015-12-13 17:47] hassox commented on #72
@joelfperion I agree. I'd love some other way to pas up the error. Perhaps a call to a logger or just pass it back?

[2015-12-14 08:55] joelfperion commented on #72
It seems to me that most libraries in elixir don't log (httpoison, phoenix, dynamo, etc..) so maybe to conform to their best practice just pass it back?

[2015-12-14 20:04] hassox commented on #72
sounds good. Merged the PR

[2015-12-14 20:04] #72 closed

[2015-12-28 04:40] aussiegeek opened #76 "Docs not working on hexdocs.pm"
If I visit hexdocs.pm/guardian, it redirects to http://hexdocs.pm/guardian/overview.html which is 404, which makes it a little bit harder to find the published docs. They are available at https://hexdocs.pm/guardian/Guardian.html

[2015-12-28 05:31] hassox commented on #76
Thanks. Not sure what's going on but I'll look into it

[2015-12-28 22:02] #26 closed

[2015-12-29 23:55] hassox commented on #76
This is working now :) Thanks for the heads up

[2015-12-29 23:55] #76 closed

[2015-12-31 04:15] joshwlewis opened #78 "Handling Errors in LoadResource"
Hi y'all,

Just came across some unexpected functionality:

[code]

My naive impression was that that returning an error here would cause Guardian to abort the request in some fashion. However, the error is swallowed up [here](https://github.com/ueberauth/guardian/blob/master/lib/guardian/plug/load_resource.ex#L29).

I'll likely implement my own plug to verify that the `current_resource` is not ni

[2016-01-05 17:15] hassox opened #79 "Allow setting the secret on tokens"
On encode_and_sign allow setting a secret so that people can use a custom secret per token for signing. This would be considered 'advanced' since you'd need to provide an identifier to lookup the secret along with the token (maybe)

[2016-01-06 08:07] aaronrenner opened #80 "Question about using conn.assigns vs conn.private"
I'm still pretty new to Elixir/Phoenix, so please forgive me if this a noob question. Guardian looks like a great authentication library, but I have one question...

I've been looking through the codebase and see a lot of guardian's internal state is stored on `conn.assigns` instead of using `conn.private`. It looks like guardian is currently adding keys like `:guardian_default_claims` and `:guard

[2016-01-06 09:12] hassox commented on #80
I'm not sure if they're available in the template but private is a much better place for it. I wrote guardian as a noob and didn't know any better. Do you think you could put a or together? I'd totally merge a move to private

[2016-01-06 15:30] aaronrenner commented on #80
Awesome. I'll get started on it!

[2016-01-07 16:19] ramstein74 opened #82 "no token on view ?"
Hi, i´m sure its my error but i need more info to use guardian
here is my index page.

![image](https://cloud.githubusercontent.com/assets/1210858/12175448/36addc84-b55a-11e5-91b3-47f62e4ac453.png)

in the console i see the token being inspected

![image](https://cloud.githubusercontent.com/assets/1210858/12175412/f791fe18-b559-11e5-87d4-4fa7473a0725.png)

however in my index view
i have <%= inspe

[2016-01-08 17:03] hassox commented on #82
Hey. What do you have in your view? Its pretty good practice to pass the token in, but you can look it up from the conn object in views.

I'm assuming that you normally comment out the current_token and inspect calls in your screen grab

[2016-01-09 01:00] skosch opened #84 "Recompile on permissions update?"
Hi,

forgive the somewhat unrelated question, but as a newcomer to Elixir, I just pulled my hair out for way too long because my permissions weren't working ... until I realized that `mix` actually compiles the Map in `config.exs` directly into the `@perms` attribute, and that said compilation isn't automatically re-triggered when my configuration changes. In other words, I have to delete `_build/

[2016-01-11 04:45] terakilobyte opened #85 "encode_and_sign without hooks?"
It would be nice from a testing perspective to be able to generate a throwaway token for testing, especially when using GuardianDB.

If I've missed this utility somewhere I apologize. If not, I'd definitely be up for submitting a PR.

[2016-01-11 06:48] #80 closed

[2016-01-11 06:49] hassox commented on #85
You can apply your hooks in prod, staging and dev if you want and leave it out of test. Would that work for you?

[2016-01-11 06:50] hassox commented on #84
oh that's a good point. The GuardianPermissions module is dynamically generated. I'm not sure how to watch for changes in the config and re-generate. That's an interesting challenge though.

[2016-01-11 11:18] ramstein74 commented on #82
coding this
![image](https://cloud.githubusercontent.com/assets/1210858/12232214/0b3c9d4e-b855-11e5-8dbb-9cbabf4c4253.png)

gives me this in my view

%Plug.Conn{adapter: {Plug.Adapters.Cowboy.Conn, :...}, assigns: %{guardian_default_resource: nil, layout: {G1.LayoutView, "app.html"}, token: nil}, before_send: [#Function<1.117304339/1 in Plug.CSRFProtection.call/2>, #Function<2.92260701/1 in Phoeni

[2016-01-11 15:41] skosch commented on #84
Hm. I guess it's not that big of a deal in practice, but maybe a note in the docs would be helpful to save the next guy a few hours :)

[2016-01-11 18:30] hassox commented on #82
@ramstein74 the conn struct is immutable. You need to save off the new one after you sign in.

[code]

[2016-01-11 18:40] ramstein74 commented on #82
Solved
thank you

2016-01-11 18:30 GMT+00:00 Daniel Neighman <notifications@github.com>:

[2016-01-11 19:52] terakilobyte commented on #85
I think there's value in being able to use hooks in testing to create a valid user. This might be specialized purely towards guardiandb, but having access to both in testing allows a user like myself to make the assertion that all is well and the "user" must have a valid JWT issued by my application.

I don't see a way to do this, though if it's inbuilt I apologize and would ask for reference.

[2016-01-11 20:41] hassox commented on #85
You can use a combination of setup and on_exit to remove the hooks.

[code]

I think something like that would do what you're looking for.

[2016-01-11 23:00] #82 closed

[2016-01-11 23:58] terakilobyte commented on #85
Yep, that worked perfectly, thanks!

[2016-01-11 23:58] #85 closed

[2016-01-13 00:32] victorlcampos opened #87 "Make Generators"
Hi,
if you agree I think I can help you to make some generators like device has

[2016-01-13 02:04] victorlcampos commented on #87
Can u make a generator for: https://hassox.github.io/elixir/guardian/2015/06/29/simple-email-password-authentication.html

[2016-01-13 07:03] hassox commented on #84
Quick update on this. I've looked into getting some code reloading happening, and while it's very possible, it still doesn't help with partial compilations like tests. Only in dev. I'm going to take a stab at refactoring the permissions module to be a more run-time set of functions rather than compile time definitions.

[2016-01-13 07:04] hassox commented on #87
Hey @victorlcampos I'm happy for a project that works similarly to devise. It's not really my thing right now though but please feel free to use the code you find on my blog or in example apps to get you going.

[2016-01-13 07:04] #87 closed

[2016-01-13 07:08] hassox commented on #78
Hi @joshwlewis. Perhaps we could pass an option into load resource where when it can't find one it calls the handler? Perhaps even the presence of a handler option would tell it to call some action?

[2016-01-13 08:41] victorlcampos commented on #87
I opened a new project called gen_guardian(https://github.com/victorlcampos/gen_guardian), in the future, when I finish, if you agree we merge both

[2016-01-13 14:14] skosch commented on #84
Sweet, thank you! Looking forward to what you'll come up with. I'll keep the issue open until then.

[2016-01-14 03:11] sschneider1207 commented on #84
It would be nice to have a notice about this in the section of the readme on permissions, I just had this same problem and couldn't figure out what was wrong for the life of me.

[2016-01-17 19:45] #84 closed

[2016-01-20 00:17] aaronrenner opened #90 "Allow quick sign in for acceptance tests"
When I'm working in Ruby, I really enjoy how Clearance's [Backdoor Middleware](https://github.com/thoughtbot/clearance#fast-feature-specs) allows me to skip the sign in process when writing browser-level acceptance tests. When in my test environment, I can append the `as` query string parameter when I make a request, and I'm automatically signed in as that user. (Here's how I'd make the request us

[2016-01-24 19:09] hassox commented on #90
Putting the value into the session is a bit of a pain. A backdoor would be awesome :D

[2016-01-24 19:12] nicholaswyoung opened #91 "Write guides on API and Browser Auth with Guardian/Phoenix."
This issue will be closed once I write the guides. It's mostly here as a placeholder to remind myself what I need to do.

The idea is prose + code, a walkthrough that explains both how to use Guardian and why a user should consider it.

[2016-01-25 16:55] hassox commented on #79
Perhaps allow reading an unverified header so that an identifier can be put in the header to look up the secret. The secret could then be found and the token can be verified

[2016-01-26 06:18] JHKennedy4 opened #95 "Question: How can I authenticate a user via api and session simultaneously?"
I am trying to authenticate a user via api, but I'd also like to make sure they remain authenticated should they refresh the page.

Guardian.Plug.sign_in seems to fit the bill for storing user authentication in a cookie, but the cookie doesn't get set when I auth via my api.

This does work:
[code]
Using these pipelines in this order:

[code]

This does not:

[code]
Using these pipelines in this o

[2016-01-26 21:59] hassox commented on #95
Worked through this. Seems the fetch polyfil does not allow the session cookie to be sent.

[2016-01-26 21:59] #95 closed

[2016-01-28 14:30] OxySocks commented on #91
I would be really interested in this, sounds great.

[2016-01-28 17:33] nicholaswyoung commented on #91
I have a working example, I just need to write the prose portion. Soon...

[2016-02-05 22:13] hassox commented on #79
oh this one is done!

[2016-02-05 22:13] #79 closed

[2016-02-07 02:44] victorlcampos opened #106 "Guardian.Plug.EnsureNotAuthenticated"
Hi,
I'm coding a login/sign up views that I have guarantee that the user are not Authenticated, if it is, I have to do something(handler).

Could I code this plug and submit a pull request?

[2016-02-07 05:30] doomspork commented on #106
I'm :+1: this but let's see what @hassox thinks.

[2016-02-07 14:06] victorlcampos opened #107 "PR Proposal: Guardian Generators"
Hi guys,
I realy like guardians, but a devise's feature that i miss is the generators. Because of this I startad create it:

https://github.com/victorlcampos/gen_guardian

What do you think? Could I open a pull request to guardian project to add this to it?

[2016-02-07 17:52] aristotelesbr2014 commented on #107
Nice! +1

[2016-02-08 00:21] hassox commented on #107
I love the idea of generators, but I think of guardian as a core style lib. I don't think it's appropriate to guide people in a particular direction in the core lib, but stoked to see that generators are being built on top of it. I think (at least in the near term) that a separate repo like gen guardian is great to have.

[2016-02-08 00:28] hassox commented on #106
Good idea. This seems like a great add. What would you do in the case where someone is logged in?

[2016-02-08 02:01] victorlcampos commented on #106
Call a handler ?

[2016-02-08 02:14] victorlcampos commented on #107
Thx for reply. I happy you by stoked =)
If you have some sugest to generators?

Next weekend I will try to write some tests

[2016-02-08 03:22] doomspork commented on #106
I imagine it would work just like `Guardian.Plug.EnsureAuthenticated` only the handler function would be something like `authenticated/2`.

[code]

[2016-02-08 12:36] victorlcampos commented on #106
exactly

[2016-02-09 18:09] bbugh opened #108 "Expand JWT acronym"
The README refers to "JWT" in a number of places, but never explains what it is. I'm an old fart web developer and it took me quite a bit of googling to figure out that this meant JSON Web Tokens. Expanding that in the README would help a lot with readability.

[2016-02-10 01:58] hassox commented on #106
:+1: sounds good. are you comfortable putting up a PR @victorlcampos?

[2016-02-10 12:17] victorlcampos commented on #106
I will try, tomorrow, are you ok with this date?

[2016-02-10 16:25] doomspork commented on #106
Sounds good @victorlcampos :+1:

[2016-02-10 16:30] aaronrenner commented on #108
@bbugh You're right, that abbreviation was never expanded. Would you want to submit a pull request for this?

[2016-02-11 00:59] victorlcampos commented on #106
@doomspork and @hassox PR opened #109

[2016-02-13 12:12] Hanspagh opened #111 "Proposal Guardian Refresh Tokens"
A common use case for many api's that are consumed by mobile app's is to get a new token without re-authenticating to avoid contentiously prompt users with login screens. This is most commonly done with refresh tokens. Would it be an idea to make a project similar to GuardianDb to implement this behavior?

[2016-02-15 23:58] hassox commented on #111
Hey @Hanspagh. Guardian provides a refresh! function. Checkout Guardian.refresh!

[2016-02-16 00:05] hassox commented on #106
This has been merged. Thanks @victorlcampos!

[2016-02-16 00:05] #106 closed

[2016-02-16 00:07] victorlcampos commented on #106
Thank you for this anwsome lib

[2016-02-16 08:28] Hanspagh commented on #111
Yes, I know but that only allows us to make a new token from an valid existing one. The feature I am requesting is to create a new token without having a valid token, but from a refresh token. Like described here https://auth0.com/docs/refresh-token

[2016-02-16 15:29] plamb opened #114 "Poison 2.x support"
Has anyone tried Guardian with the new Poison 2.x versions? Any issues?

I've just put poison 2.1 in as an override and haven't seen any issues yet (but it's very early in the day).

[2016-02-16 17:09] hassox commented on #111
Refresh tokens are tricky. There's a couple of ways to do them that spring to mind.

1. Create a non-expiring token containing/mapping the 'claims' and store it in the db. When issuing a JWT from it, use the claims from the refresh token and encode them into an access token. This requires that you have a database and lookup the refresh token. This method would be outside the scope of Guardian sinc

[2016-02-17 08:54] Hanspagh commented on #111
My first thought was to implement it like you described in 1. and then add it as dependency like GuardianDb.

But 2. seems to integrate much better into the existing code and being able to reuse GuardianDb instead of writing a db integration again seems to be a big win.
I am still a bit new to Elixir but I would be happy to help with implementing this :)

[2016-02-17 16:41] #108 closed

[2016-02-17 16:42] hassox commented on #111
@Hanspagh I'd be happy to review something for #1 but I don't think it should go into the Guardian lib.

[2016-02-17 17:16] hassox commented on #114
I just pushed up this change inside https://github.com/ueberauth/guardian/pull/115

[2016-02-17 17:16] #114 closed

[2016-02-17 17:17] hassox commented on #107
I think sentinel is doing something similar. You might want to pool your time with them (or not)

https://github.com/britton-jb/sentinel

[2016-02-17 17:17] #107 closed

[2016-02-17 17:18] #70 closed

[2016-02-18 01:09] victorlcampos commented on #107
Thx @hassox, Yes, I will send PR

[2016-02-18 02:19] victorlcampos commented on #107
https://github.com/britton-jb/sentinel/issues/1

[2016-02-18 03:36] aaronrenner commented on #90
I've got a proof of concept done for this and will be submitting a PR in the next couple of days.

[2016-02-18 08:21] Hanspagh commented on #111
When you say it should not go in the Guardian lib, do you then mean it should be a lib like GuardianDb or should it be part of the core.

[2016-02-18 17:18] hassox commented on #111
I think it should be a separate lib like guardian db

[2016-02-18 22:06] hassox commented on #90
cool

[2016-02-19 09:36] Hanspagh commented on #111
Awesome, Will start working on something

[2016-02-19 16:45] hassox commented on #111
Sounds great. I'd love to see it when you have something.

[2016-02-19 16:45] #111 closed

[2016-02-21 15:09] gaynetdinov opened #117 "Cache login"
Hello.

The title of this issue is a bit misleading because I don't know how to describe my question in 2-3 words.

I have a bit weird question. I'm building a mobile web app. My app as any other web app can be added to Home Screen in iOS using Safari. The problem is that if you close such 'standalone' app or just send it to background, the next time you open it you will have to login again becaus

[2016-02-21 18:56] hassox commented on #117
hey @gaynetdinov

Local storage definitely seems like the thing you want to use here. I think there's a couple of ways I'd handle this.

1. Make the client use Header based (API style) authentication always. This is great if you're using a single page app and all your requests are done over ajax. Not so good if you have normal server generated pages with straight up HTTP
2. Provide your client wit

[2016-02-22 08:39] gaynetdinov commented on #117
I think I'd go with second option. All my requests are done via ajax, so once I get a response from the 'relogin' endpoint, the client side has a proper session and all ajax requests work just fine.

Thank you again, @hassox!

[2016-02-22 08:39] #117 closed

[2016-02-22 14:43] aphillipo commented on #90
I'm looking for something like this too.  Not sure of the correct way to do this without the Backdoor Middleware... What do people do in the mean time?

[2016-02-22 20:01] neezer opened #119 "Storing Guardian permissions in the User record?"
Hi, I'm new to Elixir/Phoenix/Guardian, but I've gotten an API up and running with Guardian configured. Presently, I'm hard-coding permissions for all my users like so:

[code]

But I was wondering how I might save the [permissions bit](https://github.com/ueberauth/guardian#permissions) on my user record, so that different users could have different permissions (and thus get different tokens).

Ho

[2016-02-22 23:49] neezer commented on #119
Apologies, now that I've played around with this some more, I realize it's not a Guardian specific question. Came up with the below solution.

---

I added a `map` to my user record... and defaulted it to `%{}`. Since I'm using PostgreSQL, I have the field type set to `:json`.

[code]

Then I can save my permissions per-user by passing in the same declaration I was using to generate the token prev

[2016-02-22 23:49] #119 closed

[2016-03-04 09:26] Hanspagh commented on #111
I made a VERY simple initial commit on the Refresh Token project, and I thought you might wanted to take a quick look at it, just to see if I am on the right track.
https://github.com/Hanspagh/guardian_refresh_token

[2016-03-04 19:31] fnimick commented on #78
+1 this would be very helpful!

[2016-03-10 01:28] somlor commented on #91
@nicholaswyoung let me know if you'd like any kind of help with this guide. Would be a great resource.

[2016-03-11 23:27] bgentry opened #124 "Guardian.Plug.LoadResource not documented in readme list of plugs"
This one is referenced a couple times in the readme, but not individually documented like the others

[2016-03-16 00:33] fajarmf opened #125 "Can it be use along side ueberauth_identity?"
I have added ueberauth_identity and then I read about this. Is there example for combining the two?

[2016-03-16 00:35] fajarmf commented on #125
nvm, I just found it after quick googling https://github.com/hassox/phoenix_guardian

[2016-03-16 00:35] #125 closed

[2016-03-16 07:35] nicholaswyoung commented on #91
@somlor @hassox Okay, I finally have some time to work on these, maybe during the coming weekend. Any input on how they should be structured in the repo? `docs/` / `examples/`? Or should they go in a separate `guides` repo?

[2016-03-16 15:04] doomspork commented on #91
What do you plan to put together @nicholaswyoung?  I think that might better dictate where it lives.

@hassox already has a pretty solid example, so I'm not sure there's much need for more of those: https://github.com/hassox/phoenix_guardian

[2016-03-19 21:23] wende opened #126 "Why does EnsurePermissions require key?"
I'm developing with Guardian right now, and I want a part of a website to be available to both `default` user and `admin`
Because of that I distributed the permissions like that
[code]
But right now if I want to check the permissions using plug I'm unable to check the permission by name
because
[code]
Which still doesn't allow the admin to see the page, because it check under a key instead of chec

[2016-03-19 22:27] doomspork commented on #126
@wende it shouldn't be necessary to copy `default` into `admin`, you can assign both permissions to a user.  To work with your original plug, this is what I might do:

[code]

As to why we need the key?  It allows for granular permissions.  You probably don't want `users` accessing your admin panel so you could do something like this:

[code]

Does that help?

[2016-03-20 20:18] hassox commented on #124
Thanks @bgentry! Updated README is here https://github.com/ueberauth/guardian/pull/128

[2016-03-20 20:20] hassox commented on #78
@joshwlewis just checking in on this. Did you need some help?

[2016-03-20 23:07] joshwlewis commented on #78
Sorry, looks like I let this slide. Let me see if I can get something together later tonight.

[2016-03-21 03:17] hassox commented on #78
No problem @joshwlewis I was just going through issues and wanted to touch base.

[2016-03-27 10:38] gagalago opened #129 "signature with other algorithms than HSxxx"
Hey,

I try to use Guardian to sign a JWT with RSA plublic/private key.

I see that your implementation don't allow other signature algorithms than HMAC SHA-xxx (HSxxx). The problem comes from jose_jwk/1 that hardcode an jwk HSxxx.

I would like to offer the possibility to use any algorithm available with JOSE. Should I keep a backward compatibility? If so, have you any idea how to do this properl

[2016-03-27 10:49] gagalago commented on #129
Sorry, I did not see the pull request #122 before making my issue.
So I will use this implementation ;)
Thanks @potatosalad

[2016-03-27 10:49] #129 closed

[2016-04-05 00:13] martinos opened #130 "Definition of location not present in README.md"
I try to understand what is a `location` but I can't figure it out from the README.  It would be clearer if it is explained in the docs.

[2016-04-05 10:00] madshargreave opened #131 "Handling auth for non-user resource"
What's the best way to authenticate 'site visitors'.

I have a site with a chat function, and I want to make sure that each site visitor can only see the chat that has been opened for their session, and not others.

[2016-04-06 15:51] #131 closed

[2016-04-09 19:16] ashrafhasson commented on #126
I'm facing a similar issue where normal user should have "update_self" permission and admin user should have "update" permission both of which apply to the same action, with @doomspork 's setup it still doesn't authorize the request when tested. Only the specific profile gets allowed, so if I specify "admin", a user with signed with %{default: ~w(update)} will not be able to request that path.

[2016-04-17 13:19] madshargreave opened #135 "Hooks doesn't work"
Hi

I am trying to hook into the authentication process by overriding `after_encode_and_sign`, but it is never called

web/hooks/guardian.ex
[code]

web/controllers/session_controller
[code]

[2016-04-17 16:14] doomspork commented on #135
@madshargreave did you add the hooks to your configuration?

[code]

[2016-04-17 16:18] madshargreave commented on #135
I totally missed that, my bad

[2016-04-17 16:22] doomspork commented on #135
No worries @madshargreave!  If you're on Slack, we have a Ueberauth/Guardian channel you can visit for support too: #ueberauth

Can we close this issue now?

[2016-04-17 16:23] madshargreave commented on #135
Perfect, much appreciated

And yes, works now

[2016-04-17 16:42] doomspork commented on #135
You're welcome @madshargreave, thank you 👍

[2016-04-17 16:42] #135 closed

[2016-04-17 16:43] doomspork commented on #130
@martinos would you mind taking a shot at expanding on the documentation?

[2016-04-18 21:30] ospaarmann opened #136 "Following Secret Key examples with JOSE leads to an error"
When following the examples in the Readme.md for using JOSE.JWK to create / read in keys from a password protected file I always encounter the error

[code]

This is the code in my config.exs

[code]

[2016-04-18 21:33] doomspork commented on #136
I believe this has to do with how and when configuration files are evaluated and compiled.  @ospaarmann can you try putting it in an anonymous function?

[code]

[2016-04-18 21:36] ospaarmann commented on #136
This compiles. But now the config value is the function itself and not what it returns:

[code]

[2016-04-18 21:42] doomspork commented on #136
@ospaarmann what about  `Guardian.config(:secret_key).()`?

[2016-04-18 21:49] ospaarmann commented on #136
This returns the correct value but I believe the Guardian configuration itself is still not correct. No?

[2016-04-18 21:52] doomspork commented on #136
@ospaarmann JOSE accepts functions: https://github.com/ueberauth/guardian#secret-key.

Have you tried using the configuration?

[2016-04-18 21:59] ospaarmann commented on #136
No. I have to check some other things since I'm not using Ecto but will report back. Thanks for the help

[2016-04-19 09:31] ospaarmann commented on #136
I tried this in another Phoenix App that uses Ecto and is less custom-made. It does not work. The error I'm getting is

[code]
So encoding the claims with the JWK fails and there again we find the reference to the anonymous function.

[2016-04-19 11:10] ramstein74 opened #137 "mix ecto.create does not work"
I have this error on mix ect.create
* (Mix) The database for PhoenixGuardian.Repo couldn't be created, reason given: psql: fe_sendauth: no password supplied

Can you help ?

[2016-04-19 11:12] ramstein74 commented on #137
Forget it. solved. .. DELETE this issue...pls

[2016-04-19 14:00] ospaarmann commented on #136
So I found the problem. The Readme claims that functions can be passed as Guardian.config(:secret_key) but the necessary changes are only present in the master branch and not in the latest release. They were introduced with [this pull request](https://github.com/ueberauth/guardian/commit/eaf52c98801659bdccd5fa6cc10ea8181caf6d74). So I suggest to either create a release with these changes or mentio

[2016-04-19 15:05] ospaarmann opened #138 "Error when reading JWK from password protected file"
I get an error when trying to read a JWK from a password protected file when following the example in the Readme. Here are the steps to reproduce the problem:

I just use `iex -S mix phoenix.server` to create the jwk and save it to a password protected file. I use environment variables to pass the password and file path to the app.

[code]

This all works. When I now read the file back in I get a

[2016-04-19 15:11] #137 closed

[2016-04-19 15:11] doomspork commented on #91
@nicholaswyoung is this something you're still working on or can we close this issue?

[2016-04-19 17:10] nicholaswyoung commented on #91
@doomspork Still on it. But you can close the issue if doing so is helpful.

I've been busy with a new child, so I haven't had copious amounts of time to dedicate to this project, so progress is slow.

[2016-04-19 17:41] doomspork commented on #91
No worries @nicholaswyoung, congrats on the new kid!  I just wanted to check in.

[2016-04-22 17:26] nathany opened #141 "Upgrading Guardian"
Upgrading guardian from 0.9.1 to 0.10.1 and guardian_db to 0.4.0 to 0.5.0 is resulting in this error:

[code]

Line 3 is:

[code]

elixir 1.2.4
ecto 2.0 rc.1

[2016-04-22 17:28] bsidoruk commented on #141
It seems to be here, https://github.com/ueberauth/guardian/blob/master/lib/guardian/channel.ex#L46

[2016-04-24 04:55] martinos commented on #130
At many place in the `README.md` file they talk about a `location`.

Example:

[code]
What does it mean ? Is it where claims is stored ? It's not clear to me.

I would gladly write some documentation about it, however I don't understand what it is.

[2016-04-24 21:11] martinos opened #142 "Remember password"
I am trying to add a remember password feature to my app, however it seems that the jwt is stored in the session in a temporary manner.

Is it possible with the current state of guardian to implement this feature in an app ? If not, is there a plan to add this feature in guardian ?

[2016-04-25 14:13] simonh1000 commented on #136
Is the code up to date? Key generation is not at all clear in the docs, as the link to [Examples: Key Generation](https://hexdocs.pm/jose/key-generation.html) has 8 different methods. Which one do I use?

[2016-04-25 14:42] simonh1000 commented on #91
I would certainly welcome some instructions or a blog, and ideally for a json api. What I can't see at all from the docs is where the username and password are sent and matched with the database. That must be done before a token can be issued I would expect.

[2016-04-25 15:22] ospaarmann commented on #136
This is what I did to generate a password protected JWK file (which contains the generated key):

[code]

The first line just generates a secret I'm using as a password. And .jwk_file is the file to store the jwk in. You can name it whatever you want.

[code]

Then in your config.exs

[code]

Of course you have to pass in your environment variables. So GUARDIAN_JWK_PASSPHRASE should be the passwor

[2016-04-25 15:39] hassox commented on #126
The `key

[2016-04-25 15:46] hassox commented on #90
@aphillipo Down the bottom of http://blog.overstuffedgorilla.com/simple-guardian/ there's a way to work with session stored tokens. The backdoor middleware will make this dance much simpler.

[2016-04-25 15:50] hassox commented on #130
When the README talks about 'locations' it's talking about:

a. Where guardian will look for the token in the session
b. Where it will store it in the connection

This allows you to have multiple logins on the same connection for purposes like impersonation or 'more secure' logins at the same time as your normal login.

For example:

`Guardian.Plug.claims(conn)` will fetch the claims from the conn

[2016-04-25 15:51] simonh1000 commented on #136
Thanks, I've had to hard code the passphrase in as I don't know about env variables yet, but it seemed to compile

[2016-04-25 15:52] hassox commented on #136
@ospaarmann The new secret key stuff in the readme is not yet released which is why you'll be having some trouble with it. I'll try and get a release cut soon to update the released guardian to match the readme.

[2016-04-25 15:54] hassox commented on #138
@ospaarmann The README shows what's currently in master which is not yet released. I'll try and get a release out shortly.

[2016-04-25 16:00] hassox commented on #141
Thanks for the bug report!

[2016-04-25 16:34] #124 closed

[2016-04-25 16:38] hassox commented on #142
It is possible. The approach I'd use is to store a specific type of token with a long ttl that can't be used elsewhere (think refresh token). Then write a plug to look this up and create a new access token for the session.

[code]

That's on the way out. On the way in, check your session first with Guardian.Plug.VerifySession, then use a different plug that if verify session resulted in a session

[2016-04-25 16:40] hassox commented on #91
Hey @simonh1000 you can see some walkthroughs on the overstuffed gorilla blog. For example: http://blog.overstuffedgorilla.com/simple-guardian-api-authentication/

[2016-04-25 16:55] martinos commented on #130
Thanks for the explanation, I think I understand. Am I right if I say that the `location` is the key where the claim is stored in the session ?

[2016-04-25 17:22] hassox commented on #130
Pretty much. Both in the session, and on the conn object.

[2016-04-26 06:58] simonh1000 opened #146 "Guardian.Plug.claims does not return a map"
I followed http://blog.overstuffedgorilla.com/simple-guardian-api-authentication/ and ran into an exception with
[code]
 ** (BadMapError) expected a map, got: {:ok, %{"aud" => "User:2", "exp" => 1464245528, "iat" => 1461653528, "iss" => "JwtExample", "jti" => "302c925b-f978-4734-9a15-853bb96d0faf", "pem" => %{}, "sub" => "User:2", "typ" => "token"}}
        (stdlib) :maps.find("exp", {:ok, %{"aud"

[2016-04-26 22:56] leandroalemao commented on #146
@simonh1000 I'm still learning and playing with Phoenix.. but I think you should do.. shouldn't you?

`{:ok, claims} = Guardian.Plug.claims(new_conn)`

[2016-04-27 00:33] martinos commented on #142
Makes a lot of sense, thanks for your response. I have never thought of storing the JWT in a different cookie that the session's one.

I'll try it this next week-end.

[2016-04-27 15:40] hassox commented on #146
Correct it's a tuple. The reason is that when decoding the token we can have an error.

[2016-04-27 15:40] #146 closed

[2016-05-09 20:11] #141 closed

[2016-05-09 20:11] doomspork commented on #141
Fixed thanks to @danielfarrell 👍

[2016-05-11 04:47] hassox commented on #126
If there's nothing else required on this one I'm going to close it out. Please re-open if there's more you need.

[2016-05-11 04:47] #126 closed

[2016-05-11 04:47] #130 closed

[2016-05-11 04:49] #142 closed

[2016-05-11 05:22] hassox commented on #136
Guardian 0.11.1 has been released with all the new JWT goodness.

[2016-05-11 05:22] #136 closed

[2016-05-11 05:23] hassox commented on #138
Guardian 0.11.1 has been released with all the new JWT signing goodness!

[2016-05-11 05:23] #138 closed

[2016-05-11 08:12] simonh1000 opened #149 "Setting permissions with api_login"
Hi, I'm getting an error when trying to set permissions following your blog post. Can you advise?

I have this config

[code]
and this controller
[code]
but am getting this error

[code]

[2016-05-11 16:37] nathany commented on #141
Thanks!

[2016-05-12 19:30] jamesvl commented on #90
The example in the blog mentioned above is what I was looking for - would you consider adding that snippet to the docs or readme file?

And although it's slower, I like that method better than the backdoor middleware which uses GET params to setup a fake user - for purposes of testing various routes, you are now no longer testing the exact route (since it has a query string), and there's a chance

[2016-05-17 15:56] hassox commented on #149
@simonh1000 You'll need to make the call to `Guardian.Plug.sign_in` with a map for the permissions.

[code]

[2016-05-17 16:48] #149 closed

[2016-05-19 06:59] thbar opened #152 "Recommendation on a "sane default" for the type of secret key?"
Hello there! Coming from a Rails & "Devise" background, I'm rewriting an app and start using Guardian.

The first "newbie" question that comes up is : wow, that's a lot of different keys types (backed by jose), but how do I choose?

I'm going to do my homework, document myself & make due diligence, and will come up with conclusions, but I wondered if some basic orientation could be provided in the

[2016-05-19 15:51] hassox commented on #152
@thbar I'm going to ask @potatosalad to jump in. I personally use HS512 which is just a simple sha signing. This means that the JWT can be read but not tampered with. I'm hoping @potatosalad can provide more information on the more exotic key types.

[2016-05-19 18:06] potatosalad commented on #152
### Short Answer

A cryptographically secure randomly generated 16 byte (or 128 bit) symmetric `oct` key for use with signature algorithm `HS256` should be sufficient for many HTTP bearer authentication use cases.

[code]

Anything larger than that (like using `HS512` that @hassox mentioned with a 64 byte key), is also perfectly acceptable and could potentially change the time required for a brute

[2016-05-19 18:27] thbar commented on #152
Thank you so much for the detailed answer!

[2016-05-20 18:37] vheathen opened #153 "Setting TTL with encode_and_sign"
Hello!

  I'm trying to generate a token with non-default TTL.

[code]

  As you can see it doesn't work. Is there a way to manually set TTL for a token available?

Thank you and best regards!

[2016-05-20 18:46] hassox commented on #153
@vheathen not sure I'm following your example. When you use the ttl function you're effectively asking for  '30 minutes after the issue time'. If you want to set the ttl manually I believe you can just set the `exp` and `iat` in your `encode_and_sign` call.

[code]

[2016-05-20 19:52] vheathen commented on #153
@hasson, thanks a lot for the answer!

Yes, you are absolutelly correct. But if you check result token fields you find that token's TTL is default 3 days and not 30 minutes as I believe it supposed to be:

`1464026216 - 1463767016 = 259200 / 60 / 60 / 24 = 3` (days)

Even in the following case TTL doesn't change:
[code]

Token's time fields:  %{ ... "exp" => 260200, "iat" => 1000 ... }
Still defau

[2016-05-20 23:25] hassox commented on #153
Hmm... sorry I can't pull up the code right now but if you pass it the ttl in the encode and sign it will work. It _should_ work with a specified exp and iat so I think that's a bug.
[code]

[2016-05-21 05:58] vheathen commented on #153
Thank you very much! I just saw an example in Readme
[code]
and tried to do the same, but it doesn't work (in the TTL part). I also tried to set `exp` manually, but also without success. I believe that this doesn't work because as I can see `claims = Guardian.Claims.ttl(claims, {3, :days})` is doing the same - changing `exp` and `iat` according to ttl map.

The way with adding :ttl key/value direc

[2016-05-23 02:38] StevenNunez commented on #152
Thanks for such a detailed response. Is there a sample app somewhere? I tried to set up an app using ES512 like in the example and am getting
[code]

I'm guessing it's trying to pass that whole hash to base encode it.

Rest of config for reference
[code]

[2016-05-23 09:34] Hanspagh commented on #153
I just tested both
`    claims = Guardian.Claims.app_claims
             |> Guardian.Claims.ttl({5, :days})`
and
`{:ok, jwt, _} = Guardian.encode_and_sign(
      "thinger",
      "my_type",
      %{"exp" => exp, "iat" => iat})`
and both are them are not working, the exp for both them are getting overwritten [here  ](https://github.com/ueberauth/guardian/blob/master/lib/guardian.ex#L369)
I am not e

[2016-05-23 14:42] vheathen commented on #153
It works with
[code]

So may be as a temporary workaround it's possible to put `ttl` key\value to the claims map on `Guardian.Claims.ttl(ttl)` in addition to `iat` and `exp` (which I'm using at the moment to not reinvent exp time calculation)?

[2016-05-23 15:09] StevenNunez commented on #152
Is there any reason to not just use the result of `mix phoenix.gen.secret`? I got it working that way.

[2016-05-24 13:33] potatosalad commented on #152
@StevenNunez Which version of guardian are you using?  Support for key types other than `oct` was added in [version 0.11.1](https://github.com/ueberauth/guardian/releases/tag/v0.11.1).

I put together an example project [potatosalad/guardian-example-app](https://github.com/potatosalad/guardian-example-app) using the [same config you provided](https://github.com/potatosalad/guardian-example-app/blo

[2016-05-29 14:12] jaybrueder opened #156 "Use Guardian with two separate configurations in the same application"
I am looking into Guardian right now and want to know if it is possible to have two separate Guardian configurations in one Phoenix application.

I want to have a User and an Admin model. The User tokens should be valid for 30 days and the admin tokens only for 1 day. Also, I want to have a separate `secret_key` for each model.

Currently, I can only solve this by adding an `:admin` permission to

[2016-05-31 05:13] hassox commented on #156
Unfortunately you can't have two configurations for guardian at the moment. However you can manually specify the secrets in the calls to `encode_and_sign` and `decode_and_verify`. The same goes for the ttl settings.

[2016-05-31 21:24] StevenNunez commented on #152
@potatosalad Thank you!

[2016-06-02 15:14] chvanikoff opened #158 "Ability to verify permissions to join channel"
As of now, there's no such functionality built-in but I think it may be useful for more people than just me.
Simple use case - administrator channel where only users with `%{"pem" => %{"admin" => 1}}` can join.
Currently I'm doing
[code]
but I'd prefer to have this out of the box and be able to use it just like EnsurePermissions plug by providing required access level to somewhere.

[2016-06-03 20:25] nubunto opened #159 "Doubt: How to deny access to all pages with Guardian."
How to make sure there is no way to access pages if someone isn't authenticated?

[2016-06-03 20:26] hassox commented on #159
Hi. Can you please use some more words. The `Guardian.Plug.EnsureAuthenticated` plug is probably what you want but without anything to go on I can't really be sure ;)

[2016-06-03 20:30] hassox commented on #158
I wouldn't try to use the bitmask directly. `Guardian.Permissions.all?/2` is likely what you're after here.

[code]

[2016-06-03 20:31] hassox commented on #156
I think this could be a great addition but would be a pretty hefty breaking change :\

[2016-06-06 13:46] nicholaswyoung commented on #91
This should be a blog entry first. I'll get to that shortly, but for now, I'll close the issue.

[2016-06-06 13:46] #91 closed

[2016-06-15 04:27] #159 closed

[2016-06-15 04:27] #158 closed

[2016-06-15 20:59] srh-work opened #163 "Use Guardian without Model"
Hello,

I want to know if it is possible to use Guardian without a user model and how to use it.
I use Phoenix just for server, tiny api and channels. I have a database in the browser with PouchDB and I want to authorized access to the tiny api. The thing is I don't have and I don't want to have models in my backend, but Guardian need a resource for serialize the token.

Is possible to do somethin

[2016-06-15 23:28] hassox commented on #163
I use Guardian without a model many times when I just want to know that someone is authenticated but without providing a mapping to the resource that is authenticated. There's nothing stopping you from putting just a straight up string or integer in that place. For example:

[code]

You could then generate your token like this:

[code]

The serializer in this case will just pass through whatever y

[2016-06-20 05:35] Gacnt opened #166 "I would like to make an OpenID strategy for Steam (steampowered.com)"
Is there any sort of starter kit for making a strategy, or do I need to basically copy pasta somebody elses strategy and change what needs to be changed, also does Guardian support OpenID as well?

[2016-06-20 07:49] Gacnt commented on #166
My mistake, didn't realize Ueberauth was a separate entity, thought it was all under Guardian. Opened issue over there.

[2016-06-20 07:49] #166 closed

[2016-06-24 18:47] nubunto commented on #159
Sorry.

Actually what I meant was how to show a page to everyone who isn't authenticated.
But I managed to solve it anyway.

Thanks and sorry again!

[2016-06-29 08:46] AlexKovalevych commented on #95
I guess this one is related: https://github.com/github/fetch#sending-cookies

[2016-06-29 12:44] andrejsm opened #172 "Function Map.put_new/2 is undefined or private"
Wrong arity here https://github.com/ueberauth/guardian/blob/v0.12.0/lib/guardian/claims.ex#L97

[2016-07-08 15:14] sanrodari opened #175 "I can't set iat claim as nil"
Reproduction steps:

[code]

[2016-07-08 21:34] doomspork commented on #175
I believe this is fixed via #173, could you confirm @sanrodari?

[2016-07-08 22:01] sanrodari commented on #175
Effectively @doomspork! 😃

mix.exs
[code]

iex
[code]

[2016-07-08 22:03] doomspork commented on #172
This was fixed by #169, we'll release a new version shortly.

[2016-07-08 22:03] #172 closed

[2016-07-08 22:03] doomspork commented on #175
This was actually fixed by #169, we'll release a new version shortly.

[2016-07-08 22:03] #175 closed

[2016-07-12 10:12] chrisalley opened #176 "Hexdocs page not found"
Going to <https://hexdocs.pm/guardian> produces a PAGE NOT FOUND error. <https://hexdocs.pm/guardian/Guardian.html> does work, however.

[2016-07-16 21:37] doomspork commented on #176
@chrisalley I've opened a PR to resolve this 👍

[2016-07-16 21:38] doomspork commented on #163
@srh-work can we close this issue?

[2016-07-16 21:39] doomspork commented on #78
Howdy @joshwlewis, any updates here? 😀

[2016-07-17 03:10] #163 closed

[2016-07-25 15:00] christiansakai opened #179 "Erlang debugger cannot inspect Guardian module"
I'm following this example to start Erlang debugger http://blog.plataformatec.com.br/2016/04/debugging-techniques-in-elixir-lang/

I noticed that other modules such as `Guardian.Plug.VerifyHeader` and `Guardian.Plug.LoadResource` can be inspected just fine but not the `Guardian` itself.

[code]

[2016-07-27 17:53] doomspork commented on #179
Thanks for bringing this to our attention @christiansakai.  I personally don't have much experience with the debugger so maybe @hassox or @scrogson can chime in.

If not, I'd be happy to take a peek at this later in the week.

[2016-07-29 08:22] ospaarmann opened #180 "Exclude some controller actions from authentication with Guardian.Plug.EnsureAuthenticated."
It would be great if one could exclude some controller actions from authentication when using Guardian.Plug.EnsureAuthenticated. For example in a UserController which also handles signups on the create action. I don't want it to be protected. Creating a special SignupController seems like a not so nice idea.

Something like this would be great:

[code]

[2016-07-29 17:55] #176 closed

[2016-07-30 02:12] AlejandroHuerta commented on #180
This took me a while to figure out myself but you can write it this way:

`plug Guardian.Plug.EnsureAuthenticated, [handler: MyApp.SessionController] when not action in [:create, :new]`

[2016-07-31 17:53] doomspork commented on #180
@AlejandroHuerta that's a good point.  That is almost certainly a more Elixir way of doing it.

[2016-08-01 05:43] AlejandroHuerta commented on #180
I should also add that what I posted works right now. @doomspork

[2016-08-01 15:06] doomspork commented on #180
@AlejandroHuerta right 😀  I've been working in Ruby too much lately and spaced on guards, thank you for saying something!  Guard is the more appropriate way to do this.

[2016-08-01 15:07] #180 closed

[2016-08-03 15:10] Neku opened #182 "Hexdocs not working for 0.12.0"

[2016-08-06 15:32] sntran opened #183 "Allow setting secret when verifying headers"
I have a JWT come from a third-party service (Auth0 in my case), that needs to be verified with a secret key. When this JWT is set in Authorization header, `Guardian.Plug.VerifyHeader` fails to verify the token.

I took a look at https://github.com/ueberauth/guardian/blob/master/lib/guardian/plug/verify_header.ex#L65 and saw that it used an empty params map. From what I understand, it won't verify

[2016-08-06 15:45] sntran commented on #183
I think I figure it out. Guardian does use the secret key in config to verify. Closing this.

[2016-08-06 15:45] #183 closed

[2016-08-08 17:23] doomspork commented on #182
Sorry @Neku, we'll be resolving this this week!

[2016-08-13 15:11] douglascorrea opened #184 "Passing params to connect is deprecated. Instead pass :params to the Socket constructor"
I'm using Guardian to authenticate my channels and I'm using it on socket.connect.

But I saw that the javascript console shows a message that passing parameters in connect is deprecated.

If I try to use :params in the socket constructor the out-of-box Guardian.Phoenix.Socket do not work.

Is there something I'm missing here or is it need a change in guardian to support passing parameters in Sock

[2016-08-16 07:38] raarts opened #185 "** (RuntimeError) Guardian is not configured, on linux only"
The same source tree builds just fine on OSX, but building from Linux (by mounting the source tree to a docker image) fails with the above message.

I also get the warnings below, but the first two occur in both cases.

[code]

[2016-08-16 09:27] raarts commented on #185
Please disregard. Problem was between chair and keyboard.

[2016-08-16 09:27] #185 closed

[2016-08-16 18:38] MillionIntegrals opened #186 "Should session id be renewed on sign_in/sign_out?"
Since guardian uses token stored in the session to authenticate user, should Guardian also renew session id by calling Plug.Conn.configure_session/2 with option renew: true?

I've tried to look into source of Guardian.Plug.sign_in to see if that's happening but I was not able to find it:

[code]

This seems to be a common advice: https://www.owasp.org/index.php/Session_Management_Cheat_Sheet#Renew

[2016-08-17 20:37] peuh opened #187 "Using a function in config causes exrm releases to fail"
According to the doc, one can do:

[code]

When importing the key this way, the generation of releases will fail with the following message:

`Cannot add file sys.config to tar file - [{error,{16,erl_parse,["syntax error before: ",["Fun"]]}}]`

The sys.config line causing the issue is:

`{secret_key,#Fun<erl_eval.20.50752066>}]}]},`

So in scenario where the JWK must be loaded from a pem file, it

[2016-08-17 22:56] doomspork commented on #187
Howdy @peuh!  Thanks for taking the time to report this.   Would you be open to implementing this functionality and updating the README?

[2016-08-17 23:49] peuh commented on #187
I can give it a try but I'm afraid I won't have time before the end of next week. Also, I've only been using elixir for a month, so my PR might be a bit rough around the edge and need some polishing. Would it work for you?

[2016-08-18 16:32] doomspork commented on #187
@peuh that's okay!  We're more than happy to help with feedback.

[2016-08-22 18:39] nambrot commented on #111
Has there been any progress on providing a solution for refresh tokens, or at least a recommended way of doing it yourself?

[2016-08-23 08:17] Hanspagh commented on #111
We are currently working on it.
But you can use encode_and_sign to create tokens with a 'refresh type' and a longer expire time.

`
claims = Guardian.Claims.app_claims
|> Guardian.Claims.ttl({60, :days})
`
`
{:ok, jwt, claims} = Guardian.encode_and_sign(resource, "refresh", claims)
`

Later you can verify that a token is a 'refresh token' and issue a shorter living access token.
`case Guardian.dec

[2016-08-24 23:35] adsteel opened #189 "Elixir 1.3.2 compiler errors"
When I try to compile 0.12 with Elixir 1.3.2, in a Phoenix 1.2 app, I get two errors:

[code]

[2016-08-24 23:36] adsteel commented on #189
Derp. Still learning to read the messages. This is not a bug it seems.

[2016-08-24 23:36] #189 closed

[2016-08-26 14:50] hollow opened #190 "no function clause matching in Guardian.jose_jwk/1"
Hi,

I've tried to get guardian up and running, initially following the tutorial at https://medium.com/peep-stack/building-a-performant-real-time-web-app-with-ember-fastboot-and-phoenix-part-2-5dd2f74c7f34#.xv7exan03

Meanwhile I have tried a lot of different things, read through the readme a couple of times, but no matter what i try, I always get the following error from guardian:

[code]

Am I m

[2016-08-29 03:28] GildedHonour opened #191 "Check if a user is authenticated"
After a user signed in:
[code]

how do I check on if they are authenticated in other places? Say,  a page "users/secret_page"  is avaialble only for authenticated users. When a user comes to that page, how do I check if they're authenticated?

[2016-08-29 07:10] simonh1000 opened #192 "erlang error: {:not_supported, [:ES512]}"
Just updated all my libraries and ended up with this error
[code]
I quick google search suggested there might be others in a similar situation See also https://github.com/potatosalad/erlang-jose/issues/24

[2016-08-29 07:25] simonh1000 commented on #192
Ok, so I had copied `allowed_algos: ["ES512"]` into my config at some stage, and it should now be `allowed_algos: ["HS512"]`

[2016-08-29 07:25] #192 closed

[2016-08-29 15:01] migore commented on #191
O just found this, it helped me. Hope it helps.
https://hexdocs.pm/guardian/Guardian.Plug.html#authenticated?/1

[2016-08-29 16:24] doomspork commented on #191
Hi @GildedHonour, have you looked at `Guardian.Plug.EnsureAuthenticated`?

https://github.com/ueberauth/guardian#guardianplugensureauthenticated

[2016-08-30 15:43] jaybrueder opened #193 "Cannot seem to attach permissions to JWT token"
Hi,

I have the following problem:

I want to include permissions inside my JWT token so that I can check for them later with `Guardian.Plug.EnsureAuthenticated`.

This is how my code looks:
# config.exs

[code]
# The controller that creates the JWT:

[code]
# My routes

[code]

So the idea would be that without the `admin: [:all]` permissions you would not be allowed to access any route inside th

[2016-08-30 16:52] GildedHonour commented on #191
Thanks. It doesn't support confirmations, user password recovering, email confirmation, locking users and so on?

[2016-08-30 17:26] doomspork commented on #191
@GildedHonour that functionality isn't provided by Guardian.  If you're familiar with the Ruby ecosystem Guardian is akin to Warden upon which Devise (and others) are built.

[2016-08-30 21:03] qgadrian opened #194 "Guardian.Plug.EnsureAuthenticated not working"
Hi, I was playing around with Guardian but can't make the plug *Guardian.Plug.EnsureAuthenticated* work within an api request.

Authentication seems to work fine, but maybe it's that the problem and not the plug itself. Every time I try to do a request to a controller using the plug, the error handler method _unauthenticated_ is called.

**router.ex**

[code]

**config.exs**

[code]

**authenticat

[2016-08-31 04:49] mjsisley opened #195 "Usage with Firebase?"
Thank you for creating this awesome project!

Does using Guardian with an external authentication service make sense, such as [firebase](https://firebase.google.com/docs/auth/server/verify-id-tokens)?

Basically the secret keys are stored at: https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

I am trying to authenticate subsequent requests with a JWT that has

[2016-08-31 05:01] mjsisley commented on #195
Nevermind...

It looks like `decode_and_verify` takes a Params map where the Secret Key can be passed so a Secret Key can be specified outside of Config. Didn't see this in any of the examples, should have looked at the source code first.

[2016-08-31 05:02] #195 closed

[2016-08-31 08:06] qgadrian commented on #194
I could make it work adding the realm to the plug in the _router.ex_

`plug Guardian.Plug.VerifyHeader, realm: "TestApp"`

Without explicitly declaring the realm, it just didn't work at all.

[2016-08-31 23:59] RomarioLopezC commented on #152
@potatosalad Hello, i have been using ES512 with your recommendation, and my guardian set up was working until i updated some deps. Do you know what is the cause?, my key is like this:

[code]

[2016-09-01 07:00] GildedHonour commented on #191
@doomspork what do you recommend to use as alternive of devise gem from Rails?

[2016-09-01 15:14] potatosalad commented on #152
Hey @RomarioLopezC,

This is due to the release of [`jose 1.8.0`](https://github.com/potatosalad/erlang-jose) which is more strict about which algorithms are allowed to be used with specific algorithms as mentioned in potatosalad/erlang-jose#24.

It should be resolved if you add the following line to your guardian configuration:

[code]

Let me know if you have any other issues.  Also, it may go w

[2016-09-01 16:06] hassox commented on #194
Hi @qgadrian. I usually use Bearer as the realm. If you don't declare a realm on your verify header plug it will assume

```AUTHORIZATION: <jwt>```

With the relam

```AUTHORIZATION: <realm name> <jwt>```

It's up  to the client to use the correct form that the server is expecting.

[2016-09-01 19:00] doomspork commented on #191
@GildedHonour as far I as know no one has built something like Devise for Elixir.  For my use-cases I roll my own functionality.

[2016-09-01 22:20] GildedHonour commented on #191
Thanks.

[2016-09-01 22:20] #191 closed

[2016-09-03 14:45] GildedHonour commented on #194
I want to create a helper method "current_user" and be able to use it in all templates, much like in Devise in Rails. There's a function "guardianplugensureauthenticated" Could anyone give me a pointer how to utilize it for that? There's no base controller in Phoenix where I can define current_user by calling "guardianplugensureauthenticated"

[2016-09-03 17:56] qgadrian commented on #194
@hassox Using the realm name it works fine. I'll check why without declaring a real it just don't work (maybe there is a default real name?).

@GildedHonour you can use at your controller methods the current user and the claims for an authenticated session. Check the readme, there you can see that you can use this

``def index(conn, params, user, claims) do
    # do stuff in here
  end``

[2016-09-04 03:36] GildedHonour commented on #194
@qgadrian in each action? I want to do that on a module level. Suppose, I want to restrict access to the whole controller UserDashboard for non authenticated users.

[2016-09-04 07:15] kevin-DL opened #196 "put_resp_header error after api_sign_in"
Hello,
I am going through the simple api authentication blog post.

When i try to insert the header in to the response i get the following error
`** (exit) an exception was raised:
    ** (FunctionClauseError) no function clause matching in Plug.Conn.put_resp_header/3`

My code looks like this

` defp update_user(conn, user, user_params) do

    changeset = User.changeset(user, User.format_info(us

[2016-09-04 08:26] qgadrian commented on #194
@GildedHonour You can use the plug `Guardian.Plug.EnsureAuthenticated` in your router.ex or in a controller, that's up to you.

I don´t know anything about views yet, I just started learning Elixir/Phoenix 5 days ago. You can ask at Stackoverflow that.

[2016-09-04 19:33] keithalpichi commented on #196
You're passing `exp` as an integer and not a string.
Fix it from this:
`Plug.Conn.put_resp_header(new_conn,"x-expires", exp)`
to this:
`Plug.Conn.put_resp_header(new_conn, "x-expires", "#{exp}")`

I'd also recommend to take advantage of the pipe operator like so:

[code]

I'm sure this this function is in a controller and is `__using__` the `:controller` behavior. So you don't have to prefix `put_

[2016-09-04 20:37] kevin-DL commented on #196
@keithalpichi Thank you that fixed it.
It might be necessary to update the blog post though  i am probably the only one who would not notice.
Closing the issue

[2016-09-04 20:37] #196 closed

[2016-09-05 00:03] keithalpichi commented on #196
@kevin-DL you're welcome. I agree with you. Hopefully the authors of the article see this issue and fix it.

[2016-09-05 00:07] keithalpichi commented on #190
@hollow What does your session controller look like? Mind posting it?

[2016-09-05 00:37] keithalpichi commented on #194
@qgadrian I usually set the realm to "Bearer" like so: `plug Guardian.Plug.VerifyHeader, realm: "Bearer"`.

How are you testing your controllers and sending requests? Are you sending valid JWT tokens through the "authorization" header?

@GildedHonour you can create a `current_user` helper function in a module then import it in the `web/web.ex` file under the `view` function like so:

[code]
That w

[2016-09-05 08:22] hollow commented on #190
@keithalpichi the controller is just a copy of https://gist.github.com/mike-north/efb910d4eca4909fe0dcbc054bc6043e#file-session_controller-ex with `Peepchat` replaced by `Api`. the stack trace above does not match 100% since I've played aroun with using `api_sign_in` and other methods, but the error is always the same in jose_jwk.

FWIW I've switched to auth0 and Joken for verification meanwhile .

[2016-09-05 15:17] hassox commented on #190
@hollow it seems like you might be missing a secret in your configuration

[2016-09-06 03:57] GildedHonour opened #197 "I can't get it to work"
I can't get it to work. In my session controller I'm doing this, it's a simplified version:

      def new(conn, %{.....}) do
        case verify_login_and_password(conn, login, pass) do
          {:ok, usr} ->
            Guardian.Plug.sign_in(conn, usr)
            |> put_flash(:notice, "you've signed in")
            |> redirect("/")

That's all what I have basically. In my application layout I

[2016-09-06 04:13] #197 closed

[2016-09-06 04:14] hassox commented on #197
@GildedHonour did you get it sorted?

[2016-09-06 05:11] GildedHonour commented on #197
Yes.

[2016-09-14 00:20] omin opened #200 "#_=_ is appended in URL after Facebook OAuth"
https://developers.facebook.com/blog/post/552/

Temporary solution is adding the following but you can still see the `#_=_` while the page is loading.
[code]

[2016-09-15 01:59] omin commented on #200
I'll move this over to https://github.com/hassox/phoenix_guardian

[2016-09-15 01:59] #200 closed

[2016-09-15 02:19] omin opened #201 "Documentations not available on Hex"
https://hex.pm/packages/guardian

![image](https://cloud.githubusercontent.com/assets/3143154/18536220/2b8eb564-7ab0-11e6-8e9d-0a7a30a28af7.png)

[2016-09-15 07:51] omin commented on #201
#182 duplicate.

[2016-09-15 07:51] #201 closed

[2016-09-15 09:29] omin opened #202 "Weird behavior after ecto.reset"
The following happens after a ecto.reset.
- `current_user` from `Guardian.Phoenix.Controller` returns `nil`
- `Guardian.Plug.logged_in?(conn)` returns `false`
- `Guardian.Plug.authenticated(conn)` returns `true`
- `plug Guardian.Plug.EnsureAuthenticated` gives me access to restricted path

When I login/logout everything works as expected again. Could someone give me some pointers on what might be

[2016-09-15 09:44] omin commented on #202
It was my configuration. I was missing `hooks: GuardianDb`

[2016-09-15 09:44] #202 closed

[2016-09-16 06:33] #194 closed

[2016-09-17 19:51] denisw opened #203 "Git master doesn't install in Phoenix 1.2 app"
When trying to install the git version of Guardian, I get the following error:

    Failed to use "phoenix" (version 1.2.1) because
      deps/guardian/mix.exs requires ~> 1.1.0
      Locked to 1.2.1 in your mix.lock

Is the library incompatible with Phoenix 1.2, or should `~> 1.1.0` maybe be `>= 1.1.0` or `>~ 1.1`?

[2016-09-18 17:32] kevin-DL commented on #203
It works for me.
https://github.com/kevin-DL/phoenix_vue_template

[2016-09-21 16:47] whitepaperclip opened #206 "UUID as primary key breaks Poison encoding"
From Phoenix (1.2.1) logs:

[code]

[2016-09-21 16:53] #206 closed

[2016-09-21 16:53] whitepaperclip commented on #206
Never mind! Anyone else who encounters this:

`@primary_key {:id, :binary_id, []}` should go *on top of*

`schema "users" do`

[2016-09-23 18:04] manuelsteiner opened #207 "Best way to set expires_in for API response?"
Hi,
sorry if this is not really the right place. It's rather an issue I'm not sure about how to tackle correctly.
My frontend requires an `expires_in` field in the response to a token request which is not the absolute expiration date but rather the relative time in seconds.

Is the correct way to handle this to read the default `ttl` from `config.exs` and convert whatever the `ttl` is to seconds o

[2016-09-27 14:38] SLOBYYYY commented on #187
I have the same issue. IMO this issue is related to `release` task than to guardian since `release` creates the sys.config file and therefore fails (due to negligence or on purpose) to evaluate the function in config.exs.

I was trying it with `exrm`, did not have time to take a shot at [https://github.com/bitwalker/distillery](https://github.com/bitwalker/distillery) (this is the official success

[2016-09-28 17:12] doomspork commented on #187
@SLOBYYYY interesting point, have you raised this issue over at `exrm` or `distillery`?

[2016-09-28 21:34] SLOBYYYY commented on #187
As you can see I did. You can close this since it comes up with all anonymous functions when you use a release plugin (`exrm` or `distillery`)

[2016-09-28 22:56] mitkins commented on #142
I'm having trouble implementing the part where the new token is stored in the session and the page continues without redirect. Here's the crux of my current implementation:

    jwt = conn.req_cookies["remember_me"]

    case Guardian.decode_and_verify(jwt) do
      { :ok, claims } ->
        if ( claims |> Map.get("typ") == "remember" ) do
          { :ok, remember_user } = load_resource( conn, c

[2016-09-28 23:23] doomspork commented on #187
Thank you @SLOBYYYY!!

[2016-09-28 23:23] #187 closed

[2016-09-30 15:43] doomspork commented on #207
@manuelsteiner this isn't something I've personally run into so your suggestion of working back from `ttl` sounds reasonable.  @hassox have you done anything like this?

[2016-09-30 15:44] doomspork commented on #203
@denisw could you create a sample project that reproduces your issue for us to look at?

[2016-09-30 15:46] doomspork commented on #193
@jaybrueder you should be using `Guardian.Plug.EnsurePermissions` to check permissions.  It sounds like there may be something misconfigured with your application with regards to how `Guardian.Plug.EnsureAuthenticated` is working.

Do you have an example project we could look at?

[2016-09-30 15:48] doomspork commented on #184
@douglascorrea there may have been a chance to Phoenix Sockets that warrants a Guardian change, do you have a project we could look at that demonstrates this error?

[2016-09-30 15:49] doomspork commented on #78
@hassox / @joshwlewis any updates here?  If there's no movement how about we close?

[2016-09-30 15:49] doomspork commented on #90
@aaronrenner / @hassox — any updates on this functionality and PR #120?

[2016-09-30 15:50] #182 closed

[2016-09-30 15:50] doomspork commented on #179
@christiansakai is this still an issue for you?

[2016-09-30 15:51] doomspork commented on #156
Closing this for the time being.  If this comes back up we can create a new issue for the enhancement.

[2016-09-30 15:51] #156 closed

[2016-09-30 19:56] christiansakai commented on #179
@doomspork not really, I figured out how to use Guardian with just printing out stuff to inspect. In terms of whether the erlang debugger still not able to inspect Guardian, yes.

[2016-10-01 15:05] manuelsteiner commented on #207
Thank you for the comment :)

[2016-10-02 07:57] AbdullahDahmash commented on #190
I had this problem I believe you followed the tutorial like this
[code]

I don't know why but this is producing some problems.
You need to separate it. In dev.exs and test.exs, type the dev secret key as following
[code]

in prod.exs, use the system environment
[code]

[2016-10-03 00:30] mitkins opened #209 "Automatic login using "Remember Me" token"
I'm trying to follow the advice in #142

I'm having trouble implementing the part where the new token is stored in the session and the page continues without redirect. Here's the crux of my current implementation:

    jwt = conn.req_cookies["remember_me"]

    case Guardian.decode_and_verify(jwt) do
      { :ok, claims } ->
        if ( claims |> Map.get("typ") == "remember" ) do
          { :ok,

[2016-10-03 13:17] nmqanh commented on #209
@mitkins I guess the code could be like this:

[code]
And in your pipeline, put your `MyApp.Plug.RememberMe` before `VerifySession`
Please try and see how it works 👍

[2016-10-04 01:33] hassox commented on #209
I think you want to run it after VerifySession, since the session should be used before the remember me version.

In general the idea is to find a token and verify it, or pass to the next plug to try and do the same.

Something like

[code]

I'm making some assumptions about your token types and ttls and stuff here but I think it shows what _I think_ the general approach should be.

I'd ultimately

[2016-10-04 12:08] mitkins commented on #209
Thanks @hassox. The above code works. The "typ" parameter in `decode_and_verify` just needed to be a map. @nmqanh based on @hassox's advice, I tried his solution first - thanks for taking the time though.

[2016-10-04 12:08] #209 closed

[2016-10-04 16:42] jeisenberg opened #210 "Cycling secret key causes error with matching clause {:error, :invalid_token}"
I noticed when we swapped out the secret_key in the config file, any logged in user would get an application error

`** (CaseClauseError) no case clause matching: {:error, :invalid_token}
lib/guardian/plug/verify_session.ex:29: Guardian.Plug.VerifySession.call/2`

This seems like it could be an easy fix by adding a third case clause in verify_session.ex to

[code]

[2016-10-05 16:19] alduro opened #211 "Can I verify a JWToken created by Auth0 ?"
Should I implement my own verify_module ?

config.ex

[code]

router.ex

[code]

verify module

[code]

[2016-10-05 16:25] hassox commented on #211
not sure what you're trying to achieve. Also, why use your client secret as a key in the verify header? That is not the secret that will be used, it's just a location in the assigns (allowing multiple sign ins at the same time). Whatever 'key' you use on your verify header module you use, you need to use that always - EnsureAuthenticated and LoadResource - need the same key. Usually the 'key' you'

[2016-10-05 16:28] hassox commented on #210
We should probably just catch all errors there rather than just an invalid token one. Did you want to get a PR together?

[2016-10-05 16:29] hassox commented on #207
Hey @manuelsteiner. Rather than using the ttl from the config, it's probably better if you read the exp field from the token and then subtract the current time from it.

[2016-10-05 16:39] enilsen16 commented on #211
I might be wrong but I think the idea is to use the token from auth0, rather than have guardian create it. Either way I am interested in this as well.

Right now I verify a correct response from auth0 and then have guardian create a separate token.

I added Auth0 login to the `phoenix_guardian` repo as an example. https://github.com/enilsen16/phoenix_guardian/tree/auth0

[2016-10-05 16:43] alduro commented on #211
@enilsen16 I was about to write the same thing. The token was created by Auth0 and I do need to use their secret key to decode it, get the sub, split it and loading the resource from Token. I cannot make it work yet.

[2016-10-05 17:02] enilsen16 commented on #211
@alduro are you using @sntran's `uberauth_auth0` package?

[2016-10-05 17:11] alduro commented on #211
@enilsen16 ah no. Any sample to check ?

[2016-10-05 17:15] enilsen16 commented on #211
Here's the repo for the package: https://github.com/sntran/ueberauth_auth0

The last two commits in my auth0 branch [here](https://github.com/enilsen16/phoenix_guardian/tree/auth0) are adding it to phoenix guardian.

[2016-10-05 17:17] alduro commented on #211
I just checked it out. The problem is I'm also interested in some other Guardian features like LoadResource based on sub payload. Well I dunno, maybe I can implement my own Plug.

[2016-10-05 17:25] enilsen16 commented on #211
I am using both(uberauth/guardian) and it seems to work just fine...

[2016-10-05 17:37] hassox commented on #211
In order to use the auth0 as a token that you're going to trust as your applications token, I think you'd have to set your secret key to be the same signing secret that the auth0 token was signed with. At that point, when you receive the auth0 token you put it into the session/conn assigns the same way that the sign_in function does and it should all just work.

Just work might be a bit of a stret

[2016-10-05 17:42] hassox commented on #193
@doomspork is correct. EnsurePermissions is what you want here. Also just a quick comment on the code you posted.

[code]

You don't need the call to `app_claims`. You can pass in perms directly - the `encode_and_sign` will populate the rest of the claims starting with app claims.

[code]

[2016-10-05 17:45] alduro commented on #211
Thanks guys ! I will check this out and let you know how it went before closing it I guess.

[2016-10-05 18:28] alduro commented on #211
No luck. I really appreciate any code sample applying directions above.

[2016-10-05 18:29] hassox commented on #211
@alduro is your project public? I don't actually use auth0 but if I could see some code it might help me identify what you're trying to do.

[2016-10-05 18:34] alduro commented on #211
@hassox no. I will create an small gist for sharing.

[2016-10-05 20:25] manuelsteiner commented on #207
Oh ok, thank you :) Will do it that way

[2016-10-05 20:26] alduro commented on #211
Sorry, any clue ? @hassox

[2016-10-05 20:58] alduro commented on #49
@ddcech can you please share your Guardian config part in config.ex ? I'm getting the same issue. Thanks !

[2016-10-06 09:24] ddcech commented on #49
@alduro I don't have that specific project anymore (it was 1 year ago), but I was using this example [phoenix_guardian](https://github.com/hassox/phoenix_guardian/tree/ueberauth-guardian) project.

[2016-10-06 12:06] douglascorrea commented on #184
@doomspork sorry about late answer I will setup a project to reproduce and ping you here.

[2016-10-06 12:11] alduro commented on #211
It was solved !
[code]
and in Serializer
[code]

[2016-10-06 17:31] pcewing opened #212 "Incorrect config example in README?"
Wanted to submit an issue to make sure this wasn't my own user error before making a pull request. In the README, one of the configuration examples is as follows:

[code]

The problem I am seeing is that `JOSE.JWK.from_file/2` returns a struct in the form of `{%JOSE.JWE{...}, %JOSE.JWK{...}}`, not just a `%JOSE.JWK{...}`.

[code]

I updated my own config to look along the lines of:

[code]

It's a

[2016-10-10 15:01] coryodaniel commented on #78
I came across this same issue/assumption last night? Any progress? If someone isn't actively on this, I wouldn't mind working on a solution tomorrow evening. LMK :D

[2016-10-10 15:54] doomspork commented on #78
@coryodaniel I say go for it!

[2016-10-10 18:00] coryodaniel commented on #78
@doomspork  should load resource have its own off air handler like ensure authenticated?

Also regarding ensure authenticated ... is that the best name for the module since it's technically ensuring the token is verified?

[2016-10-11 16:07] #211 closed

[2016-10-12 00:59] coryodaniel commented on #78
So I haven't created a PR, I solved it in my application first, curious how you guys see this integrated... Maybe its just another plug to be added?

[code]

[2016-10-12 18:22] kbredemeier opened #214 "Name collision using Guardian.Channel and Phoenix"
I am using phoenix v1.2.1 with ecto v2.0.5. I don't know if this issue existed before, but if I use `Guardin.Channel` in a phoenix channel I get the following error:

[code]

This is because in `web/web.ex` phoenix imports `Ecto.Query` wich also defines `join/3`.
Currently I am solving this by changing the import to `import Ecto.Query, except: [join: 3] in `web/web.ex` inside the channel function.

[2016-10-13 16:49] doomspork commented on #214
Thanks for the heads up @kbredemeier, we'll have to look into this!  @hassox have you run into this yourself yet?

[2016-10-13 16:51] hassox commented on #214
I haven't but it sounds like something that we should fix!

[2016-10-19 05:46] doomspork commented on #214
@kbredemeier do you want to take a stab at a PR?  If not either @hassox or myself can make the change.

[2016-10-19 18:35] denisw commented on #203
This seems to have been fixed by commit bfb31b4695383b883746a457f0bfead354c3f9c1. I am going to close the issue.

[2016-10-19 18:35] #203 closed

[2016-10-20 20:17] #214 closed

[2016-10-23 21:45] vic opened #216 "Move Plug and Phoenix code into another lib."
Quoting the README file: `Guardian remains a functional system. It integrates with Plug, but can be used outside of it.`. However if the app does not depend on Plug nor Phoenix, a warning is emitted upon Guardian compilation:

[code]

One solution would be to move the Plug and Phoenix specific code from Guardian into another package, say `guardian_plug`. However, as I guess most people are using G

[2016-10-26 07:32] omin opened #217 "How to add persistent login?"
I'd like to add persistent login so that the user stays logged in even after browser restarts. What would be a simple way to achieve this?

[2016-10-26 08:32] omin commented on #217
I was missing max_age in the endpoint...
[code]

[2016-10-26 08:32] #217 closed

[2016-10-26 08:58] OpakAlex opened #218 "Create normal examples, videos, etc"
Guys, please create normal blog posts, examples, how to do `phoenix.new` and create auth flow. It will be so nice, for children which comes from `rails` way :) Thanks!

[2016-10-27 10:14] michalmuskala opened #219 "Support {:system, VAR_NAME} idiom for secret_key"
It's a pretty common standard to support such a value in config for things that should be loaded from the environment. Secrets and seed values to algorithms are a common thing.

If you agree this would be useful, I can work on this.

[2016-10-27 14:34] doomspork commented on #219
@michalmuskala all for this!  @hassox created a package to support this and we just never got around to incorporating it: https://github.com/hassox/config_values

[2016-10-27 15:42] doomspork commented on #218
Hi @OpakAlex!  There are some links in the README for resources plus a few blog post floating around.  We're working on some more in-depth lessons now 😀

+ https://github.com/ueberauth/guardian#useful-articles
+ http://hassox.github.io/

[2016-10-27 15:42] #218 closed

[2016-10-28 02:13] coryodaniel opened #221 "Function references and anonymous functions are invalid in a sys.config"
I ran across an issue with generating an invalid `sys.config` file using a function reference or anonymous function as per the example:

[code]

Got the error when working with [distillery](https://github.com/distillery) but found an [issue on exrm](https://github.com/bitwalker/exrm/issues/230) discussion the problem.

I saw another [ticket](https://github.com/ueberauth/guardian/issues/212) refere

[2016-10-28 02:18] #219 closed

[2016-10-28 02:53] coryodaniel commented on #221
PR: https://github.com/ueberauth/guardian/pull/222

[2016-10-29 18:53] doomspork commented on #221
Thank you for the report @coryodaniel, I'll take a peek at your PR today 👍

[2016-10-29 19:51] enilsen16 opened #223 "Passing current_user to another application under an umbrella app"
Hi, I was wondering if you have any thoughts on how to pass the `current_user` around multiple phoenix apps inside of an umbrella?

In one controller --
[code]
This doesn't seem to pass the `:assigns` atom in `conn` around.

The goal is here is once I log in, as long as I have the necessary permissions, I won't need to reauth every time I navigate to a different app.

I can provide what my directo

[2016-10-30 23:06] enilsen16 commented on #223
Looks like I may have configured this incorrectly. 🙈

[2016-10-30 23:06] #223 closed

[2016-10-31 02:03] Dtatoo opened #224 "Testing a Controller using Guardian.Phoenix.Controller"
I have controller logics using Guardian.Phoenix.Controller plug however when I am trying to test the controller it seems to be defaulting to Phoenix Controller.

When I included `use Guardian.Phoenix.Controller` on top of test file I am getting the following error.
`** (CompileError) test/controllers/controller_test.exs:3: undefined function action_name/1`

Is there a way to configure test to use

[2016-10-31 19:50] roehst opened #225 "Authentication when resources are invalid works -- is this good?"
Hi, I am working on a test case where the token has a user serialized by its id, and the token is signed, but the user is does not exist on the database. For example the user might have been deleted from the database but the cookie still exists on the client, containing a valid token.

My current understanding is that authentication is dependent on the token, with resources being loaded only if re

[2016-11-04 00:13] coryodaniel commented on #221
@doomspork I added another test case for something I missed ^

[2016-11-08 18:32] doomspork commented on #225
Howdy @roehst!  This does work as intended for the reason you outlined.  Have you taken a peek at @hassox's other project GuardianDB?  It may provide some answers https://github.com/hassox/guardian_db

[2016-11-08 18:33] doomspork commented on #224
Hi @Dtatoo, do you have a project on GitHub I could look at?

[2016-11-08 20:18] Dtatoo commented on #224
The project is still under active development and marked as private. However I did create a copy and pasted version of controller and test I am using uploaded to Gist.
https://gist.github.com/Dtatoo/6d58933681a790bad43d5adbe8c76309

Let me know for whatever reason you would like to view the whole project. I am using basic Phoenix stack setup.

[2016-11-10 20:21] shantiii opened #226 "Release Schedule?"
As a user of guardian, it'd be really helpful to have a release schedule for guardian - so that I could know when/how often to check back and update my `mix.exs` dependency. This affects me moreso right now because I'm using bleeding edge features (I'm referring to master directly).  Do the maintaners see value in this? This ticket is mostly to open up discussion.

[2016-11-14 00:51] doomspork commented on #226
@hassox / @scrogson — do you have any thoughts on a release schedule?  I think they're useful but with volunteer open source I think it can be tricky.

[2016-11-21 22:57] proProbe opened #227 "refresh a token doesnt work correctly?"
Hello everyone!
Im quite confused over a problem Im currently having. Im somehow not able to refresh the tokens. More precisely, I believe that the token itself gets refreshed and is correctly sent to the client. When the client tries to use the token, its not actually working. My current setup looks like this:

[code]
the current route is piped through this:
[code]
To summarize, a `newly refreshe

[2016-11-22 15:58] proProbe commented on #227
this came suddenly quite urgent. anyone who knows a solution to this?

[2016-11-25 15:39] bobbypriambodo opened #228 "Verifying custom tokens?"
Hello, I have an API that uses [`Phoenix.Token`](https://hexdocs.pm/phoenix/Phoenix.Token.html) (not JWT, although similar) for authentication. Suppose a client have already logged in and retrieved the token, it will send requests with `Authorization: Bearer <token>` header. I was wondering if I could use guardian for verifying such requests and denying unauthorized ones.

I think something along

[2016-11-28 09:49] proProbe commented on #227
I solved this. Error from my side

[2016-11-28 09:49] #227 closed

[2016-12-03 21:53] doomspork commented on #228
@bobbypriambodo as-is Guardian will not work with Phoenix.Token.  While the `verify_module` allows you to configure the verification step, it is still relying on a JWT being decoded: https://github.com/ueberauth/guardian/blob/5f9488ab253a0ef6c7e97bb8184d8c7320dbbfd3/lib/guardian.ex#L227-L229

I'm not sure Guardian is the right place for this functionality seeing as we've built the library around J

[2016-12-04 05:44] bobbypriambodo commented on #228
Thank you for the answer, @doomspork. You are right that JWT will be more cross-platform compatible than Phoenix.Token, but sometimes (like in my use case) we only need basic token signing and verifying mechanisms without extra deps, and Phoenix.Token fits the bill nicely. I was wondering if all the niceties of Guardian (`VerifyHeader`, `EnsureAuthenticated`, etc.) will work with it. I end up writ

[2016-12-04 05:44] #228 closed

[2016-12-05 14:57] madshargreave opened #230 "Setting cookies for other domains"
Hi

I have a third-party JS script that my customers can install on their site to track their own users.

Previosuly I have been using localstorage for this purpose, but that does not work cross-domain, so now I am looking into using cookies.

I have however not been able to find a way to set the domain on the cookie (which AFAIK is required when setting cookie for another domain)

Is this possibl

[2016-12-10 16:01] steffenix commented on #78
Did you guys found a way to do it?

[2016-12-11 04:17] #152 closed

[2016-12-11 04:18] #179 closed

[2016-12-11 04:18] #193 closed

[2016-12-11 04:18] #190 closed

[2016-12-11 04:19] #225 closed

[2016-12-11 04:19] doomspork commented on #226
We're not going to worry about release schedules for the time being.  When we get to 1.0.0 we can reconsider them.

[2016-12-11 04:19] #226 closed

[2016-12-11 04:22] doomspork commented on #78
@steffenix we haven't added anything to the library to handle this, others have found their own solutions.  If you or @coryodaniel want to open a PR, we can discuss the implementation 👍

[2016-12-15 01:16] aislanmaia commented on #49
Hey guys, I'm authenticating in my client and trying to logout putting the Authorization: Bearer ${`localStorage.token`} but the server is returning:

(KeyError) key :plug_session not found in: %{Api.Router => {[], %{}}, :guardian_default_claims => {:ok, %{"aud" => "User:1", .... etc }

Any ideas ?? Thanks in advance.

[2016-12-15 02:08] aislanmaia commented on #49
Forgive me, I've achieved my goal just following what Daniel Neighman suggested in your [blog post.](http://hassox.github.io/elixir/guardian/2015/06/30/api-authentication-with-guardian.html) on the last post comment.

[2016-12-16 21:27] ericsullivan opened #236 "Timeoutable"
I'm creating a timeoutable module. It's really just a plug, and a hook into after_sign_in

I had a couple questions.
1) Is it worth adding that to Guardian? If not, is guardian_timeoutable an acceptable name?

2) The hook only needs to fire when there's a session. I think I can use
[code]
But that seems a little iffy... There are two functions that call the hook, Guardian.Plug.api_sign_in and Guar

[2016-12-16 21:42] ericsullivan opened #237 "Confirmable / Approvable"
One more question :)

I'm also creating a module that requires a user is approved before they log in. These same questions apply to confirmable or any other sort of hook that prevents login if a condition isn't met on the user. I was going to use a plug and hooks

for the plug, is the best way to use the pattern in VerifySession? Namely:
[code]

and for the hook
[code]

[2016-12-20 20:03] kenips opened #239 "Release 0.13.1"
It seems like 0.13.1 is not released but documented in changelog as a release? I'm running into #221 and would appreciate a release. Thanks!

[2016-12-20 20:57] mariusbutuc commented on #239
`0.13.1` is [the one currently declared](https://github.com/ueberauth/guardian/blob/5f9488ab253a0ef6c7e97bb8184d8c7320dbbfd3/mix.exs#L4), but there is no tag/release for it.

If #222 is the working fix for #221, releasing `0.13.1` would be amazing! 😸

Thanks @hassox, @doomspork, @scrogson & Co. ✌️

[2016-12-21 19:15] doomspork commented on #239
@kenips / @mariusbutuc — I'm going to cut 0.14 this weekend with a bunch of changes and bumping the Elixir version to 1.3.

[2016-12-25 07:32] yuchunc opened #242 "Throwing "no case clause matching" when use with GuardianDB"
Hi, I upgraded the to the latest Guardian package, and ran in to this exception:

[code]

after some digging into the code I think it's a miss match between:

GuardianDb's [after_encode_and_sign] (https://github.com/hassox/guardian_db/blob/master/lib/guardian_db.ex#L77)

and

Guardian's https://github.com/ueberauth/guardian/blob/master/lib/guardian.ex#L105

If we just tweak the pattern a little bi

[2016-12-25 07:39] yuchunc commented on #242
Apologies if I didn't do the pull request right, I am not familiar to the proper way of contributing to a project.
Please let me know if I'm missing anything, I will patch it.

[2016-12-28 15:59] mariusbutuc commented on #239
With [v0.14.0](https://github.com/ueberauth/guardian/releases/tag/v0.14.0) released, we might be good to close this.

[2016-12-28 15:59] doomspork commented on #239
Thank you @mariusbutuc 👍

[2016-12-28 15:59] #239 closed

[2016-12-29 20:34] doomspork commented on #242
Thanks for the report @yuchunc 👍   I'll take a peek at your PR today.

[2016-12-30 20:06] jamesvl commented on #242
Yep, I'm getting the same thing. Applying PR #243 fixed it locally. (Until it's merged I can't use it in my CI system, of course.)

[2017-01-02 02:49] #242 closed

[2017-01-03 09:59] koriroys opened #245 "Can't set custom serializer when generating token"
I noticed that you can override the default serializer when you call `Guardian.Plug.LoadResource`, but you can't override it when you create the original token (`Guardian.Plug.api_sign_in`, `Guardian.Plug.sign_in`, `Guardian.encode_and_sign`). I can see having two or more different resources to load in a single app. In that case, would you want separate serializers for each resource? Would this be

[2017-01-03 19:51] jamesvl commented on #242
Any idea on when you'll cut a new release for hex.pm? This will remain broken for anyone until then.

[2017-01-03 20:20] doomspork commented on #242
@jamesvl I intend to cut a new release today but in the meantime you can use `master`:

[code]

[2017-01-03 20:24] doomspork commented on #212
@pcewing some changes have been merged into Guardian that should improve how this works.  If you'd like to submit a PR to further clarify in the README that would be welcomed 👍

[2017-01-03 20:24] #212 closed

[2017-01-03 20:24] #221 closed

[2017-01-03 20:28] doomspork commented on #242
0.14.1 has been released.

[2017-01-04 13:08] collegeimprovements commented on #242
Hi, I got this error even after the upgrade. I got the same error with `0.14.1`.

[2017-01-04 16:34] madshargreave opened #246 "Authenticating socket with cookie"
Hi

I am currently using the authentication scheme for HTTP requests and websocket communication.

I am storing a cookie in the browser using Guardian which works fine.

When it comes to sockets, I see that I must pass in the JWT explicitly, which is a problem due to the cookie being HTTP only.

How do I get around this?

[2017-01-04 18:44] NilsLattek opened #247 "Calling encode_from_hooked causes error after recent commit"
Commit 1deca7f8cb11ca8918892e977444599d7ac4f37b changed the pattern matching in guardian.ex line 100 from ```:ok``` to ```{:ok, _}```:
[code]

But the default return value of the ```after_encode_and_sign``` is still just ```:ok```, so we get the error ```no case clause matching: :ok```.
hooks.ex:
```def after_encode_and_sign(_, _, _, _), do: :ok```

[2017-01-05 02:58] geofflane commented on #247
+1 Seeing this as well.

[2017-01-05 16:56] #247 closed

[2017-01-05 16:58] doomspork commented on #242
@larryweya / @collegeimprovements / @NilsLattek — a fix has been merged into master, before I cut a new release could one of you please verify that master is working for you?  I'm currently traveling and don't have everything I need to smoke test it.

[2017-01-05 22:48] Ch4s3 commented on #242
@doomspork I was having the same problem and using `{:guardian, github: "ueberauth/guardian"}` fixes it for me.

[2017-01-06 08:43] larryweya commented on #242
@doomspork works for me too.

[2017-01-06 16:22] blatyo commented on #247
Could you also retire this version or release a new version? Right now, if you don't fix the version to 0.14.0, you'll hit the issue.

https://hex.pm/docs/tasks#hex_retire

[2017-01-06 17:07] doomspork commented on #242
Thank you @Ch4s3 and @larryweya 👍

[2017-01-06 17:09] doomspork commented on #242
I've released 0.14.2, hopefully this resolves everyone's issues.  The ueberauth org is taking over GuardianDB maintenance so I'll be putting some time into clean-up in the coming weeks.

[2017-01-06 17:25] doomspork commented on #247
0.14.2 has been released.  I'll retire 0.14.1 later today.

[2017-01-07 06:20] jacktang commented on #242
I am facing the same problem and 0.14.2 works fine

[2017-01-07 19:31] Ch4s3 commented on #242
Can confirm, 0.14.2 works

[2017-01-11 09:43] smoes opened #251 "Prevent reuse of cookie to authenticate after logout"
Recently, we had a professional pentest company checking our application. One security flaw in our application is that a former properly authenticated user-cookie can be used to be re-authenticated even after logout (`via sign_out`), without using the official login-route (by simply injecting it into the browser).

Is it possible to prevent such a re-authentication using "cookie-injection" of a fo

[2017-01-13 02:20] hykw opened #252 "dialyzer warns for sign_in/4"
When I use dialyzer, it warns like the following.

[code]

The functions, I confirmed, it cause the warning are these(both of them are warned).

[code]

I confirmed it in guardian 0.14.2 and dialyxir 0.4.3.
The test code is here: https://github.com/hykw/guardian_dialyzer_specimen

In the following method, sign_in/3 and sign_in/4(the forth param is just %{}) emits no warning, but in case the last o

[2017-01-13 09:38] hykw commented on #252
The warning I pasted was run in Erlang 18.2.1
In an Erlang 19.2 environment, the warning differed like below

[code]

[2017-01-14 15:24] asummers opened #253 "Dialyzer Callback Return Type - Hooks"
It seems the hooks module has callbacks listed that only return `{:ok, stuff}` when the code is capable of handling `{:error, reason}` tuples, as well. This is causing Dialyzer to fail for us when we use GuardianDB. I think the solution is simply to add a `| {:error, atom}` to all the callbacks.

[2017-01-14 16:25] doomspork commented on #251
Hi @smoes, have you taken a look at the [GuardianDB](https://github.com/ueberauth/guardian_db) project?  With GuardianDB you can track tokens and prevent playback

[2017-01-14 16:34] doomspork commented on #245
Howdy @koriroys, the `:serializer` was introduced in an earlier PR for the purpose of making testing easier: https://github.com/ueberauth/guardian/pull/188#issue-172057601

In my applications I rely on a single serializer for all of my resources because it keeps things in one place and there's rarely much logic to them.

[2017-01-14 16:35] doomspork commented on #78
This has been handled via #238

[2017-01-14 16:35] #78 closed

[2017-01-14 16:53] doomspork commented on #184
@douglascorrea any updates or can I close this ticket?

[2017-01-14 16:54] doomspork commented on #216
@vic while I agree a warning is not pretty but I'm not sure if it warrants a wholly separate library.  @hassox do you have any thoughts?

[2017-01-14 16:58] #207 closed

[2017-01-14 17:01] #245 closed

[2017-01-14 17:03] doomspork commented on #236
Howdy @ericsullivan!  As of now there is no plans to expand the scope of Guardian but I have no objections to your using that package name.  We can create a section in the README/Wiki for Guardian plugins, does that seem reasonable to you?

Any thoughts @hassox?

[2017-01-14 17:05] doomspork commented on #237
This seems reasonable to me @ericsullivan 👍

[2017-01-14 19:30] smoes commented on #251
Oh actually we have not!
Looks good, thank you for the advice @doomspork . We will have a look at it, but at a first glance it seems to be exactly what we needed!

[2017-01-14 19:39] doomspork commented on #251
You're welcome @smoes! 👍

[2017-01-14 19:39] #251 closed

[2017-01-14 19:39] #237 closed

[2017-01-14 19:39] #236 closed

[2017-01-14 22:23] hassox commented on #251
@smoes this was the reason we developed guardian db. By tracking all the issued valid tokens sign out will revoke them. Part of the challenge of using JWT is that they are essentially untracked unless you do it in your app and will stay valid until they reach expiry.

[2017-01-15 01:54] doomspork commented on #252
Thanks for the report @hykw, I'll take a look 👍

[2017-01-15 16:38] vic commented on #216
Yep I know, just was used to having nicely clean builds, but now with elixir 1.4 almost any dep I have has some warning (regarding the `()`) hopefully some day I'll have my eyes clean of warnings. :D cheers !

[2017-01-16 11:30] douglascorrea commented on #184
Hi @doomspork sorry, I really forgot this. Please go ahead and close it, as soon I get time to create a project to reproduce it I ping this issue and we re-open it if necessary.

[2017-01-16 11:30] #184 closed

[2017-01-17 02:26] lukerollans opened #258 "Umbrella app configuration"
I was just wondering if it was possible to configure Guardian on a per app basis in the context of an umbrella?

In my umbrella, I have two apps which both define a unique User resource which are handled independently as far as authentication is concerned. I've had to create another app in the umbrella to handle serialization (via Guardian) which depends on the two aforementioned apps.

Because of

[2017-01-17 05:04] #186 closed

[2017-01-17 05:06] #216 closed

[2017-01-17 22:49] artukrap opened #259 "How to logout user after Guardian.Plug.api_sign_in"
Hi.
I have situation where I do Guardian.Plug.api_sign_in and then I would like to built logic, that discards JWT token and it's not usable again if users makes /logout

[2017-01-17 22:50] hassox commented on #259
Hi @artukrap,

If you're using GuardianDb to track the token in your logout function you need to revoke the token. If you're not tracking the token with something like GuardainDb then just throw the token away.

[2017-01-17 23:09] artukrap commented on #259
@hassox I am using postgres and your package. What you mean throw away? For example, when I revoke token, I am able still use it and access system.

[2017-01-18 13:41] asummers opened #260 "API Sign Out"
Is there a purposeful omission of this function? In general I could see the argument that signing out a JWT in an API fashion doesn't make quite as much a difference, because the JWT will continue to exist on the client, potentially. However, in the context of something like GuardianDB, it would make sense. Given that the hooks exist around signing out, and there exists `api_sign_in`, `sign_in` an

[2017-01-18 17:26] artukrap commented on #260
@asummers Agree with you and would love to see this functionality

[2017-01-18 17:32] doomspork commented on #260
@asummers I do not believe that was left out intentionally (@hassox?), if you'd like to open a PR with that addition that'd be stellar 👍

[2017-01-18 21:00] hassox commented on #259
@artukrap if you're using GuardianDb then revoking will cause the system to revoke it (Guardian db keeps a record of all issued tokens). If you're not using Guardian Db or something similar to track all issued tokens then there is no way to revoke them. A JWT is valid until it expires. The only way to revoke a still active token is to keep a record of it and when it's revoked, mark it as no longer

[2017-01-19 11:26] artukrap commented on #259
@hassox For now I have postgres database. So it means, this package https://github.com/ueberauth/guardian_db goes on top of all that and then I will be able to revoke normaly tokens?

[2017-01-20 08:53] artukrap commented on #259
@hassox Yes, not revoke works as expected.

[2017-01-20 08:53] #259 closed

[2017-01-20 13:18] asummers commented on #253
This is now closed after having #256 merged into master 👍

[2017-01-20 13:18] #253 closed

[2017-01-24 15:47] Moxide commented on #260
In my apps, I use ```Guardian.revoke!```, isn't it what you're looking for ?

[2017-01-24 15:53] artukrap commented on #260
@Moxide Yes, it's same. I guess here we talk more about convention and helper function.

[2017-01-24 15:54] Moxide commented on #260
Oh ok, I read the initial post too quickly ;-)

[2017-01-24 21:16] avocade commented on #210
👍

[2017-01-25 12:21] asabil opened #261 "Guardian.refresh! should be Guardian.refresh"
Guardian.refresh! doesn't raise an exception, thus should not have the bang.

[2017-01-26 00:35] #210 closed

[2017-01-26 00:35] doomspork commented on #261
Good catch @asabil!  This will be a major breaking change so we'll need to think about how to approach this.

[2017-01-27 02:55] asummers opened #262 "Control Flow of Library"
For various reasons, GuardianDB didn't quite work out of the box for our use case, so I've been bouncing around the library for the past few days debugging various things. One thing that was really hard to do, though simple in nature, was actually traverse calls of the various plugs, hooks, etc. It became very hard to recall where you came from exactly, as things seemed almost cyclic in nature, wi

[2017-01-27 03:33] doomspork commented on #262
@asummers thanks for opening this!  @hassox and I have been discussing what v1.0 would look like lately and this is certainly something to take into consideration.

[2017-01-30 21:53] Grafikart opened #263 "Verify registered claims like "exp""
Hi, I'm using guardian with JWT and I want to know if the library contains a way to force registered claims to be filled. For instance reject claims without `exp`. I created my own `plug` but I wanted to be sure Guardiant doesn't handle this already (couldn't find anything in the documentation about this).

[2017-01-30 21:57] hassox commented on #263
Hi @Grafikart

Guardian comes with the ability for you to specify your own module to check claims. In the configuration it is:

[code]

This is a simple implementation of the `Guardian.ClaimValidation` behaviour. If you require different or more stringent checks on claim validation you can `use Guardian.ClaimValidation` and overwrite the `validate_claim` function to do what you need. https://githu

[2017-01-30 21:58] Grafikart commented on #263
Thanks

[2017-01-30 21:58] #263 closed

[2017-02-05 19:59] jonathanraes opened #266 "Cant get current user from the connection"
Hi,
Ive set up guardian and am able to log in to my app.
When I apply the EnsureAuthenticated plug, I can only acces the resouce when I'm logged in.

However, I cant seem to get acces to the current user.
`Guardian.Plug.current_resource(conn)` returns nil,
The user parameter in my controller functions when i put: `use Guardian.Phoenix.Controller` in my Controller, is also nil.
The token I can get

[2017-02-05 21:48] jonathanraes commented on #266
Im not sure how, but now it seems to work, I was playing around with the claims and pulling the user directly from the Serializer. I got that to work and then I realized that my user parameter got populated also (current_resource also works).

[2017-02-05 21:48] #266 closed

[2017-02-06 13:05] jonathanraes opened #267 "Testing browser sign-in"
Hi,
Im was following the guide mentioned in the readme for implementing the browser login.
I get it to work but when I try to test it I get errors.
I used the helper function they gave:
[code]

The problem is, at the line   |> Guardian.Plug.sign_in(user, token, opts) I get the error,
** (Plug.Conn.AlreadySentError) the response was already sent, specifically when its trying to put something in the

[2017-02-06 18:50] bryanjos opened #268 "Using a claim other then "sub" in LoadResource"
I have a project where I am given a JWT from Auth0. The claim that contains the value used to find a user is not in `sub` so we could not use LoadResource as is. I wanted to know if it makes sense to make the claim that LoadResource looks for customizable? If so, I can make a PR for it.

[2017-02-12 17:50] doomspork commented on #267
Hi @jonathanraes, isn't the `get("/")` performing a request?  This is the code I use in my test helper for sign in:

[code]

[2017-02-12 17:51] doomspork commented on #268
Thanks @bryanjos!  I don't see any issues with this being customizable so long as we retain a san default.  @hassox any thoughts?

[2017-02-15 22:09] ghoshnirmalya opened #269 "How does this library work?"
This is rather for a discussion than an issue. Feel free to close it if this seems the wrong place to ask this doubt.

I've used `ueberauth` for my login with Google. Now, after signup/signin, I'm generating a token and send it as the response.

Now, for my `api_auth` pipeline which is only for the authenticated users, I'm using `plug Guardian.Plug.EnsureAuthenticated` in my controllers.

1. Will

[2017-02-16 03:00] ghoshnirmalya commented on #269
Okay. So, I made the login to work and now, I can only see my authenticated routes after I provide the `Authorization: Bearer <jwt>` in the header. But, I can't make the sign out to work. I know that I can just forget the token from the client itself but how can I remove the user from the session in the API itself.

Also, do you suggest using [guardian_db](https://github.com/ueberauth/guardian_db)

[2017-02-23 01:45] mikeni opened #270 "Where is the jwt token or claim stored in assigns?"
In the docs, for Guardian.Plug.api_sign_in, it mentions that the jwt token or claim data is stored in assigns,
https://github.com/ueberauth/guardian/blob/master/lib/guardian/plug.ex#L135

I don't see it under assigns, however I do see it storing in
conn[:private][:guardian_default_claims]
and
conn[:private][:guardian_default_jwt]

are we supposed to look in assigns or private for jwt data?

[2017-02-23 17:17] mikebaldry opened #271 "Testing phoenix channels: current_resource in channel test?"
I'm testing a socket with the standard `subscribe_and_join` method, but I've got no idea how to set the authenticated user of the socket in the test, as predicted, `current_resource(socket)` returns `nil`... Any pointers? I can't find any documentation on this

Many thanks and great work 👍

[2017-02-23 17:41] mikebaldry commented on #271
I've just found `set_current_resource` which looks like just the ticket, it sets the assigns correctly, but when I actually get inside my `handle_in`, the assigns is empty again?

[2017-03-01 10:00] hopewise commented on #180
Writing in this way:

    plug Guardian.Plug.EnsureAuthenticated, [handler: MyApp.SessionController] when not action in [:create, :new]

I got error:

[code]

[2017-03-01 15:41] ckruse commented on #209
So, how do I set a remember_me cookie with this code?

[2017-03-01 16:19] ckruse commented on #209
Nevermind, got it working, thanks :)

[2017-03-04 16:40] t4t5 opened #273 "Not compatible with Phoenix 1.3"
Using the new Phoenix 1.3-rc, I get the following message when I try to install Guardian:

[code]

[2017-03-05 02:51] DisruptiveMind commented on #273
you can try to just override the phoenix dependency with `override: true` so inside your `mix.exs`:

[code]

[2017-03-05 15:49] doomspork commented on #273
Thank you @t4t5.  Since 1.3 is still a ways off, I don't believe we'll be making any changes here just yet. Please try @DisruptiveMind solution.

[2017-03-05 15:49] #273 closed

[2017-03-06 02:51] kokolegorille opened #274 "does not load with phoenix 1.3.0-rc.0"
While playing with phoenix 1.3.0-rc0, I added guardian dependency. It gaves the error:

guardian (versions 0.14.0 to 0.14.2) requires ~> 1.2.0

Just to mention for those using cutting edge...

[2017-03-06 06:35] gregstula-autoreleasepool commented on #274
I too ran into this issue on a new 1.3 project. I was surprised to see it not work

[2017-03-06 21:33] doomspork commented on #274
This has been addressed in a prior issue: https://github.com/ueberauth/guardian/issues/273

[2017-03-06 21:33] #274 closed

[2017-03-08 00:22] scrogson commented on #271
@mikebaldry some examples of your current usage would be helpful.

[2017-03-08 00:33] scrogson commented on #270
@mikeni that is a typo. The `claims`, `token`, and `current_resource` are set using `Plug.Conn.put_private/3`.

However, you should not generally rely on those implementation details. Each of those fields has a public API:

[code]

[2017-03-08 00:33] #270 closed

[2017-03-08 12:31] EvertYipYip opened #276 "Phoenix 1.3"
Dependency resolution fails with elixir 1.3

`Failed to use "phoenix" (version 1.3.0-rc.0) because
  apps/.../mix.exs requires ~> 1.3.0-rc
  guardian (version 0.14.2) requires ~> 1.2.0
  phoenix_live_reload (version 1.0.8) requires ~> 1.0 or ~> 1.2-rc`

[2017-03-08 15:26] doomspork commented on #276
@EvertYipYip this is now the third issue created for 1.3, please check the previous issues: https://github.com/ueberauth/guardian/issues/274

[2017-03-08 15:26] #276 closed

[2017-03-08 18:42] scrogson commented on #246
@madshargreave is this question directed at Phoenix Channel socket authentication?

If so, there are a couple of options for this:

* Create a normal HTTP API endpoint on the server that a client can use to fetch a token based on the value in the cookie.
* Render a token into the DOM and query it with JS.

Because Phoenix Channels were designed to not be coupled to browsers, cookie-based authentic

[2017-03-08 18:42] #246 closed

[2017-03-08 23:38] scrogson commented on #269
Hi @ghoshnirmalya,

Yes, GuardianDB is recommended for preventing replaying of tokens. You can read a bit more about that [here](http://blog.overstuffedgorilla.com/simple-guardian-api-authentication/). The very last section of that post has a good explanation of why it's necessary.

Hope that helps.

[2017-03-08 23:38] #269 closed

[2017-03-08 23:39] scrogson commented on #268
@bryanjos this sounds like a good idea to me. PR welcome.

[2017-03-09 04:41] scrogson commented on #260
I think I would prefer to see `api_sign_in` removed in favor of a single `sign_in` with a `session: false` option. `api_sign_out` doesn't seem to make any sense to me.

[2017-03-09 04:42] scrogson commented on #261
👍

[2017-03-09 04:47] scrogson commented on #230
@madshargreave sounds like you are looking for the `domain` option on `Plug.Session`: https://hexdocs.pm/plug/Plug.Session.html#module-options

[2017-03-09 04:47] #230 closed

[2017-03-09 04:50] scrogson commented on #258
Definitely agree here. The current configuration for Guardian is subpar as it is only available globally. This is something we are planning to change for a 1.0 milestone.

[2017-03-09 05:23] scrogson commented on #270
@mikeni I've pushed this commit https://github.com/ueberauth/guardian/commit/68412b72fc5b1f9bd4203729debdd02ac4ffec9a to hopefully remove the confusion about `assigns` vs. `private`.

[2017-03-09 06:12] mikeni commented on #270
@scrogson thanks for clearing that up

[2017-03-09 06:32] scrogson commented on #153
Fixed by https://github.com/ueberauth/guardian/pull/164

[2017-03-09 06:32] #153 closed

[2017-03-09 06:40] scrogson commented on #224
@Dtatoo this error is due to including `use Guardian.Phoenix.Controller` in your test file. This module is only intended to be included in your controller module as it simply overrides the default `action/2` function which is injected by Phoenix.

Removing [this line](https://gist.github.com/Dtatoo/6d58933681a790bad43d5adbe8c76309#file-clinic_controller_test-exs-L3) should get you passed the error

[2017-03-09 06:40] #224 closed

[2017-03-09 06:53] scrogson commented on #267
@jonathanraes do you have hooks defined? `Guardian.Plug.sign_in` calls `hooks_module.after_sign_in` last:

https://github.com/ueberauth/guardian/blob/master/lib/guardian/plug.ex#L125

The default functionality is to just return the `conn`:

https://github.com/ueberauth/guardian/blob/master/lib/guardian/hooks.ex#L14

If you have it set to to send a response in a hook, you will probably need to defi

[2017-03-09 06:59] scrogson commented on #262
@asummers thank you for your feedback. We will be pushing towards 1.0 soon and have been in discussion about making things better in many areas. Simplifying the API is a huge priority for us.

[2017-03-09 06:59] #262 closed

[2017-03-09 07:27] scrogson commented on #252
This appears to have been fixed in #256

[2017-03-09 07:27] #252 closed

[2017-03-09 21:14] scrogson commented on #260
Closing for now.

[2017-03-09 21:14] #260 closed

[2017-03-14 16:23] illyas3 opened #277 "Add support for latest Phoenix release (version 1.3.0-rc.0)"
I have upgraded to the latest phoenix release version 1.3.0-rc.0, however when run `mix deps.get` I keep getting error `Failed to use "phoenix" (version 1.3.0-rc.0) because
  guardian (version 0.14.2) requires ~> 1.2.0`
Is it possible to add support for latest release?
Thanks in advance!

[2017-03-14 16:24] #277 closed

[2017-03-14 16:26] illyas3 commented on #277
Was addressed by others already in [#273](https://github.com/ueberauth/guardian/issues/273)

[2017-03-14 22:20] egeersoz opened #278 "Placing Guardian tokens inside HttpOnly cookies and reading them from there"
[I posted this on Stackoverflow](http://stackoverflow.com/questions/42796602/placing-guardian-tokens-inside-cookies-and-reading-them-from-there), but I figured I would ask it here as well.

Essentially, I'm trying to store Guardian jwts inside `HttpOnly` and `Secure` cookies when sending them to the front-end, and performing the verification by reading them from those cookies for incoming requests

[2017-03-14 22:25] hassox commented on #278
Hey. I believe what you're describing is session auth. In your browser pipeline if you use the verify session plug it should pick it up. You'll also need to use the Guardian.sign_in function to make sure your token goes into the session.

Please let me know if that is unclear.

[2017-03-15 00:06] hassox commented on #278
Are you using an spa using fetch, maybe even over CORS? You may need to tell the call to fetch to include the credentials

[2017-03-15 01:04] egeersoz commented on #278
Yes, using an SPA, with [CORSPlug](https://github.com/mschae/cors_plug) configured on the endpoint to accept the SPA's origin.

I included the credentials in the http call, but still getting 401 - Unauthenticated. Maybe there are no credentials to include? I mean the browser doesn't have any cookies, so I'm not sure where it would get the credentials from.

I don't think we're going in the right t

[2017-03-15 01:08] hassox commented on #278
Can you show the chrome/safari request/response headers you're seeing on your client? (from the dev environment) in the network headers tab? I'd like to see if it's getting to the client. From memory sessions are flushed just before the response is sent in plug.

[2017-03-15 01:27] egeersoz commented on #278
Login response from the server:

[code]

Following request to /api/account:

[code]

Headers of the 401 Response from the server:

[code]

[2017-03-15 01:33] hassox commented on #278
Thanks so much. So looking at the cookie that you've provided that actually made it back from the sign in response I pulled it apart to see what was there.

[code]

I don't believe you have a problem getting the session from the server to the client. It seems to be the other way.

When using `fetch` and you want to use the session with cors I've always found that I need to explicitly instruct `fet

[2017-03-15 01:38] egeersoz commented on #278
Yes, I'm already doing that (not with Fetch, but rather [Vue Resource](https://github.com/pagekit/vue-resource/blob/develop/docs/http.md)):

`this.$http.get("http://localhost:4000/api/account/", {credentials: true}).then(/* ... */)`

That's getting me 401 unauthorized.

[2017-03-15 01:42] egeersoz commented on #278
If I remove `Plug.Guardian.EnsureAuthenticated`, I don't get any errors, but the resulting response has empty data, and the user I'm trying to extract from the conn using `Guardian.Plug.current_resource(conn)` is empty.

[code]

[2017-03-15 01:47] hassox commented on #278
ok agreed that this is strange :\

Can you add a debugger plug into your pipeline just after the fetch session and dump out the parsed session? It'd be helpful to know if it's getting back on the way in before we get to the guardian plugs.

Sorry that you're having trouble :(

[2017-03-15 01:53] egeersoz commented on #278
How do I add a debugger plug into the pipeline? :)

[2017-03-15 02:01] hassox commented on #278
Oh sorry... Just a simple one to splat things out. Something like:

[code]

Then throw that in your pipeline

[code]

[2017-03-15 02:16] egeersoz commented on #278
Alright, debug data immediately after `:fetch_session` - [here you go](https://gist.github.com/egeersoz/0c272860a839e0d444b4527a2e65250c).

[2017-03-15 02:27] hassox commented on #278
Thanks. That looks very strange. At the point you've dumped guardian sign in has already run. You can see it in the session with the flag to write.

After that request, what is the debug information? i.e. the next request that you're expecting to be logged in.

[2017-03-15 02:47] egeersoz commented on #278
Whoops, sorry. I think I provided the wrong debug log. I restarted the server and re-ran the steps. [This is what I got](https://gist.github.com/egeersoz/1d4fb9d9cada452d003b9bffb4ce8553).

[2017-03-15 02:51] hassox commented on #278
Thanks for the update.

I see there that there is no cookie header or request cookies. I went back and had a look at the request log again. There is no cookie being sent to the server in the request :(

If you looks at a request from this page for ex, you can see that there is a cookie included in the request headers. I'm not seeing any evidence that the client is sending cookies back up to the se

[2017-03-15 02:53] egeersoz commented on #278
Yeah, hmm. Might it be because the cookie has the `HttpOnly` option set?

[2017-03-15 02:54] hassox commented on #278
Maybe... I'm not sure how to deal with that :\

[2017-03-15 02:54] egeersoz commented on #278
No worries. I think I'm going to go back to the regular approach. Thanks a lot for your help! :)

[2017-03-15 02:55] hassox commented on #278
Np. Good luck!

[2017-03-15 03:13] lukerollans commented on #258
That's fantastic news. I solved the above by moving everything to the one app which is less than _perfectly_ ideal, but it's also OK.

Looking forward to refactoring once 1.0 hits 👍

[2017-03-15 20:34] egeersoz commented on #259
@hassox Sorry to comment on a closed issue, but regarding your response on Jan 18th, did I understand it correctly, i.e. in vanilla Guardian, calling `revoke!` doesn't actually revoke the token?

Reading the source code, this seems to be the case. `Guardian.revoke!` calls `Guardian.hooks_module.on_revoke`, which is just:

`def on_revoke(claims, jwt), do: {:ok, {claims, jwt}}`

As in, it doesn't ac

[2017-03-15 21:41] sphinxc0re opened #279 "Compatibility with Pheonix 1.3"
Since [Pheonix 1.3](https://github.com/phoenixframework/phoenix/releases) is going to be released soon, when will guardian become compatible with it? Currently I'm unable to use it because I already adopted the RC-1 of Phoenix 1.3
[code]

[2017-03-15 21:45] doomspork commented on #279
Please see the other issues on 1.3 compatibility: https://github.com/ueberauth/guardian/issues/273

[2017-03-15 21:45] #279 closed

[2017-03-15 22:27] sphinxc0re commented on #279
Oh, snap! I did issues wrong again 😅 Thanks for your quick help @doomspork

[2017-03-17 02:04] jstr commented on #271
@mikebaldry the implementation example here worked for me: https://github.com/hassox/phoenix_guardian/blob/ueberauth-guardian/test/channels/authorized_channel_test.exs

[2017-03-21 04:49] Hostert opened #281 "Can guardian work with Fernet?"
Hello.

[This post](https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid) exposes JWT as insecure and suggests the use of Fernet as alternative.

Can guardian work with Fernet naturally or be adapted for it? Or am I talking nonsenses?

### Fernet links:

- https://github.com/fernet/spec
- https://hexdocs.pm/fernetex/
- https://hexdocs.pm/fernet_ecto/

[2017-03-21 22:18] doomspork commented on #281
At first glance it looks like Fernet would require a bit of work but it doesn't look impossible.  How would you propose using Fernet @Hostert?  If you generate a JWT and then apply Fernet to that, it doesn't look like much work at all.

[2017-03-22 04:16] Hostert commented on #281
Hey @doomspork, I'm still new to Elixir and guardian, so I can't do any valid suggestion, I think. But, as guardian documentation says, "The core currency of authentication in Guardian is JSON Web Tokens (JWT)."

So, in `config.exs` instead of using the optional `verify_module: Guardian.JWT`, we could use something like `verify_module: Guardian.Fernet`, or just `verify_module: Fernet`.

But, as I

[2017-03-24 15:29] bryanjos commented on #268
@scrogson sorry for the delayed response, I can put a PR in as soon I get a chance.

[2017-04-03 00:27] agusguerra10 opened #283 "Is there a way to validate a token ignoring the expiration date?"
Is there a way to validate a token ignoring the expiration date? Or can anybody tell me if there's an easy modification I could make to the library to allow this?

Thanks!

[2017-04-03 02:12] doomspork commented on #281
@Hostert Guardian is closely tied to JWT, it's more than just verifying the token.

What would you use Fernet to hash?  How would hashing that generic value differ from hashing a JWT with Fernet?

[2017-04-04 01:33] Hostert commented on #281
@doomspork

I see. Unfortunatelly, I did not understand exactly why JWT is insecure or the ways it could be a problem to us. I'm using guardian the way it is. I just asked this because I wanted to understand why, or in which way Fernet could be used in replacement of JWT.

I would like to help you with any suggestion, but if you don't know exactly how to answer this issue, we can close this for no

[2017-04-04 14:25] awwong1 opened #284 "Should Guardian.refresh invalidate the current token?"
I'm currently learning Guardian, so forgive me if this is a noob question.

I have the following route which I call when I want to refresh my JWT.

[code]

I currently have a test case where I authenticate my user and store the JWT. I then refresh the token, which generates the new JWT. However, both the old and the new JWT are currently valid:

[code]

Should users still be able to use the old JW

[2017-04-05 05:52] awwong1 commented on #284
Just did more reading and realized that GuardianDb solves my problem here.

[2017-04-05 05:52] #284 closed

[2017-04-06 14:00] hopewise opened #285 "Always get unauthorized"
In config.exs:

In route:

Unfortunately, I just get Unauthorized, although I am using the same secret key and algo when creating the sent token.

Any idea? or at least, how to debug this?

[2017-04-06 16:29] hassox commented on #285
Hey there. Without any more information I'm wondering if setting it to 10 years is perhaps too long. Have you tried shortening the token life to maybe a month?

[2017-04-06 16:31] hassox commented on #285
If you could, what is the error reason from decide and verify?

[2017-04-07 08:31] kuffel commented on #258
I had a similiar issue. It can be solved by updating your umbrella configuration files in this way:

For example you have an umbrella app with two websites using guardian an other apps that are being used by them, e.g.

website_a (using guardian)
website_b (using guardian)
common_app_a
common_app_b

In config.exs of your umbrella, remove this line:

    import_config "../app/*/config/config.exs"

[2017-04-08 04:40] Faolain commented on #189
how did you solve this?

[2017-04-08 18:34] adsteel commented on #189
This part of the error message was where the issue was:

[code]

I configured Guardian according to the docs and everything worked fine.

[2017-04-09 14:21] hopewise commented on #285
I tried shortening it to 2 months, I still get `Unauthenticated` error.
Then, I found that the `issuer` in settings does not match the `issuer` in token! So, that was the problem, and I have fixed it, thanks.

[2017-04-09 14:21] #285 closed

[2017-04-09 14:27] hopewise opened #286 "Multiple configurations?"
I am using my phoenix app to serve several end points, how can I have multiple config for Guardian? is this possible?

As there will be different issuer name for each endpoint.

Please advice, thank!

[2017-04-10 14:03] scrogson commented on #286
Hi @hopewise,

Thanks for submitting this issue. This is a duplicate of https://github.com/ueberauth/guardian/issues/258 so I will close. Feel free to join in the conversation there.

[2017-04-10 14:03] #286 closed

[2017-04-10 14:22] #268 closed

[2017-04-10 18:18] doomspork commented on #281
We'll keep and eye on this and we can revisit in the future @Hostert 👍

[2017-04-10 18:18] #281 closed

[2017-04-10 18:52] scrogson commented on #283
@agusguerra10,

Can you give some more details why you would want to do this? That seems like a major security vulnerability.

[2017-04-10 18:53] #271 closed

[2017-04-10 20:10] agusguerra10 commented on #283
I know it's not the best thing considering security but it's something I am willing to leave aside in this particular case.

I have lots and lots of users with an expired token, resulting with them being logged out of the app. I need this users to get a new token without having them to enter their credentials again, so ignoring the token expiration date or being able to refresh a token with an old

[2017-04-11 06:52] hopewise commented on #258
In my case, it's not an umbrella app, but one app with multiple endpoints.
How would I have multiple configurations for Guardian in one app?

[2017-04-11 08:09] hopewise opened #287 "badmatch when connect to socket"
I tried to use it with socket, when I do `sign_in` as:

[code]
I got error:
[code]

I try to connect as:

    ws://192.168.1.32:4000/socket/websocket?guardian_token=Bearer xxx&vsn=1.0.0

I am sure that the token works fine, as I already tried it successfully in rest call for an api at a controller.

Any idea?

[2017-04-12 06:47] nathanbuchar commented on #119
This was very helpful, thank you for outlining your solution :)

[2017-04-12 21:37] scrogson commented on #287
@hopewise,

It looks like the problem is that you have `Bearer ` prefixed to the token. That should only be the value when used as an `Authorization` header.

[2017-04-12 21:37] #287 closed

[2017-04-12 22:03] scrogson commented on #283
That is not something I recommend and is definitely not in scope for Guardian.

If you really "need" that, you can define your own claim validation module and configure Guardian to use that:

[code]

Have a look at `Guardian.JWT` and `Guardian.ClaimValidation`.

[2017-04-14 16:16] odarriba commented on #258
Hi!

I've been with this issue (I'm developing an umbrella app with multiple Endpoints that use Guardian in a different way).

What do you think about making some parts of the `Guardian` lib (the ones that read and directly use the config) as part of a macro, (which can read the config using a parameter and __MODULE__, as Ecto does).

Then it can be used in a module like:

[code]

[2017-04-14 17:41] hassox commented on #258
Something like this is what we've been thinking for  1.0

The global config is too limiting

[2017-04-14 17:43] odarriba commented on #258
any ETA? so you accept PR in case I can dedicate some time to this?

[2017-04-16 17:17] scrogson commented on #258
Starting work on this.

[2017-04-20 19:42] ponty96 opened #288 "Failed to use "phoenix" (version 1.3.0-rc.1)"
I'm having issues using Guardian with `Phoenix 1.3.0-rc.1`
<img width="923" alt="screen shot 2017-04-20 at 8 41 38 pm" src="https://cloud.githubusercontent.com/assets/11190968/25249446/c79bdf22-2609-11e7-9e08-ef2a45c236b1.png">

[2017-04-20 19:56] #288 closed

[2017-04-25 14:42] Linbubin opened #290 "Use Guardian without Model"
Hello,   This problem is similar to #163 ,
I use Guardian in phoenix. My project is to use an interface to verify that the user name and password are matched, if the authentication success to enable users to log on and continue to visit other page.
And I write
[code]
but I don't know how to write conn |> Guardian.Plug.sign_in(%{??????}) in SessionController When the user verifies.
And when user lo

[2017-04-25 15:06] b-murphy commented on #290
@Linbubin have you explored using a Struct in place of the Ecto example? will post example shortly if not.

[2017-04-26 00:17] Linbubin commented on #290
@b-murphy  sorry, I dont find  example, can you post some links?

[2017-04-26 02:42] Linbubin commented on #290
I just write when someone is authenticated.
[code]

and when people log out
[code]
routes:
[code]
It achieve what I expected, but I don't think it's the right way to write, even I don't use Guardian.Plug.current_resource( This is not necessary？).

who can give me some advice ?

[2017-04-26 06:37] Angarsk8 commented on #189
I'm experiencing the same issue and I'm sure I configured Guardian according to the docs. This is happening after running `mix docker.build` to build a docker image using the `mix_docker` package.

This is the error I'm getting:

[code]

Does anyone has experienced this problem using `mix_docker` for building docker images and generating releases?

Thanks,

[2017-04-26 08:18] b-murphy commented on #290
@Linbubin here is a possible example ~

Firstly if you use a basic struct to define your user
[code]
With this you can pass it into the serializer through the `Guardian.Plug.sign_in`
[code]
Then within your serializer you will need to define a way to serialize the user struct
[code]
This is an imperfect solution & i feel that perhaps you are more looking for basicAuth on your application. Also i s

[2017-04-26 12:03] Linbubin commented on #290
@b-murphy Thanks very much.
if I create a user table just store username, it's ok?
[code]
but Guardian.Plug.current_resource use where? (automatic call when loading page?)

[2017-04-26 12:48] b-murphy commented on #290
@Linbubin think perhaps you are best to start from the beginning and follow this guide perhaps ~ http://blog.overstuffedgorilla.com/simple-guardian/

[2017-04-26 20:00] johannesE commented on #288
I am having the same Problem. @ponty96 Why did you close this?

[2017-04-26 21:00] dfcarpenter commented on #288
@johannesE I did but I also made another change to uuid because I was using cqex which is a cassandra client for elixir. It relies on cqerl which in turn uses an erlang lib called :uuid which causes problems on compile. Thus I had to for the elixir uuid  ( the one on hex.pm ) and rename it.

[2017-04-27 00:36] Linbubin commented on #290
@b-murphy  ok， thanks

[2017-04-27 01:31] #290 closed

[2017-04-27 08:51] psteininger opened #291 "%FunctionClauseError{arity: 1, function: :jose_jwk, module: Guardian}"
Hi,
I am trying to get Guardian working with RS256 tokens issued by Auth0. With Auth0 and RS256 algo, the tokens are signed with a private key related to a certificate for the Account, and then verified with the public key inside the cert. I extracted the public key in PEM format and stored it in ENV var. This is exactly the setup that works for another app built with Ruby + Grape.
In development

[2017-04-27 13:51] psteininger commented on #291
I got my setup to work in a round-about way, which is suggested in: https://github.com/ueberauth/guardian/issues/187
[code]

I hope this helps anyone trying to get things working with `envy` and `auth0`. I will try to blog about it next week and add a link here

[2017-04-27 13:55] psteininger commented on #291
I also wanted to add a note that with `Auth0` the certificate for each account is publicly accessible, so committing the whole cert or even just the extracted public key would be quite OK.

[2017-04-28 11:27] johannesE commented on #288
@dfcarpenter Okay, thanks for your explanation. I'll create a small PR for guardian in this case.

[2017-04-28 13:29] #283 closed

[2017-04-28 13:29] #267 closed

[2017-04-30 12:45] odarriba commented on #288
Just created a PR #293 about this.

[2017-04-30 17:43] asummers opened #294 "Hex Publish"
Is it possible to make a Hex publish soon? We're running on specific shas from master Thank you.

[2017-05-01 07:05] johannesE commented on #288
Oh no. Now we have #292 and #293. Two rejected PR's.
For any future visitors: The resolution is to use `override: true`:
` [{:phoenix, "~> 1.3.0-rc", override: true}` until the new phx version comes out.

[2017-05-06 15:31] maxnordlund opened #295 "Relax phoenix dependency to 1.3"
Phoenix 1.3 has a release candidate, and it would be nice if you could use Guardian with it. I don't think there should be any problems, as it's Plug based, but it's hard to tell until you've tried it for real.

Thoughts?

[2017-05-06 16:43] doomspork commented on #295
@maxnordlund please see one of the many issues on Phoenix 1.3 where this has been discussed: https://github.com/ueberauth/guardian/issues/288

[2017-05-06 16:43] #295 closed

[2017-05-06 16:43] maxnordlund commented on #295
Ah, thanks.

[2017-05-06 16:46] maxnordlund commented on #295
All though, considering the amount of issues I found, it might be good to relax the constraint anyways.

[2017-05-06 17:25] doomspork commented on #295
There's no plan to do that @maxnordlund but thank you.  Issues like this come up when using Elixir all the time, it's important to handle it the proper way (as mentioned in those issues) and not force packages to loosen their dependencies.

[2017-05-06 17:29] maxnordlund commented on #295
True, but from what I could tell by reading through those issues, there seem to be no issue with using Guardian with 1.3. Anyway, sooner or later it will be released and then this can be properly dealt with.

[2017-05-06 17:33] doomspork commented on #295
Thanks @maxnordlund 👍

[2017-05-06 20:24] xadhoom commented on #294
+1 for this, in my case to make dialyzer happy :)

[2017-05-08 10:27] anildigital commented on #180
👍

[2017-05-08 16:48] doomspork commented on #294
@asummers / @xadhoom I will work on that this week, sorry for the delays 👍

[2017-05-10 07:45] anildigital opened #296 "Guardian session for external url (subdomains)"
Facing weird isssue..  I have guardian session already set in a function.. I also do

[code]

but it’s hitting at

```  def unauthenticated(conn, params) do```

in the module I am redirecting..

If I inspect conn in the unauthenticated function

I see this

[code]

Anything wrong … I do pipe through pipeline

[code]

also I have

[code]

in the controller

And here is Plug for session in my app's

[2017-05-11 10:40] Licenser opened #301 "JWT doesn't include JSON"
I'm a bit baffled, probably because I've no idea what I'm doing, but it seems the JWT that gets generated by guarding is missing the J part of JWT. Sneaky as I am, I copied the header and put it in https://jwt.io/ to see what the payload is, and it seems like it's not JSON at all -.-

While the encoding isn't much of a problem when it comes to handling things inside elixir it gets problematic when

[2017-05-11 11:03] #296 closed

[2017-05-11 11:04] anildigital commented on #296
It was my bad.. I had duplicate router where I was not piping through plug filter.

[2017-05-11 16:14] scrogson commented on #301
Hi @Licenser, can you provide the configuration you're using?

[2017-05-11 16:19] scrogson commented on #301
Looking at the value you included in this issue, it appears that the payload looks like this:

[code]

It looks like the JWT is being encoded inside the payload.

[code]

Putting that into jwt.io shows this:

Header:
[code]

Payload:
[code]

[2017-05-11 18:36] Licenser commented on #301
Ohhhh! you are right it's a JWT inside a EWT? The outside seems to be an erlang term, I suspose that's not a guardian thing but something phoenix adds around it. I guess  I'll close this and dig around in phoenix :) sorry for the wrong place for the bug, I thought the outer wrapper is the guardian one.

PS: thanks for the great library!

[2017-05-11 18:36] #301 closed

[2017-05-23 16:26] hassox opened #305 "Move Plug VerifySession to V1"
V1 plugs need to be ported over to v1.

At the stage I'm thinking of plugs working something like:

[code]

Under the hood this should delegate to `Guardian.Plug.VerifySession.run(mod, conn, options)`.

The token should be stored as current in the session, and the resulting verified token/claims should live on conn private under the pre-1.0 key structure.

See https://github.com/ueberauth/guardian

[2017-05-23 16:31] hassox opened #306 "V1 - Add claims, resource and token to the conn"
When plugs are operating on guardian data in pre-1.0 they access information on the `assigns` key. This should move to the private data.

The following functions need to be implemented on both `Guardian` and the implementation module which should delegate to `Guardian`

* `set_current_token`
* `set_current_claims`
* `set_current_resource`
* `current_token`
* `current_claims`
* `current_resource`

[2017-05-23 16:32] hassox opened #307 "V1 - Plug Verify Header"
Move Plug verify header over to the new v1 structure.

See https://github.com/ueberauth/guardian/issues/306 #309

[2017-05-23 16:35] hassox opened #308 "V1 - Load Resource Plug"
The load resource plug needs to be moved over to be compatible with v1.

Ideally the load resource plug would take an option that allowed it to also provide the functionality of the ensure resource plug if required.

The options that need to be handled are: `key`

#309  #306

[2017-05-23 16:40] hassox opened #309 "V1 - Plugs"
We need the plugs to come over to the v1 structure.

There is an opportunity here to do things a little differently to pre-1.0

All plugs should accept options for the `key` position of the credentials but also the current requirement for `handler` seems a bit heavy handed especially with the advent of the FallbackController.

Having a whole bunch of different callbacks to implement also seems a b

[2017-05-23 16:42] hassox opened #310 "V1 - Ensure Resource"
Move the ensure resource plug to v1

#306 #309

[2017-05-23 16:43] hassox opened #311 "V1 - Ensure Not authenticated"
Move the ensure not authenticated to v1 structure

#306 #309

[2017-05-23 16:44] hassox opened #312 "V1 - Move Ensure Authenticated"
Move the ensure authenticated plug to v1
#306 #309

[2017-05-23 16:45] hassox opened #313 "V1 - Create permissions repo"
We've decided that we want to implement permissions as a separate library that uses the hooks provided in the implementation module. The current behaviour of permissions needs to be extracted and setup to work with the v1 structure.

#306 #309

[2017-05-23 16:46] hassox opened #314 "V1 - Update GuardianDb"
Update GuardianDb to work with v1

[2017-05-23 16:48] hassox opened #315 "v1 - Add sign in / sign out functions"
`Guardian.Plug` and `<ImplmentationModule>.Plug` need to have sign in functionality enabled.

The difference between `api_sign_in` and `sign_in` is pretty annoying. It would be great if we could have one version that checked if the session was loaded and only used it if it were present or worst case used an option to tell it to store in the session or not.

Also needed is the `authenticated?` func

[2017-05-23 16:50] hassox commented on #261
This is taken care of int he v_1 branch.

[2017-05-23 18:18] hassox opened #316 "v1 - Add documentation"
Add docs to v1.

[2017-05-24 16:14] atom-r opened #317 "Request support for Phoenix 1.3 release candidate"
Not sure if this is worth opening as an issue. Support for 1.3 would be great. Or some kind of a temporary workaround.

[2017-05-24 16:18] doomspork commented on #317
@atom-r this has been covered numerous times already.  Please look at the many existing issues for 1.3 compatibility:

https://github.com/ueberauth/guardian/issues/273
https://github.com/ueberauth/guardian/issues/274
https://github.com/ueberauth/guardian/issues/276
https://github.com/ueberauth/guardian/issues/277
https://github.com/ueberauth/guardian/issues/279
https://github.com/ueberauth/guardia

[2017-05-24 16:18] #317 closed

[2017-05-26 15:25] #315 closed

[2017-05-26 15:25] #306 closed

[2017-05-26 15:56] hassox commented on #309
These are the options I've got so far:

[code]

[2017-05-26 16:03] hassox commented on #309
A possible alternative:

[code]

[2017-05-26 16:05] hassox commented on #309
We could also setup the error handler module that way too:

[code]

[2017-05-26 16:17] hassox commented on #309
Another alternative from @scrogson

[code]

[2017-05-26 16:22] doomspork commented on #309
Another discussed option:

[code]

[2017-05-26 16:23] scrogson commented on #309
We could also allow configuration to be read from config...

[code]

[2017-05-26 16:38] doomspork commented on #309
Here's an example implementation of the `Guardian.Pipeline`:

[code]

[2017-05-27 16:35] #309 closed

[2017-05-28 18:57] #305 closed

[2017-05-29 06:41] #307 closed

[2017-05-29 17:05] Licenser opened #329 "Guardian.Permissions.all? acts like or not and"
It seams that the `all?` function acts like the `any?` function given the following code:

[code]

produces the following output:
[code]

with the config:
[code]

[2017-05-29 21:47] hassox commented on #329
Hey @licenser can you please show the raw perms from your example? At first glance I'd say it's becausewhen you're checking the permissions you're using "update" but in your config you're using edit.

[2017-05-30 18:38] #312 closed

[2017-05-30 18:59] #311 closed

[2017-05-30 19:29] #308 closed

[2017-05-30 19:30] hassox commented on #310
With v1 load resource this plug is no longer needed. Use the `allow_blank: true` option to gain previous behaviour. By default this will fail if no resource was found.

[2017-05-30 19:30] #310 closed

[2017-05-30 19:44] hassox commented on #294
Published as v0.14.3

[2017-05-30 19:44] #294 closed

[2017-05-30 20:57] yordis opened #333 "Add current_resource/1 accepting a token string"
Instead `Guardian.Plug.current_resource/1` which decode the resource and load it but it's attach to `Plug.Conn` will be good if we add `Guardian.current_resource/1` which does the same but expects a `token string`

That function probably would be use in the `Guardian.Plug.current_resource/1` workflow.

[2017-05-31 18:04] hassox opened #336 "V1 Split out guardian phoenix"
The phoenix support requires phoenix but Guardian should be agnostic and only rely on Plug.

[2017-05-31 18:49] #333 closed

[2017-06-01 09:35] iJackUA opened #337 "Broken __using__ in Phoenix Socket integration"
Hi, it looks like this change
https://github.com/ueberauth/guardian/commit/fa041f08c6a241b2707dae77c504e7e5c1b411e0#diff-9b0cf1043709cd1ce128d2d56e3b1c22L57
breaks automatic usage of `use Guardian.Phoenix.Socket`

[code]

I have `use Guardian.Phoenix.Socket` at `user_socket.ex:3` and as I understand it fails on evaluation of `__using__`.
Also I can not eliminate evaluation of `__using__` even if I

[2017-06-01 15:06] jcomellas commented on #337
This is happening because within the `Guardian.Phoenix.Socket__using__/1` function the `params` variable is used as an argument to `sign_in/4` without it being bound to anything. The commit mentioned in the issue removed the binding.

PR #338 fixes the problem.

[2017-06-01 15:08] #337 closed

[2017-06-02 21:46] hassox commented on #329
Going to assume it was the mis-named permission name. Please let me know if that wasn't it.

[2017-06-02 21:46] #329 closed

[2017-06-02 21:54] Licenser commented on #329
Oh damn sorry for getting back so late, GH only told me there was a reply today. Yea you're right it's a typo -.- damn me.

That said, I wonder if would be better to error/crash on unknown permissions. Given it's security it feels to like like airing on the side of caution. would be better? I mean 'unknown permission == always true' seems odd.

[2017-06-03 16:21] odarriba commented on #258
Any updates on this?

[2017-06-03 17:54] hassox commented on #258
Hey @odarriba

Work is progressing on V1 which includes the ability to have multiple configurations in a single app. There are three remaining items left.

1: the Phoenix helpers
2: permissions
3: updating guardian db

I expect that these will be finished and an rc will be released later next week.

[2017-06-03 17:55] hassox commented on #336
I was going to create a separate repo for this but @scrogson pointed me to optional dependencies. Going to use that feature

[2017-06-03 20:22] #336 closed

[2017-06-03 20:22] hassox commented on #313
I'm going to leave this in Guardian but in order to use it it'll need to go into the build_claims hook

[2017-06-04 10:07] odarriba commented on #258
Thanks for the update @hassox !
Looking forward to see the RC and start using it for our multi-app umbrella project 😄

[2017-06-04 16:07] ltenzil opened #340 "Not an issue, its a question"
Hi, I am a rails guys, just started exploring phoenix. Is it(guardian) is more like devise for rails. Does it support  mainly sub domain logins and other features supported by devise. If its not, please tell me which does. Please help me out here. Thanks in advance

[2017-06-04 17:05] hassox commented on #340
Hi @ltenzil

The closest library in Ruby to guardian is Warden (devise is built on top of Warden). I haven't been tracking it closely but the closest lib I can think of to devise is sentinal. https://hex.pm/packages/sentinel

[2017-06-04 18:24] ltenzil commented on #340
Hi @hassox
Thanks for replying ASAP. I am at 0th level in phoenix. I have just started reading the book. Is there any tutorial series, which you recommend. Slack for beginners, forum i can join specific to phoenix.
Anything will be helpful. Once again thank you

[2017-06-04 19:16] hassox commented on #340
The slack for elixir-lang is good. Lots of folks in there that are willing to help.

#phoenix or #general are good all round channels. There is also an #ueberauth channel for things related to Guardian and Ueberauth.

The programming Phoenix book by Chris is a great resource to get up and running especially if you're coming from a rails background. https://pragprog.com/book/phoenix/programming-pho

[2017-06-04 20:02] ltenzil commented on #340
programming-phoenix is the book i am reading. Thank You So Much spending time and answering all my queries. Will join you guys. Bye Have a great day! :)

[2017-06-04 20:02] #340 closed

[2017-06-09 14:43] quytang opened #341 "mix deps.get error"
Guardian doesn't work with the newest version of Phoenix

[code]

$ mix deps.get
[code]

[2017-06-09 17:25] hassox commented on #341
Hey @quytang

Sorry about the issue :( this will be resolved in the next release. For now you can add the "override: true" option to your phoenix deps to get you going.

[2017-06-10 05:40] quytang commented on #341
tks @hassox

[2017-06-10 22:09] thomasdola commented on #285
@hopewise how did you fix it?

[2017-06-10 22:14] hassox commented on #341
I've put up a PR for this at https://github.com/ueberauth/guardian/pull/343

[2017-06-10 22:14] hassox commented on #313
PR for this up at https://github.com/ueberauth/guardian/pull/342

[2017-06-11 18:25] #341 closed

[2017-06-11 18:26] #313 closed

[2017-06-12 15:58] hassox commented on #314
https://github.com/ueberauth/guardian_db/pull/52

There didn't actually need to be an update to GuardianDb for 1.0. It just gets setup slightly differently. Yay for functions!

[2017-06-12 15:58] #314 closed

[2017-06-19 17:23] hassox opened #346 "V1 - Create an upgrade guide"

[2017-06-19 17:35] hassox commented on #316
Explain exchange and tokeb types better

[2017-06-26 20:53] ghoshnirmalya opened #348 "Sending the token to a separate frontend application from Phoenix api-only app"
How are we supposed to send the token to the frontend application since the frontend application will have to open a new window for Google authentication to work properly. So, when we send the token to the frontend from the new window, only the token will be rendered in the window as json.

For example, in my backend application, I ping `localhost:4000/api/v1/auth/google` to get the token. But whe

[2017-06-26 20:55] hassox commented on #348
Is this related to the token flow for google OAuth? if it is you'd be better off asking on Ueberauth google. Guardian itself doesn't deal with these issues.

That being said there is an open issue on Ueberauth google to deal with client token flows better.

[2017-06-26 21:16] ghoshnirmalya commented on #348
Thanks for the quick reply. I'll take this discussion over there.

[2017-06-26 21:16] #348 closed

[2017-06-27 09:00] phtrivier opened #349 "How can you obtain the base64 version of the Guardian secret_key"
I'm configuring guardian with a binary as a secret key:

  yUj59VqsZRLELkqyO21AHk0ztcAfLKeMUB67KpPPZSRttTy1zqF4y9XYSbZGjXVx

When I generate a token and paste it in an online decoder like https://jwt.io/ , the token gets decoded fine, but using the default "secret", the signature is invalid (as expected.)

However, I can not seem to pass the proper secret to the decoder. What should it be ?

* the

[2017-06-27 17:01] hassox commented on #349
I'm not sure. I've never tried to paste my. Secret I to an online decoder :/

[2017-06-29 00:37] doomspork commented on #349
@phtrivier could you share more of your configuration?  I took the key you provided above, threw it into an old project of mine (https://github.com/doomspork/watercooler), generated a JWT, and was able to verify it via jwt.io:

[code]

![image](https://user-images.githubusercontent.com/73386/27666425-cd63ec76-5c30-11e7-9731-7c815c30362e.png)

Double check that you're not adding whitespace to the s

[2017-06-29 08:56] johannesE commented on #288
@sergiotapia it overrides the version of the dependencies. So if guardian has phoenix ~> 1.2 defined (which does not include rc's and betas, but 1.3.0 would be used), then we are telling mix that it's okay to use phoenix 1.3.0-rcx for guardian and all the other packages that depend on phoenix. That's how I understood this.

[2017-06-29 19:36] sergiotapia commented on #288
Thank you

[2017-06-29 19:37] #349 closed

[2017-07-07 09:54] burley1 opened #353 "Version conflict"
Now guardian conflicts with new version of phoenix:
`
Failed to use "phoenix" (versions 1.3.0-rc.0 to 1.3.0-rc.2) because
  deps/guardian/mix.exs requires ~> 1.2 and < 1.4.0 *
  mix.exs specifies ~> 1.3.0-rc

`

[2017-07-07 12:01] g33kidd commented on #353
You can just add `override: true` to your phoenix dependency.

`{:phoenix, "~> 1.3.0-rc", override: true}`

You may also want to look at #317 for a list of issues regarding 1.3.

[2017-07-07 12:04] #353 closed

[2017-07-13 03:45] #261 closed

[2017-07-13 03:48] scrogson commented on #90
Tracking this in https://github.com/ueberauth/guardian/pull/354

[2017-07-13 03:48] #90 closed

[2017-07-23 12:17] milkcocoa commented on #341
Hi @hassox

Do you have any plan when this fix is released?

[2017-07-23 18:35] #316 closed

[2017-07-24 09:00] TheAncientGoat opened #357 "Header auth works without Bearer specification"
Ran into a strange issue today, while authenticating my api - VerifyHeader did not work when specifying ```authorization: Bearer {token}```, but did work when passed without the authorization schema (Bearer), ie. ```authorization: {token}```

Pretty sure this isn't the intended behaviour?

Full pipeline follows:

[code]

[2017-07-24 14:33] doomspork commented on #357
Howdy @TheAncientGoat, this is the intended functionality.  If you wish to use the bearer realm you need to update your `VerifyHeader` plug to pass in opts:

[code]

In the upcoming version of Guardian (v1), this will be the default. 👍

[2017-07-24 14:33] #357 closed

[2017-07-25 01:47] TheAncientGoat commented on #357
Thanks for the quick reply - would it be helpful if I made a pull request mentioning that in the Readme? Took me a while to figure out

[2017-07-25 03:04] doomspork commented on #357
@TheAncientGoat sure!  We're hoping to release v1 soon and that will make this a default but in the mean time a comment in the README is a good idea 👍

[2017-07-27 19:46] plamb opened #363 "v1 use Guardian not creating plug functions"
I'm trying to do a bit of testing with the v1 branch. After a bit of trial and error I figured out that adding the Plug functions in lib/guardian.ex:303 isn't working after it checks to see if plug is loaded.

This is Phoenix 1.3 from master, with Plug 1.4.2 and Elixir 1.5.0 and Erlang 19.3.

[code]
None of the plug related functions like sign_in and sign_out are there. My wild guess is that ```Co

[2017-07-27 21:04] doomspork commented on #363
Thanks for the report @plamb!  I'll take a peek this week but in the mean time we'll see if @hassox has any thoughts.

[2017-07-27 21:59] hassox commented on #363
@plamb I'm on my phone so cannot say for sure but I believe that plug functions are put onto a nested Plug module. I.e. SearchSite.Web.Auth.Guardian.Plug

[2017-07-27 22:55] plamb commented on #363
@hassox you are right, I really should have noticed that. It's right there in the v1 read me too.

[2017-07-28 00:46] #363 closed

[2017-07-28 00:47] hassox commented on #363
Glad you got it sorted :)

[2017-07-30 15:20] doomspork commented on #346
I have a project at work currently using an earlier version of Guardian.  I'll try to set aside some time to upgrade to v1 and document the process.

[2017-08-03 16:09] plamb opened #367 "v1 pipeline config"
This may be me not reading the documentation correctly again. And I apologize for not having the time to write a better issue.

When I defined a pipeline I created a module that's basically a copy and paste from the readme:
[code]
Then I added the config:
[code]
Again basically a copy/paste of the readme.

But I got all sort of really bizarre stack traces that I finally tracked down to an undefine

[2017-08-10 12:17] erikreedstrom opened #370 "Dialyzer raises unknown on Keword.t in v1"
Looks like there is a misspelling on the spec type, which is causing Dialyzer to raise a warning.
Assuming this should be `Keyword.t`.

https://github.com/ueberauth/guardian/blob/7b18c8fcb46fd34b865ee158b7958c600b8ddd3c/lib/guardian.ex#L343

[2017-08-19 17:06] asummers opened #372 "Should already_authenticated/2 be in behaviour callback list for Guardian.Plug.ErrorHandler?"
I was going through and `@impl`ing everything in our codebase at work and noticed that when I put `@impl Guardian.Plug.ErrorHandler` above `already_authenticated/2`, I received a compiler warning that it was not part of the behavior. It seems like nothing in the code is too defensive about calling it, so it seems like it might simply be oversight? I will follow up with a PR that adds it, but was j

[2017-08-19 17:26] #372 closed

[2017-08-19 17:26] #370 closed

[2017-08-21 13:25] lukaszsamson opened #374 "Guardian.Plug.sign_in silent failure and possible information disclosure"
Guardian version: 0.14.5
Current behavior:
When `Guardian.Plug.sign_in` is not able to succeed (e.g. when `Guardian.Serializer` returns `{:error, reason}`) the function returns successfully and puts potentially confidential error details in session which is then sent to the client.
Expected behavior:
Error risen when sign in does not succeed
Error details not leaked

[2017-08-22 17:18] hassox commented on #374
hey @lukaszsamson

What you describe is the behaviour in the new 1.0 branch. There's a couple of options for us on the 0.14.x branch.

1. Add a function that wraps and raises
2. We add it to Guardian 0.14.x

I'm partial to option 1 at the moment since I believe that v1 is strictly better than 0.14.x and would like to focus our energies there. Having said that if you wanted to add a function that i

[2017-08-25 22:40] sebastiandelaroche opened #375 "Change in the README.md"
mix phoenix.gen.secret it's deprecated change by phx.gen.secret

[2017-08-25 22:45] doomspork commented on #375
@sebastiandelaroche a PR is welcomed to make the change 👍

[2017-08-30 16:25] #346 closed

[2017-08-30 16:27] scrogson commented on #367
@plamb thanks for reporting this. We'll take a look today and make sure it's working as expected.

[2017-08-30 16:28] #375 closed

[2017-08-30 17:59] scrogson commented on #258
Now available on `master` and will be published to Hex very soon™.

[2017-08-30 17:59] #258 closed

[2017-08-30 18:16] scrogson commented on #291
Tackling something like this will be much easier with `v1.0`.

Something like this should do the trick:

[code]

[code]

[2017-08-30 18:16] #291 closed

[2017-08-30 19:17] scrogson commented on #367
@plamb, I've created a new app and attempted to replicate you issue but I was not able to. I know it's been awhile since you've reported this issue, but do you think you might be able to produce the  stack trace you encountered?

[2017-08-30 19:45] #367 closed

[2017-08-30 19:45] scrogson commented on #367
@plamb feel free to re-open if you are able to reproduce.

[2017-08-30 19:51] scrogson commented on #374
This bug has been addressed in `v1.0.0`. We will be releasing `v1.0.0-beta.0` to hex very soon. Please follow the upgrade guide and please be sure to let us know if you have any trouble.

Thank you!

[2017-08-30 19:51] #374 closed

[2017-08-30 22:47] psteininger commented on #291
great to know @scrogson.

BTW, as I mentioned earlier. For Auth0 specifically, using RS256 algorithm, one can just use a certificate from file (in PEM format), and JOSE automatically extracts and uses the public key.
So if could be even better:
[code]

[2017-08-30 22:48] scrogson commented on #291
Excellent!

[2017-08-31 00:26] plamb commented on #367
Thanks for looking at it. I'm already on the road heading to ElixircConf. There's also been a large amount of churn in my app since then too. If it comes back up, I'll let you know.

[2017-09-10 00:37] praveenperera opened #386 "AuthPipeline Phoenix Example"
It might be helpful to have an example of how to use the auth pipeline concept with the phoenix router. Here is what I ended up with, it works but I don't know if its a good way of doing it.

[code]

and the router.ex file

[code]

[2017-09-10 19:51] doomspork commented on #386
@praveenperera we're going to be working on an updated example application for Guardian and Ueberauth to better illustrate the features and implementations 👍

In the mean time, do you have specific questions?

[2017-09-10 20:04] praveenperera commented on #386
@doomspork Sounds good! Nothing specific right now, I got the upgrade done yesterday and it went pretty smoothly. I guess the only thing is, does the AuthPipeline above look okay?

One other thing yesterday I stupidly put the `LoadResource` plug before `VerifySession` and I was wondering why logging in wasn't working. I eventually realized my mistake. But I'm wondering if it makes sense to add a w

[2017-09-10 20:59] praveenperera commented on #386
@doomspork I actually have another question. This is about the remember_me function. I want to remember the use on login, so I do the following.

[code]

And I have this in my pipeline
[code]

Is this correct way to implement it or am I missing something? Thanks again.

Also a note on the docs:
[code]
But I don't think there is a  MyApp.Guardian.Plug.remember_me/2 function.

[2017-09-11 10:41] MartinElvar opened #387 "** (RuntimeError) No secret key configured for JWT"
Been struggling on this for some hours now, i've properly mis-configured somehow, somewhere, but i can't put eye on the errors.

Basically i'm getting the error in the title, even tho. the secret key is specified in my configuration.

[code]

But when i run my test i get the following error message.

[code]
I even tried to run ```IO.inspect Application.get_env(:splish, SplishWeb.AuthPipeline)``` i

[2017-09-11 11:55] MartinElvar commented on #387
Fixed this by supplying 2x config maps, as such.

[code]

Don't know if this is the right approach, but it seem to work.

[2017-09-11 11:55] #387 closed

[2017-09-14 19:04] yordis opened #389 "Fix modules that depends of Plug"
I keep getting this
[code]
The issue is that `guardian_db` in this case do not require `Plug` either but we are using `import Plug.Conn` so the compiler will fail.

We need to do

[code]

[2017-09-14 19:40] yordis commented on #389
Removed file, not needed it

[2017-09-15 16:07] #389 closed

[2017-09-17 12:49] oskar1233 opened #392 "Guardian.Permissions.Bitwise - "at least" the permission"
When plugging `Guardian.Permissions.Bitwise` should `ensure` and `one_of` check for permission map to be identical or contain _at least_ specified permissions?

Now it behaves the first way - when I `plug Guardian.Permissions.Bitwise, ensure: %{superuser: [:mod]}` the permissions can't be higher, e. g. `MyApp.Guardian.encode_and_sign(user, %{}, permissions: %{superuser: [:mod, :read]})` will cause

[2017-09-17 15:59] doomspork commented on #392
@oskar1233 do you have some example code we could look at?

[2017-09-17 18:54] hassox commented on #392
Agreed this should be at least. @oskar1233 do you have an example setup that shows this behaviour?

[2017-09-17 19:10] hassox commented on #392
I found the issue I believe. @oskar1233 can you confirm that this fixes the issue for you?

https://github.com/ueberauth/guardian/pull/394

[2017-09-18 06:29] oskar1233 commented on #392
@hassox It does - thank you very much. :ship:

[2017-09-18 14:39] hassox commented on #392
Great! It's merged. We'll cur a release soon

[2017-09-18 14:39] #392 closed

[2017-09-27 14:17] mitkins opened #398 "How do I redirect to a sign in page?"
I'm upgrading my app to version 1. I've setup the following pipeline to prevent unauthenticated users from accessing particular pages:

[code]

And here's my error handler:

[code]

In the past (0.14) I had an `unauthenticated` function handler in the Controller - which allowed me to use `conn.put_flash` and `conn.redirect`. With the new error handler, how do I redirect to a login page?

[2017-09-27 16:37] oskar1233 commented on #398
I think you can create module like `AuthErrorController`, which will be either Phoenix's controller and error handler in terms of Guardian.

I would add `use ZoinksWeb, :controller` to the module, then think about naming and adding it into `Web` namespace.

[2017-09-27 19:56] hassox commented on #398
You can still use a function in the controller to handle errors. Keep the pipeline you have in place and in your controller set a different error handler.

[code]

[2017-09-27 22:49] mitkins commented on #398
So I could create an `AuthErrorController` like @oskar1233 suggests and set that in my controller (as pointed out by @hassox) while still having `Zoinks.Guardian.AuthErrorHandler` as the global handler?

[2017-09-28 01:26] hassox commented on #398
Yes you could do it that way. When you use the pipeline plug you setting the error handler for all downstream plugs. You can change it out as often as you need to.

[2017-09-28 02:22] mitkins commented on #398
Cool. Thanks!

[2017-09-28 02:22] #398 closed

[2017-09-29 11:40] drowzy opened #400 "Using a function to fetch the secret fails in runtime"
Im using this approach to fetch the secret key:
[code]
 In v1.0.0-beta1 this does not work and fails with:
[code]

However if a supply an argument to the fetch function it works
[code]
Expected:
Should be possible to provide a function which takes no arguments to resolve the secret key.

[2017-10-01 17:29] doomspork commented on #400
Howdy @drowzy!  Thanks for the report but this is functioning as intended.

This was discussed quite a bit when we were working on v1 (see discussion here: https://github.com/ueberauth/guardian/pull/377#discussion_r135806789) and the decision was made to remove `{MySecretKey, :fetch}` since `{{MySecretKey, :fetch, []}` accomplishes the same goal while reducing the amount of code to maintain.

[2017-10-01 17:29] #400 closed

[2017-10-02 20:19] uzarubin opened #401 "Using halt on auth_error"
I would always get `(Plug.Conn.AlreadySentError) the response was already sent` when I tried to use the example `auth_error` as the `error_handler` inside my pipeline.

It wasn't until I added `|> halt` that the issue was fixed. See below for an example.

[code]

I was wondering if this is something that I messed up in my own configuration, or there was a forgotten `halt` in the documentation?

[2017-10-03 06:09] oskar1233 commented on #401
I suggest pasting your configuration as well.

Answering you question: `halt` shouldn't be needed here, docs aren't wrong on this.

[2017-10-03 14:21] uzarubin commented on #401
@oskar1233 I was actually following your example on some of these things.  Here is the config from my project:
[code]

And here is my `router` file:

[code]

[2017-10-03 15:25] rbino opened #402 "Guardian 1.0.0-beta1 doesn't compile without Plug"
Steps to reproduce:
- `mix new tmp`
- Add `{:guardian, "~> 1.0.0-beta.1"}` to `mix.exs`
- `mix deps.get && mix.compile`
[code]

This happens because `import Plug.Conn` is expanded even if it's inside a false conditional. You can verify this with this

[code]

[2017-10-03 16:51] doomspork commented on #402
Thank you for the report @rbino!  We'll look into this 👍

[2017-10-03 17:37] doomspork commented on #402
@rbino looks like we've already got a PR staged for this ( #397 ) so I'm going to close and cut a new release today 👍

[2017-10-03 17:37] #402 closed

[2017-10-03 21:12] rbino commented on #402
That PR didn't fix the issue, I've just tried it by using the github version and the compilation still fails without Plug. I've opened #404 that should fix the issue.

[2017-10-05 14:49] #401 closed

[2017-10-05 14:49] uzarubin commented on #401
Going to go ahead and close this.

[2017-10-08 13:16] mitkins opened #405 ""Remember Me" with a different ttl"
I'm trying to utilise the new `remember_me` function. I would like my "refresh" token to last twice as long as my "access" token. In my config I've added a `refresh_ttl` key/value pair:

[code]

In my `SessionController`, I've created the following private function to create the refresh token using the setting (above):

[code]

Is the above code a reasonable approach?

The `remember_me` function i